<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="../Common/master.Master" %>
<%@ Import Namespace="CommunityServer.Components" %>
<%@ Import Namespace="CommunityServer.Galleries.Components" %>

<asp:Content ContentPlaceHolderID="HeaderRegion" runat="server" >
    <CSControl:SelectedNavigation Selected="gallery" runat="Server" />
	<CSControl:ThemeStyle runat="server" Href="~/style/gallery.css" />
	<CSControl:ThemeStyle runat="server" Href="~/style/gallery_print.css" media="print" />
</asp:Content>

<asp:Content ContentPlaceHolderID="bbcr" runat="server">
    <asp:ContentPlaceHolder ID="bbcr" runat="server" />
</asp:Content>

<asp:Content ContentPlaceHolderID="bcr" runat="server">
    <asp:ContentPlaceHolder id="bcr" runat="server" />
</asp:Content>

<asp:Content ContentPlaceHolderID="rcr" runat="server" >
    <asp:ContentPlaceHolder ID="rcr" runat="server">
        <div class="CommonSidebar">
            <CSControl:TagCloud EnableNoTagsMessage="false" runat="server" ApplicationType="gallery" TagCssClasses="CommonTag6,CommonTag5,CommonTag4,CommonTag3,CommonTag2,CommonTag1" MaximumNumberOfTags="25" ShowTagCounts="false" IgnoreFilterTags="true" TagCloudCssClass="CommonSidebarTagCloud">
                <LeaderTemplate>
                    <div class="CommonSidebarArea">
                        <div class="CommonSidebarRoundTop"><div class="r1"></div><div class="r2"></div><div class="r3"></div><div class="r4"></div></div>
                        <div class="CommonSidebarInnerArea">
                            <CSControl:ResourceControl runat="server" ResourceName="PopularTags" Tag="H4" CssClass="CommonSidebarHeader" />
                            <div class="CommonSidebarContent">
                </LeaderTemplate>
                <TrailerTemplate>
                            </div>
                            <CSControl:SiteUrl UrlName="tags_home" ResourceName="ViewAllTags" runat="server" Tag="Div" CssClass="CommonSidebarFooter" />
                        </div>
	                    <div class="CommonSidebarRoundBottom"><div class="r1"></div><div class="r2"></div><div class="r3"></div><div class="r4"></div></div>
                    </div>
                </TrailerTemplate>
            </CSControl:TagCloud>
 		
 		    <CSGallery:GalleryPostList runat="server">
 		        <QueryOverrides SortBy="PictureDate" SortOrder="Descending" PageSize="5" />
 		        <LeaderTemplate>
 		            <div class="CommonSidebarArea">
	                    <div class="CommonSidebarRoundTop"><div class="r1"></div><div class="r2"></div><div class="r3"></div><div class="r4"></div></div>
	                    <div class="CommonSidebarInnerArea">
 		                    <CSControl:ResourceControl runat="server" ResourceName="Gallery_PortalPictureListing_TitlePostDate" Tag="H4" CssClass="CommonSidebarHeader" />
 		                    <div class="CommonSidebarContent">
 		        </LeaderTemplate>
 		        <HeaderTemplate>
		            <ul class="CommonSidebarImageList">
	            </HeaderTemplate>
	            <ItemTemplate>
	                <li><CSGallery:GalleryPostData LinkTo="ViewPicture" runat="server" Tag="Div" CssClass="CommonSidebarImage"><ContentTemplate><CSGallery:GalleryPostImage ImageType="Other" Width="120" Height="90" runat="server" /></ContentTemplate></CSGallery:GalleryPostData></li>
	            </ItemTemplate>
	            <NoneTemplate>
		            <li><CSControl:ResourceControl ResourceName="None" runat="server" Tag="Div" CssClass="CommonSidebarImage" /></li>
	            </NoneTemplate>
	            <FooterTemplate>
		            </ul>
	            </FooterTemplate>
	            <TrailerTemplate>
	                        </div>
                        </div>
	                    <div class="CommonSidebarRoundBottom"><div class="r1"></div><div class="r2"></div><div class="r3"></div><div class="r4"></div></div>
                    </div>
	            </TrailerTemplate>
 		    </CSGallery:GalleryPostList>
		</div>
    </asp:ContentPlaceHolder>
</asp:Content>