<%@ Page Language="C#" AutoEventWireup="true" CodeFile="CSUpdateUser.aspx.cs" Inherits="CSUpdateUser" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="frmCSUpdateUser" runat="server">
    <div>
		- User Updated -
    </div>
    </form>
</body>
</html>