<%@ Page language="c#" Codebehind="Default.aspx.cs" AutoEventWireup="false" Inherits="CommunityServer.ControlPanel.Tools.ToolsHomePage" %>
<CP:Container runat="server" id="MPContainer" thememasterfile="SetupControlPanelMaster.ascx">
	<CP:Content id="DescriptionRegion" runat="server">System Tools</CP:Content>
	<CP:Content id="TaskRegion" runat="Server">
		
		<p>Content TBD</p>
		
		
	</CP:Content>
</CP:Container>
