﻿<%@ Page EnableViewState="false" Language="C#" AutoEventWireup="true" Inherits="CommunityServer.Discussions.Controls.CSForumThemePage" %>
<%@ Import Namespace="CommunityServer.Components" %>
<%@ Import Namespace="CommunityServer.Discussions.Components" %>
<%@ Import Namespace="CommunityServer.Discussions.Controls" %>
<%@ Register TagPrefix="CustomAvatar" TagName="CSAvatar" Src="CustomAvatar.ascx" %> <!--Added by Kishan-->

<script language="C#" runat="server">

    void Page_Load()
    {
        if (CurrentForumPost != null)
            SetTitle(CurrentForumPost.Subject, true);
            
        if (CurrentForum != null && !Permissions.ValidatePermissions(CurrentForum, Permission.Read, CurrentCSContext.User))
            PermissionBase.RedirectOrException(CSExceptionType.AccessDenied);
    }

</script>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional-dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head runat="server">
    <CSControl:Head ID="Head1" runat="Server">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <CSControl:Script runat="server" />
        <CSControl:Style runat="server" visible = "true" />
        <CSControl:Style runat="server" Href="../style/common.css" />
		<CSControl:Style runat="server" Href="../style/forum.css" />
		<CSControl:Style runat="server" Href="../style/common_print.css" media="print" />
		<CSControl:Style runat="server" Href="../style/forum_print.css" media="print" />
		<CSControl:Style href="ForumThreadedPost.css" runat="server" />
		<CSControl:Style Href="../style/DynamicStyle.aspx" runat="server" EnsureNotCachedOnPreview="true" />
    </CSControl:Head>
    </head>
	<body>
		<form runat="server">
			<TWC:Modal ID="Modal1" runat="server" CssClasses="CommonModal" TitleCssClasses="CommonModalTitle" CloseCssClasses="CommonModalClose" ContentCssClasses="CommonModalContent" FooterCssClasses="CommonModalFooter" ResizeCssClasses="CommonModalResize" MaskCssClasses="CommonModalMask" LoadingUrl="~/utility/loading.htm" />			
			<div id="CommonOuter"><div id="Common">
				<div id="CommonBody">
					<table cellspacing="0" cellpadding="0" border="0" width="100%" id="CommonBodyTable">
						<tr>
							<td valign="top" width="100%" id="CommonBodyColumn"><table cellpadding="0" cellspacing="0" border="0" style="table-layout: fixed;" width="100%"><tr><td>

                                <script type="text/javascript">
                                // <![CDATA[
                                try
                                {
	                                var url = window.top.location.href;
	                                var re = new RegExp('<%=ForumPostTreeForm.ValidTopWindowUrlPattern%>', 'i');
	                                if (!re.test(url))
		                                window.top.location = '<%= SiteUrls.Instance().Post(CurrentPost.PostID) %>';
                                }
                                catch(err)
                                {
                                }
                                // ]]>
                                </script>
                                <script type="text/javascript">
                                // <![CDATA[
                                var resizeHandle = null;
                                function resizePostDisplay(width, height)
                                {
	                                clearTimeout(resizeHandle);
	                                var oWidth = width;
	                                var oHeight = height;

	                                var buttons = document.getElementById('PostButtons');
	                                var container = document.getElementById('PostDisplayContainer');
	                                var body = document.getElementById('PostDisplayBody');
	                                var header = document.getElementById('PostDisplayHeader');
	                                var footer = document.getElementById('PostDisplayFooter');

	                                if (container && body && header && footer && buttons && height > 0 && width > 0)
	                                {
		                                try
		                                {
			                                height -= parseInt(buttons.offsetHeight);
			                                container.style.height = ensureSafeInteger(height - 18) + 'px';
                                			
			                                height -= (parseInt(footer.offsetHeight) + parseInt(header.offsetHeight));
			                                body.style.height = ensureSafeInteger(height - 56) + 'px';
                                			
			                                buttons.style.width = ensureSafeInteger(width - 16) + 'px';
			                                container.style.width = ensureSafeInteger(width - 16) + 'px';
			                                header.style.width = ensureSafeInteger(width - 36) + 'px';
			                                body.style.width = ensureSafeInteger(width - 36) + 'px';
			                                footer.style.width = ensureSafeInteger(width - 48) + 'px';
                                			
			                                container.style.visibility = 'visible';
			                                buttons.style.visibility = 'visible';
		                                }
		                                catch (err)
		                                {
		                                }
	                                }
                                	
	                                resizeHandle = setTimeout('resizePostDisplay(' + oWidth + ',' + oHeight + ')', 999);
                                }

                                function ensureSafeInteger(value)
                                {
	                                if (value < 0)
		                                return 0;
	                                else
		                                return value;
                                }
                                // ]]>
                                </script>

                                <div id="PostButtons" class="ForumThreadPostButtons" style="visibility: hidden;">
                                <div style="float: left">
	                                <CSForum:ForumPostData runat="server" LinkTo="Reply" ResourceName="Button_Reply" LinkCssClass="CommonImageTextButton CommonReplyButton" />
								    <CSForum:ForumPostData runat="server" LinkTo="Delete" ResourceName="Button_Delete" LinkCssClass="CommonImageTextButton CommonDeleteButton" />
								    <CSForum:ForumPostData runat="server" LinkTo="Edit" ResourceName="Button_Edit" LinkCssClass="CommonImageTextButton CommonEditButton" />
								    <CSForum:ThreadStatusForm runat="server" StatusDropDownListId="ThreadStatus">
						                <FormTemplate>
                                            <asp:DropDownList runat="server" ID="ThreadStatus" />								                
						                </FormTemplate>
						            </CSForum:ThreadStatusForm>
						            <CSForum:ForumPostAnswerToggleButton ID="AnswerToggleButton" runat="server" ButtonOnCssClass="CommonTextButton" ButtonOffCssClass="CommonTextButton" ButtonProcessingCssClass="CommonTextButton">
                                        <OffTemplate><CSControl:ResourceControl runat="server" ResourceName="MarkAsAnswer" /></OffTemplate>
                                        <OnTemplate><CSControl:ResourceControl runat="server" ResourceName="MarkAsNotAnswer" /></OnTemplate>
                                        <ProcessingTemplate>...</ProcessingTemplate>
						            </CSForum:ForumPostAnswerToggleButton>
						            <CSControl:ResourceControl runat="server" ResourceName="Button_Answer" Tag="Span" CssClass="CommonTextButton">
		                                <DisplayConditions Operator="And">
		                                    <CSControl:ControlVisibilityCondition runat="server" ControlId="AnswerToggleButton" ControlVisiblilityEquals="false" />
		                                    <CSForum:ForumPostPropertyValueComparison ComparisonProperty="PostStatus" Operator="Contains" ComparisonValue="IsAnswer" runat="server" />
		                                </DisplayConditions>
		                            </CSControl:ResourceControl>
                                </div>
                                <div style="float: right">
	                                <CSForum:ChangeViewPopupMenu runat="server" ResourceName="ChangeViewPopupMenu_Text" ButtonActiveCssClass="CommonImageTextButtonHighlight CommonViewButton" ButtonInactiveCssClass="CommonImageTextButton CommonViewButton" MenuGroupCssClass="CommonContextMenuGroup" MenuItemCssClass="CommonContextMenuItem" MenuItemSelectedCssClass="CommonContextMenuItemHover" MenuItemExpandedCssClass="CommonContextMenuItemExpanded" MenuItemIconWidth="20" MenuItemIconHeight="20" MenuDirection="UpDown" />
                                    <CSControl:FavoritePopupMenu ResourceName="FavoritePopupMenu_Text" runat="server" ButtonActiveCssClass="CommonImageTextButtonHighlight CommonFavoriteButton" ButtonInactiveCssClass="CommonImageTextButton CommonFavoriteButton" MenuGroupCssClass="CommonContextMenuGroup" MenuItemCssClass="CommonContextMenuItem" MenuItemSelectedCssClass="CommonContextMenuItemHover" MenuItemExpandedCssClass="CommonContextMenuItemExpanded" MenuItemIconWidth="20" MenuItemIconHeight="20" MenuDirection="UpDown" />
								    <CSControl:UserContactPopupMenu ResourceName="ContactPopupMenu_Text" runat="server" ButtonActiveCssClass="CommonImageTextButtonHighlight CommonContactButton" ButtonInactiveCssClass="CommonImageTextButton CommonContactButton" MenuGroupCssClass="CommonContextMenuGroup" MenuItemCssClass="CommonContextMenuItem" MenuItemSelectedCssClass="CommonContextMenuItemHover" MenuItemExpandedCssClass="CommonContextMenuItemExpanded" MenuItemIconWidth="20" MenuItemIconHeight="20" MenuDirection="UpDown" />
	                                <CSForum:ForumPostRating runat="server" RatingCssClass="CommonRateControl" RatingReadOnlyCssClass="CommonRateControlReadOnly" RatingActiveCssClass="CommonRateControlActive" ImagesBaseUrl="~/Themes/default/images/common/" />
	                                <CSForum:ForumPostModerationPopupMenu ResourceName="ModerationPopupMenu_Text" runat="server" ButtonActiveCssClass="CommonTextButtonHighlight" ButtonInactiveCssClass="CommonTextButton" MenuGroupCssClass="CommonContextMenuGroup" MenuItemCssClass="CommonContextMenuItem" MenuItemSelectedCssClass="CommonContextMenuItemHover" MenuItemExpandedCssClass="CommonContextMenuItemExpanded" MenuItemIconWidth="20" MenuItemIconHeight="20" MenuDirection="UpDown">
								        <SuccessActions><CSControl:GoToModifiedUrlAction runat="server" /></SuccessActions>
								    </CSForum:ForumPostModerationPopupMenu>
								    <CSForum:ThreadRating runat="server" RatingCssClass="ForumThreadRateControl" RatingReadOnlyCssClass="ForumThreadRateControlReadOnly" RatingActiveCssClass="ForumThreadRateControlActive" ImagesBaseUrl="~/Themes/default/images/common/" EnableDetails="true" />
				                    <CSForum:ThreadSubscriptionToggleButton runat="server" ButtonOnCssClass="CommonImageTextButton CommonEmailSubscriptionButtonEnabled" ButtonOffCssClass="CommonImageTextButton CommonEmailSubscriptionButtonDisabled" ButtonProcessingCssClass="CommonImageTextButton CommonEmailSubscriptionButtonProcessing">
				                       <OnTemplate><CSControl:ResourceControl runat="server" ResourceName="PostFlatView_EnableThreadTrackingOn" /></OnTemplate>
				                       <OffTemplate><CSControl:ResourceControl runat="server" ResourceName="PostFlatView_EnableThreadTrackingOff" /></OffTemplate>
				                       <ProcessingTemplate>...</ProcessingTemplate>
				                    </CSForum:ThreadSubscriptionToggleButton>
                                </div>
                                <div style="clear: both;"></div>
                                </div>

                                <div class="ForumThreadPostContainer" id="PostDisplayContainer" style="visibility: hidden;">
	                                <div class="ForumThreadPostBody">
		                                <div class="ForumThreadPostHeader" id="PostDisplayHeader">
			                                <table cellpadding="0" cellspacing="0" border="0">
			                                <tr valign="top">
				                                <td class="ForumThreadPostUserAvatar">
				                                    <CustomAvatar:CSAvatar ID="Avatar1" runat="server" UserName="GETFROMPARENTREPEATERITEM" /> <!--Added by Kishan-->
				                                    <!--<CSControl:UserAvatar BorderWidth="1" />--> <!-- Commented by Kishan and removed runatt serverr-->
				                                </td>
				                                <td>
					                                <div class="ForumThreadPostTitle">
					                                    <CSControl:PostEmoticon runat="server" />
										                <CSForum:ForumPostData runat="server" Property="Subject" />
										            </div>
					                                <div class="ForumThreadPostPubDate"><CSForum:ForumPostData runat="server" Property="PostDate" IncludeTimeInDate="true" /> </div>
					                                <div class="ForumThreadPostAuthor"><CSControl:UserData runat="server" LinkTo="Profile" Property="DisplayName" /></div>
					                                <div class="ForumThreadPostUserProperties">
					                                    <CSControl:PlaceHolder runat="server">
									                        <DisplayConditions Operator="Not"><CSControl:UserPropertyValueComparison runat="server" ComparisonProperty="IsAnonymous" Operator="IsSetOrTrue" /></DisplayConditions>
									                        <ContentTemplate>
						                                        <ul class="ForumThreadPostUserPropertyList">
						                                            <CSControl:UserPostIcons runat="server" Tag="Li" />
									                                <CSControl:UserData runat="server" Property="DateCreated" Tag="Li"><LeaderTemplate><CSControl:ResourceControl runat="server" ResourceName="PostFlatView_Joined" /></LeaderTemplate></CSControl:UserData>
									                                <CSControl:UserProfileData runat="server" Property="Location" Tag="Li" />
									                                <CSControl:UserData runat="server" LinkTo="PostsSearch" Property="TotalPosts" Tag="Li" CssClass="ForumPostUserAttribute">
								                                        <DisplayConditions><CSControl:SiteSettingsPropertyValueComparison runat="server" ComparisonProperty="PostingActivityDisplay" ComparisonValue="PostCount" Operator="EqualTo" /></DisplayConditions>
								                                        <LeaderTemplate><CSControl:ResourceControl ResourceName="PostFlatView_Posts" runat="server" /></LeaderTemplate>
								                                    </CSControl:UserData>
								                                    <CSControl:UserData runat="server" LinkTo="PostsSearch" Property="UserRank" Tag="Li" CssClass="ForumPostUserAttribute">
								                                        <DisplayConditions><CSControl:SiteSettingsPropertyValueComparison runat="server" ComparisonProperty="PostingActivityDisplay" ComparisonValue="UserRank" Operator="EqualTo" /></DisplayConditions>
								                                    </CSControl:UserData>
                                                                    <CSControl:UserData runat="server" Property="Points" Tag="Li"><LeaderTemplate><CSControl:ResourceControl runat="server" ResourceName="PostFlatView_UserPoints" /></LeaderTemplate></CSControl:UserData>
						                                        </ul>
						                                     </ContentTemplate>
						                                 </CSControl:PlaceHolder>
					                                </div>
					                                <CSControl:UserRoleIcons runat="server" LinkTo="Role" Tag="Div" CssClass="ForumThreadPostRoleIcons">
                                                        <SeparatorTemplate> </SeparatorTemplate>
                                                    </CSControl:UserRoleIcons>
                                                    <CSForum:PostAttachmentData runat="server" Property="FileName" LinkTo="Attachment" Tag="Div" CssClass="ForumThreadPostAttachment" />
				                                </td>
			                                </tr>
			                                </table>
		                                </div>
		                                <div class="ForumThreadPostContent" id="PostDisplayBody">
			                                <CSForum:ForumPostData Property="FormattedBody" runat="server" />
			                                <CSForum:ForumPostData Property="EditNotes" runat="server">
			                                    <DisplayConditions><CSForum:ForumConfigurationPropertyValueComparison runat="server" ComparisonProperty="DisplayEditNotesInPost" Operator="IsSetOrTrue" /></DisplayConditions>
			                                    <LeaderTemplate><br /><br /></LeaderTemplate>
			                                </CSForum:ForumPostData>
                                            <CSControl:UserProfileData Property="SignatureFormatted" runat="server" Tag="Div" CssClass="ForumPostSignature" />
		                                </div>
		                                <div class="ForumThreadPostFooterArea" id="PostDisplayFooter">	
			                                <ul class="ForumPostStatistics CommonPrintHidden" style="clear: both;">
				                                <CSForum:ForumPostData runat="server" Property="Points" ResourceName="PostFlatView_PostPoints" Tag="Li" />
									            <CSForum:ForumPostData runat="server" Property="UserHostAddress" ResourceName="PostFlatView_IPAddress" Tag="Li" />
									            <CSForum:ForumPostData runat="server" LinkTo="Report" ResourceName="Report" Tag="Li" />
									            <CSForum:ForumPostData runat="server" LinkTo="QuickReply" ResourceName="QuickReply" Tag="Li" />
			                                </ul>
		                                </div>
	                                </div>
                                </div>

                                <script type="text/javascript">
                                // <![CDATA[
                                setTimeout(initializePostDisplay, 19);
                                function initializePostDisplay()
                                {
	                                var buttons = document.getElementById('PostButtons');
	                                if (buttons)
	                                {
		                                if (parseInt(buttons.offsetHeight) == 0)
			                                setTimeout(initializePostDisplay, 19);
		                                else
		                                {
			                                if (window.parent && window.parent.updateLinkTargets)
				                                window.parent.updateLinkTargets(document);
                                		
			                                if (window.parent && window.parent.getPostDisplayWidthHeight)
			                                {
				                                var wh = window.parent.getPostDisplayWidthHeight();
				                                resizePostDisplay(wh[0], wh[1]);
			                                }
		                                }
	                                }
                                }
                                // ]]>
                                </script>
								
							</td></tr></table></td>
						</tr>
					</table>
				</div>
			</div></div>
		</form>
	</body>
</html>