<%@ Control Language="C#" AutoEventWireup="true" %>

<script language="C#" runat="server">

    void Page_Load()
    {
        CSForumThemePage page = Page as CSForumThemePage;
        if (page != null && page.CurrentThread != null)
            page.SetTitle(page.CurrentThread.Subject, true);
    }

</script>

<script type="text/javascript">
// <![CDATA[
function resizeTreeViewPane(newPaneHeight, newPaneWidth)
{
    var listing = document.getElementById('PostTree');
    var header = document.getElementById('PostTreeHeading');
    if (listing && header)
    {
        try
        {
	        listing.style.height = (newPaneHeight - parseInt(header.offsetHeight)) + 'px';
	        <%=ThreadTree.ClientID%>.Render();
        }
        catch (err)
        {
        }
    }
}

var displayPaneWidth, displayPaneHeight;
function resizePostDisplayPane(newPaneHeight, newPaneWidth)
{
    displayPaneWidth = newPaneWidth;
    displayPaneHeight = newPaneHeight;

    var iframe = document.getElementById('<%=PostContainer.ClientID%>');
    if (iframe && iframe.contentWindow && iframe.contentWindow.resizePostDisplay)
        iframe.contentWindow.resizePostDisplay(newPaneWidth, newPaneHeight);
		
}

function getPostDisplayWidthHeight()
{
    return new Array(displayPaneWidth, displayPaneHeight);
}

function updateLinkTargets(doc)
{
    try
    {
        if (doc && doc.getElementsByTagName)
        {
	        var re = new RegExp('^javascript', 'i');
	        var elements = doc.getElementsByTagName('A');
	        for(var i = 0; i < elements.length; i++)
	        {
		        if (!elements[i].target && !re.test(elements[i].href))
			        elements[i].target = "_top";				
	        }
        }
    }
    catch (err)
    {
    }
}
// ]]>
</script>

<style type="text/css">

/* override to ensure panels can be resized to window appropriately */
#CommonBodyTable
{
    table-layout: fixed;
}

</style>

<CSForum:BreadCrumb ShowHome="true" runat="server" Tag="Div" CssClass="CommonBreadCrumbArea" style="margin: 0px;" />
<table cellpadding="0" cellspacing="0" border="0" width="100%" style="table-layout: fixed;">
    <tr valign="top">
        <td id="PostTreeArea" class="ForumTreeArea" width="250">
	        <div style="width: 250px;">
	        <div id="PostTreeHeading">
		        <CSControl:CSLabel runat="server" id="TooManyPostsMessage" CssClass="ForumDisplayMessage" />
		        <CSControl:ResourceControl runat="server" ResourceName="PostThreadedView_PostTreeHeading" Tag="Div" CssClass="ForumPostTreeHeading" />
	        </div>
	        <div id="PostTree" style="overflow: hidden; width: 100%; height: 100%;">
		        <CA:TreeView id="ThreadTree" 
			        DragAndDropEnabled="false" 
			        NodeEditingEnabled="false"
			        KeyboardEnabled="true"
			        CssClass="ForumPostTree" 
			        NodeCssClass="ForumPostTreeNode" 
			        SelectedNodeCssClass="ForumPostTreeNodeSelected" 
			        HoverNodeCssClass="ForumPostTreeNodeHover"
			        LineImageWidth="19" 
			        LineImageHeight="20"
			        DefaultImageWidth="10" 
			        DefaultImageHeight="11"
			        ItemSpacing="0" 
			        ImagesBaseUrl="~/themes/leanandgreen/images/"
			        NodeLabelPadding="3"
			        ParentNodeImageUrl="icon_post_show.gif" 
			        ExpandedParentNodeImageUrl="icon_post_show.gif" 
			        LeafNodeImageUrl="icon_post_show.gif" 
			        ShowLines="true" 
			        LineImagesFolderUrl="~/themes/leanandgreen/images/file/lines/"
			        EnableViewState="false"
			        ExpandNodeOnSelect="true"
			        CollapseNodeOnSelect="false"
			        AutoScroll="true"
			        HoverPopupEnabled="true"
			        width="100%"
			        height="100%"
			        runat="server"  />
					
		        <CA:Menu id="PostContextMenu" 
			        Orientation="Vertical"
			        DefaultGroupCssClass="CommonContextMenuGroup"
			        DefaultItemLookID="DefaultItemLook"
			        DefaultGroupItemSpacing="1"
			        EnableViewState="false"
			        ContextMenu="Custom"
			        runat="server">
			        <ItemLooks>
				        <CA:ItemLook LookID="DefaultItemLook" CssClass="CommonContextMenuItem" HoverCssClass="CommonContextMenuItemHover" ExpandedCssClass="CommonContextMenuItemHover" LabelPaddingLeft="10" LabelPaddingRight="10" LabelPaddingTop="3" LabelPaddingBottom="4" />
			        </ItemLooks>
		        </CA:Menu>
	        </div>
	        </div>
        </td>
        <td width="100%" id="PostContainerArea">
	        <iframe runat="server" id="PostContainer" style="width: 100%; height: 100%;" border="0" frameborder="0"></iframe>
        </td>
    </tr>
</table>

<script type="text/javascript">
// <![CDATA[

try
{
    var iframe = document.getElementById('<%=PostContainer.ClientID%>');
    if (iframe && iframe.contentWindow && iframe.contentWindow.location != iframe.src)
        iframe.contentWindow.location = iframe.src;
}
catch (err)
{
}

setTimeout(detectInvalidIframeContent, 999);
function detectInvalidIframeContent()
{
    try
    {
        var iframe = document.getElementById('<%=PostContainer.ClientID%>');
        if (iframe && iframe.contentWindow)
        {
	        var url = iframe.contentWindow.location.href;
	        if (url.toLowerCase().indexOf('http://') > -1 || url.toLowerCase().indexOf('https://') > -1)
	        {
		        var re = new RegExp('<%=ForumPostTreeForm.ValidPostWindowUrlPattern%>', 'i');
		        if (!re.test(url))
		        {
			        window.top.location = url;
			        return;
		        }
	        }
        }
    }
    catch(err)
    {
    }
	
    setTimeout(detectInvalidIframeContent, 249);
}

setTimeout(detectWindowSize, 999);
var lastHeight = -1;
var lastWidth = -1;
function detectWindowSize()
{
    if (typeof(window.innerWidth) == 'number') 
    {
        width = window.innerWidth;
        height = window.innerHeight;
    } 
    else if (document.documentElement && (document.documentElement.clientWidth || document.documentElement.clientHeight)) 
    {
        width = document.documentElement.clientWidth;
        height = document.documentElement.clientHeight;
    } 
    else if (document.body && (document.body.clientWidth || document.body.clientHeight)) 
    {
        width = document.body.clientWidth;
        height = document.body.clientHeight;
    }
		
   	height -= <%= !(!Telligent.Registration.Licensing.CommunityServer.DisplayBranding && !CommunityServer.Components.CSContext.Current.SiteSettings.EnableEula) ? "270" : "220" %>;
    if (height < 250)
        height = 250;
		
    if (lastHeight != height || lastWidth != width)
    {
        lastHeight = height;
        lastWidth = width;
		
        var postContainer = document.getElementById('<%=PostContainer.ClientID %>');
        postContainer.style.height = height + 'px';
        resizePostDisplayPane(height, document.getElementById('PostContainerArea').offsetWidth);
        resizeTreeViewPane(height, document.getElementById('PostTreeArea').offsetWidth);
    }

    setTimeout(detectWindowSize, 999);
}
// ]]>
</script>

<CSForum:ForumPostTreeForm runat="server" 
    NotAllPostsDisplayedControlId="TooManyPostsMessage" 
    PostTreeContextMenuId="PostContextMenu" 
    PostTreeViewId="ThreadTree" 
    ViewPostIframeId="PostContainer"/>