<%@ Page language="c#" Codebehind="CommentEditor.aspx.cs" AutoEventWireup="false" Inherits="CommunityServer.ControlPanel.Files.CommentEditor" %>
<CP:Container runat="server" id="MPContainer" ThemeMasterFile="ControlPanelModalMaster.ascx" IsModal="true">
	<CP:Content id="bcr" runat="server">
		<DIV class="CommonContentArea">
			<DIV class="CommonContent">
				<TWC:TabbedPanes id="EditorTabs" runat="server"
				PanesCssClass="CommonPane"
				TabSetCssClass="CommonPaneTabSet"
				TabCssClasses="CommonPaneTab,CommonPaneTab1,CommonPaneTab2"
				TabSelectedCssClasses="CommonPaneTabSelected,CommonPaneTabSelected1,CommonPaneTabSelected2"
				TabHoverCssClasses="CommonPaneTabHover,CommonPaneTabHover1,CommonPaneTabHover2"
				>
				<TWC:TabbedPane runat="server">
					<Tab><CP:ResourceControl runat="server" ResourceName="FeedbackEditor_Tab_Content" /></Tab>
					<Content>
						<div class="CommonFormField">
							<asp:checkbox runat="Server" id="Approved" />
						</div>
						<div class="CommonFormFieldName">
							<CP:ResourceControl resourcename="FeedbackEditor_Title" runat="Server" id="FeedbackEditor_Title" />
						</div>
						<div class="CommonFormField">
							<asp:textbox runat="server" id="CommentTitle" cssclass="ControlPanelTextInput" width="550" />
						</div>
						<div class="CommonFormFieldName">
							<CP:ResourceControl resourcename="FeedbackEditor_Comment" runat="Server" id="FeedbackEditor_Comment" />
						</div>
						<div class="CommonFormField">
							<CSControl:Editor runat="Server" id="Comment" width="550" height="125" />
						</div>
					</Content>
				</TWC:TabbedPane>
				<TWC:TabbedPane runat="server">
					<Tab><CP:ResourceControl runat="server" ResourceName="FeedbackEditor_Tab_Metadata" /></Tab>
					<Content>
						<div class="CommonFormFieldName">
							<CP:ResourceControl resourcename="FeedbackEditor_ModeratedBy" runat="Server" id="FeedbackEditor_ModeratedBy" />
						</div>
						<div class="CommonFormField">
							<asp:textbox runat="server" id="ModeratedBy" enabled="false" readonly="true" />
						</div>
						<div class="CommonFormFieldName">
							<CP:ResourceControl resourcename="FeedbackEditor_Notes" runat="Server" id="FeedbackEditor_Notes" />
						</div>
						<div class="CommonFormField">
							<asp:textbox runat="server" id="Notes" textmode="MultiLine" width="550" rows="4"  cssclass="ControlPanelTextInput" />
						</div>
						<div class="CommonFormFieldName">
							<CP:ResourceControl resourcename="FeedbackEditor_OriginalComment" runat="Server" id="FeedbackEditor_OriginalComment" />
						</div>
						<div class="CommonFormField">
							<asp:textbox runat="server" id="OriginalContent" readonly="true" textmode="MultiLine" CssClass="ControlPanelTextInput"
								width="550" rows="5" />
						</div>
					</Content>
				</TWC:TabbedPane>
				</TWC:TabbedPanes>
				<DIV class="CommonFormField PanelSaveButton">
					<asp:LinkButton id="Save" runat="server" CssClass="CommonTextButton"></asp:LinkButton></DIV>
			</DIV>
		</DIV>
	</CP:Content>
</CP:Container>
