body {
	font : 0.8em Verdana;
	margin : 0px;
}

a:link, a:active {
	color : #00C;
}

a:visited {
	color : #009;
}

a:hover {
	color : #900;
}

#header {
	height : 68px;
}

#header h1 {
	color : #600;
	font : 30px Georgia;
	padding : 18px 0px 0px 220px;
	margin : 0px;
}

#header h1 a:link,
#header h1 a:visited,
#header h1 a:active {
	color : #600;
	text-decoration : none;
}

#header h1 a:hover {
	color : #C00;
}

#header h2 {
	color : #600;
	font : 20px Georgia;
	padding : 0px 0px 5px 220px;
	margin : 0px;
}

#header h2 a:link,
#header h2 a:visited,
#header h2 a:active {
	color : #600;
	text-decoration : none;
}

#header h2 a:hover {
	color : #600;
}

#intro {
	border : 1px solid #FA0;
	margin : 10px;
	padding : 0px 10px;
}

#intro p {
	margin : 10px 0px;
}

#authors {
	top : 10px;
	position : absolute;
	width : 190px;
	left : 10px;	
	background-color : #FFF;	
	border : 1px solid #FA0;
	border-top : 10px solid #FA0;
	border-bottom : 10px solid #FA0;
	padding-bottom : 10px;
}


#authors ul {
	list-style : none;
	padding : 0px;
	margin : 0px 5px;
}

#authors h2 {
	font-family : Georgia;
	font-size : 1.2em;
	margin : 15px 5px;
}

#authors p {
	margin : 10px 5px;
}

#main {
	margin-left : 320px;
	margin-right : 20px;
}	



#main h2, #main th {		
	font-size : 1.2em;
}



#main h3 {
	font-family : Georgia;
	font-size : 1.2em;
}



#main .post {
	border-bottom : 1px solid #FA0;
}

#main .postfoot {
	font-size : 0.8em;
}