body {
	background-color : #BBB;
}

#header {
	background-image : none;
	margin:0px 
}

#header h1 {
	font-family : Verdana;
	font-weight : bold;
}

#header h2 {
	font-family : Verdana;
    color: #6B86B3
}

#header h2 a:link,
#header h2 a:visited,
#header h2 a:active {
	color : #6B86B3;
	text-decoration : none;
}

#header h2 a:hover {
	color : #6B86B3;
}

#main {
	background-color : #FFF;
	border : 1px solid #666;
}

#main h2, #main th {
	margin : 0px;
	background-color : #B6C9E7;
	padding : 0px;
	border-bottom : 1px solid #666;
	font-family : Verdana;
	font-size : 0.8em;
	text-transform: uppercase;
}

#main th
{
    text-align:center; 
}

#main td 
{
	font-family : Verdana;
	font-size : 0.8em;   
	text-align:center; 
}

#main td.left, #main th.left
{
	text-align:left; 
	font-size : 0.85em;
}

#main div {
	margin : 0px 10px;
}

#authors {
	border : 1px solid #666;	
	border-top : none;	
	font-size : 0.85em;
}

#authors h2 {
	color : #FFF;
	margin : 0px;
	margin-bottom :10px;
	background-color : #6B86B3;
	border-bottom : 1px solid #666;
	border-top : 1px solid #666;
	padding : 2px;
	font-family : Verdana;
	font-size : 0.8em;
	text-align : center;
	text-transform: uppercase;
}

#authors ul {
	margin : 10px 5px;
}

#header h1 a:visited {
	color : #000;
}

#main .post {
	border-bottom : none;
}

#main h3 {
	font-family : Verdana;
	background-color : #E5EEF7;
	padding : 2px;
	border-top : 1px solid #666;	
	border-bottom : 1px dashed #666;	
	padding-left : 10px;	
}

#main td h3 
{
    margin:0px;
}

#main h3 a {
	color : #333;
	text-decoration : none;
}