/*  Poison Ivy skin for CS
    Author: Jaxon Rice (gosatango)
	Updates: http://cs.soup.co.za/blogs/cs_skins/articles/4.aspx
	Email bugs and suggestions to: skins@soup.co.za
	Community Server: http://www.communityserver.org
*/
html, body {
	margin: 0 auto;
	padding: 0;
	color: #333;
}
body {
	padding: 0;
	text-align: center;
	background-color: #78C529;
	font: 76%/1.2em Verdana, Arial, Helvetica, sans-serif;
}
a:visited, a:active, a:link {
	text-decoration: none;
	color: #497819;
}
a:hover {
	color:#C4AA29;
}
h1 {
	margin: 0;
	font-size: 1.5em;
}
h1 a:visited, h1 a:active, h1 a:link {
	color: #333;
}
h1 a:hover {
	text-decoration: none;
}
h2 {
	margin-top: 1em;
	font-size: 1em;
}
h3 {
	font-size: 1.1em;
}
p {
	margin: 1em 0;
}
/* -- Layout -- */
/* The masthead sits at the top of the page.*/
#masthead {
	color: #333;
	text-align: right;
	padding: 0.5em;
	font-size: 0.9em;
	border-bottom: 2px solid #497819;
	background: #F0F0F0;
}
#masthead ul {
	color: #333;
	padding: 0;
	list-style-type: none;
	margin: 0;
}
#masthead ul li {
	display: inline;
}
#masthead ul li a {
	padding: 0 0.5em;
	text-decoration: none;
	margin: 0;
}
#masthead a:link, #masthead a:visited, #masthead a:active, #masthead a:hover {
	color: #497819;
	text-decoration: none;
}

/* Blog Layout */
#wrapper {
	padding: 1em;
}
#container {
	margin: 0 auto;
	text-align: left;
	padding: 0;
	width: 760px;
}
/*Blog Header*/	
#header {
	padding: 0;
	margin: 0;
	background-color: #F0F0F0;}

#header h1{
	margin: 0;
	padding: 0.5em;
	font-size: 2em;
	font-weight: normal;}

#header p{
	margin: 0;
	font-size: 1.1em;
	padding: 0 1em 0.5em;}
	
/* #title is a placeholder div for putting pictures in place of the blog title */
#title {
	background-repeat: no-repeat;
	background-position: left top;
	background-image: url(../Images/poisonivytop.gif);}
/*Navigation Bar*/  
#nav {
	background-color: #497819;
	background-image: url(../Images/poisonivybottom.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	text-align: left;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin: 0;
	clear: right;}

#nav ul{
	padding: 0;
	list-style-type: none;
	margin: 0;}

#nav ul li {
	display: inline;}

#nav ul li a{
	padding: 0.2em 1em;
	text-decoration: none;
	font-weight: bold;
	margin: 0;
	color: #FFF;}
	
/* Subscription Bar*/
#subscriptions{
	margin: 0;
	padding: 0;
	float: right;
	width: 50%;
	text-align: right;
	font-weight: normal;}
	
#subscriptions ul{
	padding: 0;
	list-style-type: none;
	margin: 0;}

#subscriptions ul li {
	display: inline;}

#subscriptions ul li a{
	padding: 0.2em 1em;
	text-decoration: none;
	margin: 0;
	font-size: 0.9em;
	font-weight: normal;
	color: #FFF;}
/* End Navigation*/ 

#contentmargin {
	height: 1em;
}

#contentwrapper 
{
	margin: 0em 0;
	padding: 0;
	clear: both;
	background-color: #F0F0F0;
	background-image: url(../Images/poisonivytop.gif);
	background-repeat: no-repeat;
	background-position: left top;}
	
#content {
	padding: 2em;
	margin: 0 210px 0 0;
	height: 1%;
}

#content2 
{
	width: 100%;
	overflow: hidden;
}
	
#contentfooter{
	clear: both;}

/*Sidebar*/
#sidebar-a {
	float: right;
	width: 200px;
	margin: 1em 0 0 0.5em;
	padding: 0.5em;
	font-size: 0.9em;
	border-left: 1px solid #999;
}
	
#sidebar-a h3 {
	color: #999;
	font-size: 1.2em;
	padding: 0;
	margin: 0 1em;
}

#sidebar-a p {
	padding: 0 1em;
}

#sidebar-a ul {
	list-style : none;
	margin : 0 0 1em 1em;	
	padding : 0;
}

#sidebar-a li {
	margin-top: 0.5em;}

#sidebar-a a:active,
#sidebar-a a:visited,
#sidebar-a a:link {
	text-decoration : none;	
	margin-right : 0px;
	padding : 0.2em;}

#sidebar-a a:hover {
	text-decoration: underline;}
/*End Sidebar*/

#footer {
	clear: both;
	padding: 0.5em 1em;
	margin: 0;
	font-size: 0.9em;}
/* --End Layout-- */

/* --Calendar-- */
.BlogCalendar
{
	font-size: 90%;
	width: 100%;
}

.BlogCalendarTitle
{
	text-align: center;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
}

.BlogCalendarNextPrev
{
}

.BlogCalendarNextPrev A:LINK, .BlogCalendarNextPrev A:ACTIVE, .BlogCalendarNextPrev A:VISITED
{
	text-decoration: none;
}

.BlogCalendarNextPrev A:HOVER
{
	text-decoration: underline;
}

.BlogCalendarDays
{
	font-weight: bold;
	padding: 2px;
}

.BlogCalendarDay A:LINK, .BlogCalendarDay A:ACTIVE, .BlogCalendarDay A:VISITED, .BlogCalendarDay A:HOVER
{
	font-weight: bold;
}
/* -- End Calendar -- */

/* -- Post -- */
.post {
	padding: 0em;
	margin: 0;
}
/* Post Header */
.posthead {
	margin: 0;
	padding: 0em 0 0.5em;
	font-size: 0.9em;
	color: #999;
}
.posthead h2 {
	font-size: 1.5em;
	margin: 0;
	padding: 0 0 0.4em;
	color: #333;
}
.posthead img {
	margin: 0;
	padding: 0 0 0 0.5em;
	border: 0 none;
}
.posthead a:hover {
	text-decoration: none;
}
/* Post header for Entryview page*/
.postviewhead{
	font-size: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-align: right;}
/* Post Content  */
.postcontent {
	margin: 0;
	padding: 0;
}
.postcontent img {
	margin: 1em 1em 0.5em 0;
	padding: 0;
	line-height: 2em;
}
/* Post Footer */
.postfoot{
	font-size: 0.9em;
	border-bottom: 1px dashed #CCC;
	color: #999;
	text-align: right;
	padding: 0.5em 1em;
	margin: 0 0 3em;
}
/* Post Category Heading */
.postcategoryheading {
	font-size: 0.9em;
	padding-bottom: 0.5em;
	margin-bottom: 1.5em;
	border-bottom: 1px solid #999;
}
/*Blog rating menu*/
.ratemenu {
	font-size: 0.9em;
	background-color: #FFF;
	border: 1px dotted #AAA;
	padding: 1em;
	margin: 0.5em;
}
/* -- End Post -- */
/* -- Comments -- */
.comment
{
	padding: 4px;
	overflow: hidden;
	word-wrap: break-word;       /* Internet Explorer 5.5+ */	
}

.commentowner
{
	background-color: #f8f8f8;
	padding: 4px;
	border: solid 1px #dddddd;
	margin-bottom: 16px;
	overflow: hidden;
	word-wrap: break-word;       /* Internet Explorer 5.5+ */	
}

#comments h4 {
	margin : 0;
	font-size : 1em}

#comments{
	padding: 0em 1em;
	margin: 0 0 1em;}

.commentspan {
	padding-left: 2em;}
	
.commentssubhead{
	color: #999;
	padding: 0;
	font-size: 0.9em;
	margin: 0.5em 0 0;
}	
.commentsbody {	
    margin: 1em 0em 3em;
	padding: 0em 0em 0.5em;
	font-size: 0.9em;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #999;}
/* --End Comments -- */
/* -- Comment and Contact Form -- */
#commentform {
	padding: 0;
	margin: 0 1em;
}
#commentform h3 {
	font-size: 1em;
	margin: 0;
	padding: 0 0 1em;
	display: block;
}
#commentform dl {
	margin: 0;
	padding: 0;
}
#commentform dt {
	font-size: 1.0em;
	margin: 0;
	padding: 0.5em 0.5em 0.5em 0;
}
#commentform dt em {
	font-size: 0.9em;
}
#commentform .smallbox {
	width: 300px;
	padding: 2px;
	border: 1px solid #999;
}
#commentform textarea {
	width: 400px;
	height: 180px;
	padding: 0.2em;
	border: 1px solid #999;
	font: 1em Verdana, Arial, Helvetica, sans-serif;
}
/* -- End Comment and Contact Form -- */
/* -- Miscellaneous -- */
/* Email Subscriptions */
#emailsubscriptions {
	margin: 0;
	padding: 1em;
}
#emailsubscriptions h3 {
	font-size: 1em;
	margin: 0 1em 0 0.5em;
	padding: 1em 0 0;
}
#emailsubscriptions table {
	font-size: 1em;
}
/* News */
#news{
	margin: 1em;
	padding: 0.5em;
	border: 1px dashed #999999;
}
/* Search Box*/
#search .searchBox {
	width: 100px;
	border: 1px solid #666;
	margin: 0em 1em;
	padding: 0.2em;
	font-size: 0.9em;}

#search {
	float: right;
	text-align: right;
	margin: 0 0 0.5em;
	padding: 1em;}
/*End Search Box*/

/* w.bloggar uses a class called .media for its iTunes and wmp10 "now playing" plugin */
.media {
	font-size: 0.9em;
	font-weight: bold;
	margin: 1em 1em 0.5em;
}
/* Clearing element for floats */
.spacer {
	margin: 0;
	padding: 0;
	clear: both;
	height: 0;
}
/* -- End Miscellaneous*/
/* -- Skin button -- */
/* This button is based upon a technique described by Mike Golding at Notestips.com:
   http://www.notestips.com/80256B3A007F2692/1/NAMO5LV2NN */
#skinbutton {
	float: right;
	margin-right: 1em;
}
#skinbutton ul {
	list-style: none;
	margin: 0 0 10px;
	padding: 0;
	text-align: left;
}
#skinbutton li {
	border: 1px solid #999;
	margin: 5px 0 0 20px;
	width: 9em;
}
#skinbutton li a {
	color: #333;
	text-decoration: none;
}
head:first-child+body #skinbutton li {
	padding-right: 2px;
}
.skinbuttonlink {
	display: block;
	font: 0.75em verdana, arial, sans-serif;
	padding: 2px 0;
	border: 1px solid white;
	text-decoration: none;
	width: 100%;
	background: #ddd;
	color: #333;
}
.skinbuttonlink span {
	font: bold 1.0em verdana, arial, sans-serif;
	padding: 2px 3px;
	color: #fff;
}
.cs span {
	background: #666;
}
/* --End Skinbutton -- */

#welcome 
{
	margin-top: 0px;
	margin-left: auto;
	margin-right: 3px;
	text-align: right;
	font-family: Arial;
	font-size: .9em;
	color: #000;
}
#welcome a 
{
	color: #000;
}
/* Tag Styles */

.TagCloud
{
	background-color: #f7f7f7;
	padding: 8px;
	padding-top: 16px;
	padding-bottom: 16px;
	margin: 0px;
	margin-bottom: 16px;
	margin-top: 16px;
	color: #999999;
	line-height: 180%;
	list-style-type: none;
}

.SidebarTagCloud
{
	padding: 0px;
	margin: 0px;
	font-size: 80%;
	line-height: 200%;
	list-style-type: none;
}

.Tag1, .Tag2, .Tag3, .Tag4, .Tag5, .Tag6 
{
	margin: 0px;
	padding: 0px;
	display: inline;
}

.Tag1 a:link, .Tag1 a:visited, .Tag1 a:active
{
	text-decoration: none;
	margin-right: 6px;
	color: #003800;
	font-size: 160%;
	font-weight: 900;
}

.Tag2 a:link, .Tag2 a:visited, .Tag2 a:active
{
	text-decoration: none;
	margin-right: 6px;
	color: #094800;
	font-size: 145%;
	font-weight: 800;
}

.Tag3 a:link, .Tag3 a:visited, .Tag3 a:active
{
	text-decoration: none;
	margin-right: 6px;
	color: #195800;
	font-size: 130%;
	font-weight: 600;
}

.Tag4 a:link, .Tag4 a:visited, .Tag4 a:active
{
	text-decoration: none;
	margin-right: 6px;
	color: #296800;
	font-size: 120%;
	font-weight: 500;
}

.Tag5 a:link, .Tag5 a:visited, .Tag5 a:active
{
	text-decoration: none;
	margin-right: 6px;
	color: #396809;
	font-size: 110%;
	font-weight: 300;
}

.Tag6 a:link, .Tag6 a:visited, .Tag6 a:active
{
	text-decoration: none;
	margin-right: 6px;
	color: #497819;
	font-size: 100%;
	font-weight: 200;
}

.Tag1 a:hover, .Tag2 a:hover, .Tag3 a:hover, .Tag4 a:hover, .Tag5 a:hover, .Tag6 a:hover
{
	text-decoration: underline;
}

.SearchStatistics
{
	margin-top: 16px;
	margin-bottom: 16px;
}

/* Inline tag editor */
.InlineTagEditor
{
	padding: 4px;
	border: solid 1px #999999;
	background-color: #f3f3f3;
}

.TextButton
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	margin: 1px;
	padding: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	border-top-color: #cccccc;
	border-left-color: #cccccc;
	background-color: #eeeeee;
	color: #333333;
	font-family: Tahoma, Arial, Helvetica;
	font-size: 80%;
	font-weight: bold;
	white-space: nowrap;
}

.TextButton:LINK
{
	text-decoration: none;
	color: #333333;
	background-color: #eeeeee;
}

.TextButton:VISITED
{
	text-decoration: none;
	color: #333333;
	background-color: #eeeeee;
}

.TextButton:ACTIVE
{
	text-decoration: none;
	color: #333333;
}

.TextButton:HOVER
{
	text-decoration: underline;
	color: #333333;
	background-color: #dddddd;
}

/* Modal Styles */

.ModalMask
{
	opacity: .4;
	filter: alpha(opacity=40);
	background-color: #333333;
}

.Modal
{
	border-style: solid;
	border-width: 1px;
	border-color: #888888;
	border-right-width: 3px;
	border-right-color: #888888;
	border-bottom-width: 3px;
	border-bottom-color: #888888;
	background-color: #eeeeee;
}

.ModalTitle
{
	font-family: Tahoma, Arial, Helvetica;
	height: 18px;
	font-size: 16px;
	padding: 5px;
	padding-bottom: 7px;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: #cccccc;
	background-color: #dddddd;
	color: #000000;
	font-weight: bold;
	cursor: move;
	overflow: hidden;
	text-align: left;
}

.ModalClose
{
	width: 33px;
	height: 12px;
	background-image: url(../../../default/images/common/close.gif);
	background-repeat: no-repeat;
	overflow: hidden;
	cursor: pointer;
	float: right;
}

.ModalContent
{
	background-color: #ffffff;
}

.ModalFooter
{
	border-style: solid;
	border-width: 0px;
	border-top-width: 1px;
	border-color: #cccccc;
	background-color: #eeeeee;
	padding: 2px;
}

.ModalResize
{
	width: 14px;
	height: 14px;
	background-image: url(../../../default/images/common/resize.gif);
	background-repeat: no-repeat;
	overflow: hidden;
	float: right;
	cursor: se-resize;
}

/* Subscription Styles */
.BlogSubNotification
{
	color: #FF0000;
	font-size: 80%;
}

.SubscriptionButton
{
	margin-left: .2em;
}

#SubSideBar .subBox 
{
	width: 130px;
	border: 1px solid #666;
	margin-left: .2em;
	padding: 0.2em;
	font-size: 0.9em;
}

#SubSideBar a:hover 
{
	text-decoration: none;
}