﻿<%@ Master Language="C#" AutoEventWireup="true" %>
<%@ Import Namespace="CommunityServer.Components" %>
<%@ Import Namespace="CommunityServer.Blogs.Components" %>
<%@ Register TagPrefix="CSUserControl" TagName="UserWelcome" Src="~/Themes/default/Common/UserWelcome.ascx" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional-dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head runat="server">
<CSControl:Head ID="Head1" runat="Server" >
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<CSBlog:ThemeStyle Href="~/style/style.css" Media="screen" runat="server" />
	<CSBlog:ThemeStyle Href="~/style/print.css" Media="print" runat="server" />
	<CSControl:SectionThemeConfigurationDataStyle StyleUrlProperty="secondaryCssUrl" Media="screen" runat="server" />
	<CSBlog:ThemeStyle Href="~/style/DynamicStyle.aspx" Media="screen" runat="server" EnsureNotCachedOnPreview="true" />
</CSControl:Head>
</head>
<body>
    <form id="form1" runat="server">

    <TWC:Modal runat="server" CssClasses="Modal" TitleCssClasses="ModalTitle" CloseCssClasses="ModalClose" ContentCssClasses="ModalContent" FooterCssClasses="ModalFooter" ResizeCssClasses="ModalResize" MaskCssClasses="ModalMask" LoadingUrl="~/utility/loading.htm" ID="Modal1" />			

    <div id="masthead">
        <div id="welcome" align="right">
            <CSUserControl:UserWelcome runat="server" />
        </div>
    </div>
    <div id="wrapper">
	        <div id="container">
		        <div id="header">
		            <div id="title">	                    
                        <CSBlog:WeblogData runat="server" Property="Name" CssClass="headermaintitle" Tag="H1" LinkTo="HomePage" />      
                        <CSBlog:WeblogData ID="WeblogData1" runat="server" Property="Description" Tag="P" ContainerId="tagline" />
                    </div>
                    <div id="SubscriptionsSideBar">
                        <div id="subscriptions"> 
                            <ul>
                                <CSBlog:WeblogData runat="server" ResourceName="Weblog_Link_Rss" LinkTo="RSS" Tag="Li" />
	                            <CSBlog:WeblogData runat="server" ResourceName="Weblog_Link_Atom" LinkTo="Atom" Tag="Li" />
						        <CSBlog:WeblogData runat="server" ResourceName="Weblog_Link_Rss_AllComments" LinkTo="RssComments" ContainerId="RssComments" Tag="Li" />
                            </ul>
                        </div>
                    </div>
                    <div id="nav">                    
                        <ul>
                            <CSBlog:WeblogData runat="server" ResourceName="Weblog_Link_Home" LinkTo="HomePage" Tag="Li" />
                            <CSBlog:WeblogData runat="server" ResourceName="Weblog_Link_Contact" LinkTo="ContactForm" Tag="Li" />
                            <CSBlog:WeblogData runat="server" ResourceName="Weblog_Link_AboutAuthor" LinkTo="About" Tag="Li" />
                            <CSBlog:WeblogData runat="server" ResourceName="Weblog_Link_ControlPanel" LinkTo="PostControlPanel" Tag="Li" />
                        </ul>
                    </div>
                </div>
                <asp:ContentPlaceHolder ID="SideBar" runat="Server">
                    <div id="contentwrapper">
		                <div id="sidebar-a">              
                            <div id="TasksSideBar">                                
                                <%--  Renders to blog owners only. Provides links to the CP/etc --%>
                                <CSControl:PlaceHolder runat="server">
                                    <DisplayConditions><CSBlog:WeblogPermissionCondition runat="server" Permission="Post" /></DisplayConditions>
                                    <ContentTemplate>
                                        <div id="QuickLinks">
                                        <CSControl:ResourceControl runat="server" ResourceName="Weblog_Quick_Content" Tag="H3" />
                                        <ul >
                                            <CSBlog:WeblogData runat="server" LinkTo="PostEditor" ResourceName="Weblog_Quick_Post" Tag="Li" />
                                            <CSMail:MailingListData runat="server" LinkTo="MailingList" ResourceName="Weblog_Link_PostByEmail" Tag="Li" />
                                            <CSBlog:WeblogData runat="server" LinkTo="PostControlPanel" ResourceName="Weblog_Quick_Manage" Tag="Li" />
                                        </ul>
                                        </div>                
                                    </ContentTemplate>
                                </CSControl:PlaceHolder>
                            </div>
                            
                            <div id="SearchSideBar">    
                                <CSBlog:SearchForm runat="server" QueryTextBoxId="SearchBox" SubmitButtonId="SearchButton" Tag="div" ContainerId="Search">
	                                <FormTemplate>
	                                        <h3><CSControl:ResourceControl runat="server" ResourceName="SearchRedirect_Title" /></h3>
                                            <ul>
                                                <li>
                                                    <CSControl:DefaultButtonTextBox runat="server" Button="SearchButton" CssClass="searchBox" id="SearchBox" />
                                                    <CSControl:ResourceLinkButton ResourceName="Weblog_Link_Go" Runat="Server" id="SearchButton" CssClass="SearchButton" CausesValidation="false" />
                                                </li>
                                            </ul>
                                    </FormTemplate>
	                            </CSBlog:SearchForm>
                            </div>  
                                <%-- This control can not be restyled, but you can control the css and the container elment, css, and id.  --%>
                                <CSBlog:TagCloud EnableNoTagsMessage="false" TagCssClasses="Tag6,Tag5,Tag4,Tag3,Tag2,Tag1" runat="server" IgnoreFilterTags="true" ContainerId="TagSideBar" TagCloudCssClass="SidebarTagCloud">
                                     <LeaderTemplate>
                                        <CSControl:ResourceControl ResourceName="Weblog_TagsTitle" runat="server" Tag="H3" />
                                    </LeaderTemplate>
                                </CSBlog:TagCloud>
                              
                                <%-- Renders the "news" blurb. No restyling except for container control --%>
                                <CSBlog:WeblogData runat="Server" Property="News" ContainerId="NewsSidebar">  
                                    <DisplayConditions>
                                        <CSBlog:WeblogPropertyValueComparison runat="server" Operator="IsSetOrTrue" ComparisonProperty="News" />
                                    </DisplayConditions>
                                    <LeaderTemplate>
                                        <CSControl:ResourceControl ResourceName="Weblog_News" runat="server" Tag="H3" />
                                        <ul>
                                    </LeaderTemplate>
                                    <TrailerTemplate>
                                        </ul>
                                    </TrailerTemplate>
                                </CSBlog:WeblogData>                
                                                
                                <%-- Can be updated similar to recent posts --%>
                                <CSControl:NavigationList runat="Server" ContainerId="NavSideBar" HeaderResourceName="mainnavigation" HeaderTag="H3" />
                                
                                <CSBlog:WeblogSubscriptionForm runat="server" ID="EmailSubscriptionForm"
			                        SubscriptionEmailTextBoxId="SectionSubscriptionTextBox"
			                        SubscriptionEmailButtonId="SectionSubscriptionButton"
			                        SubscriptionDescriptionId="SectionSubscriptionDescription"
			                        ContainerId="SubSideBar" SubscriptionPanelId="SubscriptionPanel">
			                        <FormTemplate>
			                            <CSControl:ResourceControl runat="server" ResourceName="Weblog_Email_Subscription_Header" Tag="h3" />
			                            <ul>
			                            <li>
			                            <CSControl:WrappedLiteral runat="server" ID="SectionSubscriptionDescription" cssclass="BlogSubNotification" />
			                            
                                        <asp:Panel ID="SubscriptionPanel" runat="server">			                        			                            
			                            <CSControl:DefaultButtonTextBox ID="SectionSubscriptionTextBox" runat="server" Text="Your Email Address" ToolTip="Enter your email address" 
			                                AutoCompleteType="Email" MaxLength="256" Button="SectionSubscriptionButton" CssClass="BlogSubscriptionItem" />
			                            <span class="CommonSearchButtonOuter SubscriptionButton"><CSControl:ResourceLinkButton ID="SectionSubscriptionButton" runat="server" CssClass="CommonSearchButton" ValidationGroup="EmailSubscription" /></span>
			                            <asp:RegularExpressionValidator ID="RegularExpressionValidator1" runat="server" cssclass="validationWarning"
			                                validationexpression="\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*" ErrorMessage="Enter valid email"
			                                ValidationGroup="EmailSubscription" controltovalidate="SectionSubscriptionTextBox" Display="dynamic" />
                                        </asp:Panel>
                                        </li>
                                        </ul>
			                        </FormTemplate>
			                    </CSBlog:WeblogSubscriptionForm>
                                
                                <%-- Can be restyled with templates --%>
                                <CSBlog:ArchiveDataItemList runat="Server" HeaderResourceName="Weblog_Archive" ContainerId="ArchiveSideBar" HeaderTag="H3" /> 
                                
                                <%-- 
                                    Can be restyled via templates, but since it uses a parent/child relationship and simply displays links
                                    I doubt most people will do it. 
                                --%>
                                <CSControl:LinkCategoryList runat="Server">
                                    <HeaderTemplate></HeaderTemplate>
                                    <ItemTemplate>
                                        <CSControl:LinkCategoryData runat="server" Property="Name" Tag="H3" />
                                        <CSControl:LinkList runat="server" />
                                    </ItemTemplate>
                                    <FooterTemplate></FooterTemplate>
                                </CSControl:LinkCategoryList>
	                    </asp:ContentPlaceHolder>
                    </div>
                    <div id="content"><div id="content2">
	                    <asp:ContentPlaceHolder ID = "Main" runat="Server" />        
                    </div></div>
                    <div id="contentfooter">&nbsp;</div>
		        </div>
                <div id="footer">
                    <asp:ContentPlaceHolder id="BodyFooterRegion" runat="server" >
					    <CSControl:SiteSettingsData Property="Copyright" Tag="Div" CssClass="Copyright" runat="server" />
					    
					    <CSControl:PlaceHolder runat="server">
					        <DisplayConditions Operator="Not"><CSControl:RegistrationPropertyValueComparison ComparisonProperty="IsCommercial" Operator="IsSetOrTrue" runat="server" /></DisplayConditions>
					        <ContentTemplate>
					            <a href="http://communityserver.org/r.ashx?1" target="_blank"><CSControl:Image ImageUrl="~/utility/PoweredByCS_personal.gif" BorderWidth="0" runat="server" AlternateText='<%# string.Format(CommunityServer.Components.ResourceManager.GetString("Footer_PoweredBy"), "Community Server (Non-Commercial Edition)") %>' /></a>
    						</ContentTemplate>
    					</CSControl:PlaceHolder>

                        <CSControl:PlaceHolder runat="server">
					        <DisplayConditions Operator="And">
					            <CSControl:RegistrationPropertyValueComparison ComparisonProperty="IsCommercial" Operator="IsSetOrTrue" runat="server" />
					            <CSControl:SiteSettingsPropertyValueComparison ComparisonProperty="EnableEula" Operator="IsSetOrTrue" runat="server" />
					        </DisplayConditions>
					        <ContentTemplate>
					            <a href="http://communityserver.org/r.ashx?j" target="_blank"><CSControl:Image ImageUrl="~/utility/PoweredByCS_commercial.gif" BorderWidth="0" runat="server" AlternateText='<%# string.Format(CommunityServer.Components.ResourceManager.GetString("Footer_PoweredBy"), "Community Server (Commercial Edition)") %>' /></a>
    						</ContentTemplate>
    					</CSControl:PlaceHolder>
    					
					</asp:ContentPlaceHolder>
                </div>
            </div>        
        </div>
    </form>
</body>
</html>
