body {
	font-size : 0.9em;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin : 0px;
	background : #000;
	color: #f3debf;
}

a:visited,
a:active,
a:link {	
	color : #b9b5c7;
	text-decoration : none;
}

a:hover {
	text-decoration : underline;
}

li 
{
	color: #f3debf;
}

h1 {	
	margin : 0px;
	font-size : 2.0em;
	font-family: Arial;
}

h1 a:visited,
h1 a:active,
h1 a:link {
	color : #f3debf;
	padding-left : 275px;
}

h1 a:hover {
	color : #f3debf;
	text-decoration : underline;
}

h2 {
	margin: 0px;
	padding: 0px;
	font-size: 1.8em;
	font-family: Tahoma;
	font-weight: normal;
}

h5 
{
	margin: 0px;
	padding: 0px;
	font-size: 1.8em;
	font-family: Tahoma;
	font-weight: normal;
	padding-top: 5px;
}

#main .post
{
	padding-bottom: 20px;
	padding-top: 20px;
	padding-right: 20px;
	margin-left: 20px;
	border-bottom: 1px solid black;
	color: #f3debf;
}

td
{
	color: #f3debf;
}

#top 
{
	height: 145px;
	padding : 0px;
	padding-top: 5px;
	padding-bottom: 0px;
	color : #fff;
	border-bottom : 4px solid #ed7713;
	background-repeat: no-repeat;
	background-image: url(../bgChair.jpg);
}

#tagline {
	font-size : 0.8em;
	margin : 0px;
	color : #f3debf;
	padding-left : 280px;
}

p.date img {
	vertical-align : middle;
}

p.date {
	font-size : 0.9em;
	font-weight : bold;
	border-bottom : 1px solid #AAA;	
	margin-bottom : 0px;
	padding : 2px 0px;
}

blockquote {
	font-style : italic;
}

p.postfoot {
	font-size : 0.75em;
}

.postsubhead{
	background-image : url(../photoDash2.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
}

#leftmenu 
{
	padding-top : 30px;
	position : absolute;
	left : 10px;
	width : 230px;
}

#leftmenu h3 {
	font-size : 0.9em;
	margin : 0px;
	padding : 0px;
	border-bottom : none;
	color : #f3debf;
}

#leftmenu ul {
	list-style : none;
	margin : 0px;	
	padding : 0px;
	padding-bottom: 10px;
	margin-left : 5px;
	font-size : 0.8em;
}

#main {
	margin-left : 250px;	
	padding-left : 10px;
	border-left : 1px solid #ed7713;
	border-bottom : 1px solid #ed7713;
	color: #f3debf;
	height: 1%;
}

#main2 
{
	width: 100%;
	overflow: hidden;
}

#footer {
	margin : 0px;	
	padding-top : 5px;
	text-align : center;
	font-size : 0.7em;
}

#quicklinks 
{
	padding-top: 10px;
}

input.text {
	width : 300px;	
}

textarea {
	width : 300px;
	height : 200px;	
}

.comment
{
	padding: 4px;
	overflow: hidden;
	word-wrap: break-word;       /* Internet Explorer 5.5+ */	
}

.commentowner
{
	background-color: #333333;
	padding: 4px;
	border: solid 1px #666666;
	margin-bottom: 16px;
	overflow: hidden;
	word-wrap: break-word;       /* Internet Explorer 5.5+ */	
}

#comments h4 span {
	color : #e0e1a9;
}

#comments h4 
{
	color : #e0e1a9;
	margin : 0px;
	font-size : 0.9em;
}

#comments
{
	border-top: 1px dashed #ed7713;
	color : #ed7713;
	margin-top:15px;
	padding-bottom: 20px;
	margin-left: 20px; 
}


p {
	margin : 10px 0px;
}

h3 
{
	color : #ed7713;
	font-size : 1.2em;
	border-bottom : 1px dashed #ed7713;
}

#relatedlinks ul {
	list-style : none;
	margin-left : 10px;
	padding : 0px;
}

	#commentform, #contactform {
	padding: 10px 0px 3px 0px;
	/*border: 1px solid #ddd;*/
	}

#commentform dl, #contactform dl {
	margin: 0;
	padding: 0;
	}

#commentform dt, #contactform dt {
	color: #ed7713;
	}

#commentform dt em, #contactform dt em {
	color: #999;
	font-weight: normal;
	font-style: normal;
	}
 
#commentform .smallbox, #contactform .contactbox {
	width: 300px;
	border: 1px solid #f3debf;
	padding: 2px;
	color: #444;
	}

#commentform textarea, #contactform textarea {
	width: 400px;
	height: 180px;
	border: 1px solid #f3debf;
	color: #444;
	}

#search .searchBox 
{
	width: 150px;
	border: 1px solid #f3debf;
	padding: 2px;
	color: #444;
}

#search
{
    margin-top: 10px;
    margin-bottom: 20px;
}

#news
{
	margin : 0px;	
	padding : 0px;
	padding-bottom: 10px;
	width : 215px;
}

#news h3
{
	margin : 0px;	
	padding : 0px;
	padding-bottom: 10px;
	margin-left : 0px;
}

#posttoolbar
{
	padding-top: 10px;
	margin-left: 20px;
}

#cal
{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 180px;
}

.CalendarTitle td, td.CalendarDays
{
	color : #f3debf;
	font-size : .75em;
	font-weight: bold;
	width: 20px;
	_width: 14%;
}

.CalendarDay a
{
	color : #ed7713 ! important;
}

.CalendarNextPrev
{
	_width: 15%;
	font-weight: normal;
	font-size : .65em;
}

.CalendarNextPrev a
{
	color : #f3debf ! important;
}

td.CalendarDay
{
	color : #f3debf;
	font-size : .75em;
}

.Copyright  /* used to format the content owner's copyright notice */
{
    text-align: center;
    font-size : .65em;
    font-style:italic;
    color: #f3debf;
}

.rateMenu 
{ 
    background-color:#FFF;  
    border: 1px outset;
}

/*
Rating Styles
*/

.CommonRateControlReadOnly
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	border-style: none;
	border-color: #999999;
	border-width: 1px;
	padding: 1px;
}

.CommonRateControl
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	border-style: none;
	border-color: #999999;
	border-width: 1px;
	cursor: pointer;
	padding: 1px;
}

.CommonRateControlActive
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	border-style: none;
	border-width: 1px;
	border-color: #cc9933;
	cursor: pointer;
	padding: 1px;
}

.CommonRateControlReadOnly img, .CommonRateControl img, .CommonRateControlActive img
{
	margin: 0px;
	padding: 0px;
	border-style: none;
}

/* The masthead sits at the top of the page.*/
#masthead {
	color: #f3debf;
	text-align: right;
	padding: 0.4em;
	font-size: 0.8em;
	border-bottom: 2px solid #ed7713;
	background: #535353;
}
#masthead ul {
	color: #f3debf;
	padding: 0;
	list-style-type: none;
	margin: 0;
}
#masthead ul li {
	display: inline;
}
#masthead ul li a {
	padding: 0 0.5em;
	text-decoration: none;
	margin: 0;
}
#masthead a:link, #masthead a:visited, #masthead a:active, #masthead a:hover {
	color: #b9b5c7;
	text-decoration: none;
}

/* Tag Styles */

.TagCloud
{
	padding: 8px;
	padding-top: 16px;
	padding-bottom: 16px;
	margin: 0px;
	margin-bottom: 16px;
	margin-top: 16px;
	color: #999999;
	line-height: 180%;
	list-style-type: none;
}

.SidebarTagCloud
{
	margin: 0px;
	padding: 0px;
	font-size: 80%;
	line-height: 200%;
	list-style-type: none;
}

.Tag1, .Tag2, .Tag3, .Tag4, .Tag5, .Tag6 
{
	margin: 0px;
	padding: 0px;
	display: inline;
}

.Tag1 a:link, .Tag1 a:visited, .Tag1 a:active
{
	text-decoration: none;
	margin-right: 6px;
	color: #696577;
	font-size: 160%;
	font-weight: 900;
}

.Tag2 a:link, .Tag2 a:visited, .Tag2 a:active
{
	text-decoration: none;
	margin-right: 6px;
	color: #797587;
	font-size: 145%;
	font-weight: 800;
}

.Tag3 a:link, .Tag3 a:visited, .Tag3 a:active
{
	text-decoration: none;
	margin-right: 6px;
	color: #898597;
	font-size: 130%;
	font-weight: 600;
}

.Tag4 a:link, .Tag4 a:visited, .Tag4 a:active
{
	text-decoration: none;
	margin-right: 6px;
	color: #9995a7;
	font-size: 120%;
	font-weight: 500;
}

.Tag5 a:link, .Tag5 a:visited, .Tag5 a:active
{
	text-decoration: none;
	margin-right: 6px;
	color: #a9a5b7;
	font-size: 110%;
	font-weight: 300;
}

.Tag6 a:link, .Tag6 a:visited, .Tag6 a:active
{
	text-decoration: none;
	margin-right: 6px;
	color: #b9b5c7;
	font-size: 100%;
	font-weight: 200;
}

.Tag1 a:hover, .Tag2 a:hover, .Tag3 a:hover, .Tag4 a:hover, .Tag5 a:hover, .Tag6 a:hover
{
	text-decoration: underline;
}

.SearchStatistics
{
	margin-top: 16px;
	margin-bottom: 16px;
}

/* Inline tag editor */
.InlineTagEditor
{
	padding: 4px;
	border: solid 1px #999999;
	background-color: #f3f3f3;
}

.TextButton
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	margin: 1px;
	padding: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	border-top-color: #cccccc;
	border-left-color: #cccccc;
	background-color: #eeeeee;
	color: #333333;
	font-family: Tahoma, Arial, Helvetica;
	font-size: 80%;
	font-weight: bold;
	white-space: nowrap;
}

.TextButton:LINK
{
	text-decoration: none;
	color: #333333;
	background-color: #eeeeee;
}

.TextButton:VISITED
{
	text-decoration: none;
	color: #333333;
	background-color: #eeeeee;
}

.TextButton:ACTIVE
{
	text-decoration: none;
	color: #333333;
}

.TextButton:HOVER
{
	text-decoration: underline;
	color: #333333;
	background-color: #dddddd;
}

/* Modal Styles */

.ModalMask
{
	opacity: .4;
	filter: alpha(opacity=40);
	background-color: #333333;
}

.Modal
{
	border-style: solid;
	border-width: 1px;
	border-color: #888888;
	border-right-width: 3px;
	border-right-color: #888888;
	border-bottom-width: 3px;
	border-bottom-color: #888888;
	background-color: #eeeeee;
}

.ModalTitle
{
	font-family: Tahoma, Arial, Helvetica;
	height: 18px;
	font-size: 16px;
	padding: 5px;
	padding-bottom: 7px;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: #cccccc;
	background-color: #dddddd;
	color: #000000;
	font-weight: bold;
	cursor: move;
	overflow: hidden;
	text-align: left;
}

.ModalClose
{
	width: 33px;
	height: 12px;
	background-image: url(../../../default/images/common/close.gif);
	background-repeat: no-repeat;
	overflow: hidden;
	cursor: pointer;
	float: right;
}

.ModalContent
{
	background-color: #ffffff;
}

.ModalFooter
{
	border-style: solid;
	border-width: 0px;
	border-top-width: 1px;
	border-color: #cccccc;
	background-color: #eeeeee;
	padding: 2px;
}

.ModalResize
{
	width: 14px;
	height: 14px;
	background-image: url(../../../default/images/common/resize.gif);
	background-repeat: no-repeat;
	overflow: hidden;
	float: right;
	cursor: se-resize;
}

/* Subscription Styles */
.BlogSubNotification
{
	color: #FF0000;
	font-size: 80%;
}

.SubscriptionButton
{
	margin-left: 0px;
}