body {
	font-size : 1em;
	font-family : Georgia, Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin-top: 0;
	background-color: #dddddd;
	text-align: center;
}

#Common
{
	text-align: left;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 750px;
    padding-top:0;
 background: #dddddd url(bg.gif) repeat-y 50% 0;
    border:1px solid #000;
        border-top:3px solid #000;
}

a:visited,
a:active,
a:link {	
	color : #4C7A9E;
	text-decoration : none;
}

a:hover {
	text-decoration : underline;
}

#welcome 
{
	width: 750px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: 3px;
	text-align: right;
	font-family: Arial;
	font-size: .75em;
	color: #FFF;
}

#welcome a 
{
	color: #FFF;
}

h1 {	
	font-family: Georgia, Arial Narrow;
	margin : 10px;
	margin-bottom: 5px;
	font-size : 2.5em;
}

h1 a:visited,
h1 a:active,
h1 a:link {
	color : #ffffff;
}

h1 a:hover {
	color : #ffffff;
	text-decoration : none;
}

h2 {
	color: #738AC4;
	font-size: 15pt;
	font-weight: normal;
	font-family: Georgia, Arial Narrow, Arial, Helvetica;
	padding: 4px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 20px;
	margin: 0px;
}

h5 
{
	color: #EF6522;
	font-size: 18pt;
	font-family: Georgia, Arial, Helvetica;
	padding-bottom: 0px;
	margin-bottom: 10px;
	margin-top: 0px;
	text-align: left;
}

h5 a:visited,
h5 a:active,
h5 a:link {
	color : #EF6522;
}

h5 a:hover {
	color : #EF6522;
	text-decoration : none;
}

#top {
	text-align: left;
	border-bottom: solid 1px #000;
	margin: 0px;
    width:750px;
	padding:0px;
	width: 750px;
	background-color: #4C7A9E;
}

#tagline {
	font-size : 1em;
	margin : 5px 10px;
	color: #dddddd;
	padding-bottom: 5px;
}

p.date img {
	vertical-align : middle;
}

p.date {
	font-size : 0.9em;
	font-weight : bold;
	border-bottom : 1px solid #AAA;	
	margin-bottom : 0px;
	padding : 2px 0px;
}

blockquote {
	font-style : italic;
}

p.postfoot {
	font-size : 0.75em;
	border-top: dotted 1px #666666;

}

.post 
{
	text-align: justify;
	line-height: 20px;
	margin-bottom: 35px;
}

#leftmenu {
	float: left;
	left : 10px;
	margin-left: 10px;
	margin-top : 5px;
	width : 180px;
}

#leftmenu h3 {
	font-size : 0.9em;
	margin : 0px;
	margin-top: 25px;
	padding : 0px;
	border-bottom : none;	
}

#leftmenu ul {
	list-style : none;
	margin : 0px;	
	padding : 0px;
	margin-left : 5px;
	margin-bottom : 10px;
	font-size : 0.8em;
}

#main {
	margin-top: 10px;
	fmargin-left : 220px;
	margin-left: 20px;
	margin-right: 10px;	
	padding : 20px;
	padding-left: 30px;
	overflow: hidden;
	width: 460px;
}

#footer {
	margin : 0px;	
	padding-top : 5px;
	text-align : center;
	font-size : 0.7em;
}

input.text {
	width : 300px;	
}

textarea {
	width : 300px;
	height : 200px;	
}

.comment
{
	padding: 4px;
	overflow: hidden;
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.commentowner
{
	background-color: #f3f3f3;
	padding: 4px;
	border: solid 1px #dddddd;
	margin-bottom: 1em;
	overflow: hidden;
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#comments h4 span {
	color : #999;
}

#comments h4 {
	margin : 0px;
	font-size : 0.9em;
}

#comments
{
 margin-top:15px;
}


p {
	margin : 10px 0px;
}

h3 {
	font-size : 1.2em;
	border-bottom : 1px solid #AAA;
}

#relatedlinks ul {
	list-style : none;
	margin-left : 10px;
	padding : 0px;
}

	#commentform, #contactform {
	padding: 10px 0px 3px 0px;
	/*border: 1px solid #ddd;*/
	}

#commentform dl, #contactform dl {
	margin: 0;
	padding: 0;
	}

#commentform dt, #contactform dt {
	color: #333;
	}

#commentform dd, #contactform dd
{
    margin-left:0;
    padding-bottom:2px;
}

#commentform dt em, #contactform dt em {
	color: #999;
	font-weight: normal;
	font-style: normal;
	}
 
#commentform .smallbox, #contactform .contactbox {
	width: 300px;
	border: 1px solid #ccc;
	padding: 2px;
	color: #444;
	}

#commentform textarea, #contactform textarea {
	width: 400px;
	height: 180px;
	border: 1px solid #ccc;
	color: #444;
	}
	


#search .searchBox 
{
	width: 150px;
	border: 1px solid #ccc;
	padding: 2px;

}

#search
{
    margin-bottom: 5px;
}

#news
{
    margin-bottom: 5px;
}

#Cal
{
	margin-top: 25px;
}

.CalendarTitle td, td.CalendarDays
{
	color : #000;
	font-size : .75em;
	font-weight: bold;
	width:14%;

}

td.CalendarNextPrev
{
	width:15%;
	font-weight: normal;
	font-size : .65em;
}


td.CalendarDay
{
	color : #000;
	font-size : .75em;
}

.copyright  /* used to format the content owner's copyright notice */
{
    text-align: center;
    font-size : .65em;
    font-style:italic;
}

.rateMenu 
{ 
    background-color:#FFF;  
    border: 1px outset;
}

/*
Rating Styles
*/

.CommonRateControlReadOnly
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	background-color: #ffffff;
	border-style: solid;
	border-color: #999999;
	border-width: 1px;
	padding: 1px;
}

.CommonRateControl
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	background-color: #eeeeee;
	border-style: solid;
	border-color: #999999;
	border-width: 1px;
	cursor: pointer;
	padding: 1px;
}

.CommonRateControlActive
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	background-color: #ffcc66;
	border-style: solid;
	border-width: 1px;
	border-color: #cc9933;
	cursor: pointer;
	padding: 1px;
}


#postToolbar
{
    margin-top:0;
    padding-top:0;
}

/* Tag Styles */

.TagCloud
{
	background-color: #f7f7f7;
	padding: 8px;
	padding-top: 16px;
	padding-bottom: 16px;
	margin: 0px;
	margin-bottom: 16px;
	margin-top: 16px;
	color: #999999;
	line-height: 180%;
	list-style-type: none;
}

.SidebarTagCloud
{
	padding: 0px;
	margin: 0px;
	font-size: 80%;
	line-height: 200%;
	list-style-type: none;
}

.Tag1, .Tag2, .Tag3, .Tag4, .Tag5, .Tag6 
{
	margin: 0px;
	padding: 0px;
	display: inline;
}


.Tag1 a:link, .Tag1 a:visited, .Tag1 a:active
{
	margin-right: 6px;
	text-decoration: none;
	color: #004A6E;
	font-size: 160%;
	font-weight: 900;
}

.Tag2 a:link, .Tag2 a:visited, .Tag2 a:active
{
	margin-right: 6px;
	text-decoration: none;
	color: #0C5A7E;
	font-size: 145%;
	font-weight: 800;
}

.Tag3 a:link, .Tag3 a:visited, .Tag3 a:active
{
	margin-right: 6px;
	text-decoration: none;
	color: #1C6A8E;
	font-size: 130%;
	font-weight: 600;
}

.Tag4 a:link, .Tag4 a:visited, .Tag4 a:active
{
	margin-right: 6px;
	text-decoration: none;
	color: #2C5A7E;
	font-size: 120%;
	font-weight: 500;
}

.Tag5 a:link, .Tag5 a:visited, .Tag5 a:active
{
	margin-right: 6px;
	text-decoration: none;
	color: #3C6A8E;
	font-size: 110%;
	font-weight: 300;
}

.Tag6 a:link, .Tag6 a:visited, .Tag6 a:active
{
	margin-right: 6px;
	text-decoration: none;
	color: #4C7A9E;
	font-size: 100%;
	font-weight: 200;
}

.Tag1 a:hover, .Tag2 a:hover, .Tag3 a:hover, .Tag4 a:hover, .Tag5 a:hover, .Tag6 a:hover
{
	text-decoration: underline;
}

.SearchStatistics
{
	margin-top: 16px;
	margin-bottom: 16px;
}

/* Inline tag editor */
.InlineTagEditor
{
	padding: 4px;
	border: solid 1px #999999;
	background-color: #f3f3f3;
}

.TextButton
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	margin: 1px;
	padding: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	border-top-color: #cccccc;
	border-left-color: #cccccc;
	background-color: #eeeeee;
	color: #333333;
	font-family: Tahoma, Arial, Helvetica;
	font-size: 80%;
	font-weight: bold;
	white-space: nowrap;
}

.TextButton:LINK
{
	text-decoration: none;
	color: #333333;
	background-color: #eeeeee;
}

.TextButton:VISITED
{
	text-decoration: none;
	color: #333333;
	background-color: #eeeeee;
}

.TextButton:ACTIVE
{
	text-decoration: none;
	color: #333333;
}

.TextButton:HOVER
{
	text-decoration: underline;
	color: #333333;
	background-color: #dddddd;
}

/* Modal Styles */

.ModalMask
{
	opacity: .4;
	filter: alpha(opacity=40);
	background-color: #333333;
}

.Modal
{
	border-style: solid;
	border-width: 1px;
	border-color: #888888;
	border-right-width: 3px;
	border-right-color: #888888;
	border-bottom-width: 3px;
	border-bottom-color: #888888;
	background-color: #eeeeee;
}

.ModalTitle
{
	font-family: Tahoma, Arial, Helvetica;
	height: 18px;
	font-size: 16px;
	padding: 5px;
	padding-bottom: 7px;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: #cccccc;
	background-color: #dddddd;
	color: #000000;
	font-weight: bold;
	cursor: move;
	overflow: hidden;
	text-align: left;
}

.ModalClose
{
	width: 33px;
	height: 12px;
	background-image: url(../../../default/images/common/close.gif);
	background-repeat: no-repeat;
	overflow: hidden;
	cursor: pointer;
	float: right;
}

.ModalContent
{
	background-color: #ffffff;
}

.ModalFooter
{
	border-style: solid;
	border-width: 0px;
	border-top-width: 1px;
	border-color: #cccccc;
	background-color: #eeeeee;
	padding: 2px;
}

.ModalResize
{
	width: 14px;
	height: 14px;
	background-image: url(../../../default/images/common/resize.gif);
	background-repeat: no-repeat;
	overflow: hidden;
	float: right;
	cursor: se-resize;
}

/* Subscription Styles */
.BlogSubNotification
{
	color: #FF0000;
	font-size: 80%;
}

.SubscriptionButton
{
	margin-left: 0px;
}