/*
Blog Style Overrides
*/

/*
Blog Styles
*/

UL.BlogPostList
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.BlogPostArea
{
	padding-bottom: 8px;
	margin-bottom: 8px;
	
	
	
	
}

.BlogPostHeader
{
	color: #000000;
	font-size: 150%;
	font-weight: normal;
	padding: 4px;
	padding-top: 0px;
	padding-left: 0px;
	margin: 0px;
}

.BlogRating
{
	width: 80px;
	height: 80px;
	margin: 5px 10px 0px 0px;
	
	vertical-align: top;
	text-align: center;
	padding: 8px 2px 2px 2px; 
	
	line-height: 20px;
}

.BlogRating a:link, .BlogRating a:visited, .BlogRating a:active, .BlogRating a:hover
{
	text-decoration: none;
}

.BlogCommentCount
{
	font-size: 22px;
	font-weight: bold;
}

.BlogPostContent
{
	color: #000000;
	margin-left: 1px;
	font-size: 100%;
	line-height: 20px;
	text-align: justify;
}

.BlogPostFooter
{
	margin: 10px 0px 10px 1px;
	color: #000000;
	font-size: 80%;
}


/*
Blog List Columns
*/

.BlogBlogNameColumn
{
	width: 25%;
}

.BlogAuthorColumn
{
	width: 14%;
}

.BlogLastPostColumn
{
	width: 25%;
}

.BlogPostsColumn
{
	text-align: center;
	width: 9%;
}

.BlogArticlesColumn
{
	text-align: center;
	width: 9%;
}

.BlogCommentsColumn
{
	text-align: center;
	width: 9%;
}

.BlogTrackbacksColumn
{
	text-align: center;
	width: 9%;
}

/*
Calendar styles
*/

.BlogCalendar
{
	font-size: 90%;
	width: 100%;
}

.BlogCalendarTitle
{
	text-align: center;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
}

.BlogCalendarNextPrev
{
}

.BlogCalendarNextPrev A:LINK, .BlogCalendarNextPrev A:ACTIVE, .BlogCalendarNextPrev A:VISITED
{
	text-decoration: none;
}

.BlogCalendarNextPrev A:HOVER
{
	text-decoration: underline;
}

.BlogCalendarDays
{
	font-weight: bold;
	padding: 2px;
}

.BlogCalendarDay A:LINK, .BlogCalendarDay A:ACTIVE, .BlogCalendarDay A:VISITED, .BlogCalendarDay A:HOVER
{
	font-weight: bold;
}

/* Comment Form */
#commentform {padding: 0;font-size: 0.95em;}
#commentform h2{margin-bottom:0;}
#commentform h3{
    font-size: 1.3em;margin: 0px 10px 0px 0px;padding: 10px 0px 5px;
	font-weight: 600;letter-spacing: 0px;}

#commentform p{	padding: 0em; font-size: 0.95em;}

#commentform dl {margin: 0;	padding: 0;}

#commentform dt {	padding: 5px 0 5px 0; font-size: 1.0em;	margin: 0px;}
	
#commentform dd { color: #000000;}

#commentform dt em {font-size: 0.95em;}
 
#commentform .smallbox {
	width: 350px;
	padding: 2px;
	
	
	
	
}

#commentform textarea {
	width: 500px;
	height: 150px;
	padding: 2px;
	
	
	
	
	font-size: 1em;
	}
/* End Comment */

/* Post ToolBar */

#postToolbar
{
	width:400px;
	
	padding:2px;
	
}

#postToolbar .CommonSubTitle
{
	margin-bottom:0;
	padding-bottom:0;
}
/* END Post ToolBar */