body,form{
margin:0;
}
body{
background-image:url('../images/Partnernet/top_bg1.jpg');
background-repeat:repeat-x;
/*font: normal 80%/1.4 Arial, sans-serif; */
color: #000000;
}

a:link { text-decoration: underline; }
a:visited { text-decoration: underline; }
a:hover { text-decoration: none;}

.ms-main{
/*
margin-left:5%;
margin-right:5%;
width:90%*/
width:100%;
}

.ms-globalbreadcrumb{
/*font-size:8pt;*/font-size:12px;
text-align:right;
/*background-color:#e8eef5;*/
padding:2px 10px 0px 6px;
height:41px;
background-image:url('../images/PartnerNet/top_bg1.jpg');
}
.ms-globalbreadcrumb,.ms-globalbreadcrumb a{
/*text-decoration:none;*/
/*color:#666666;*/
color:#ffffff;
}
.ms-globalbreadcrumb a:hover{
text-decoration:underline;
color:#ffffff;
/*color:#000000;*/
}

.ms-globalleft{
float:left;
}

.ms-globalleft a:hover{
background:none;
text-decoration:underline;
}

.ms-globallinks{
/*font-size:8pt;*/font-size:12px;
background:transparent;
color:#ffffff;
font-family:Tahoma;
}
.ms-globallinks-sep{
/*font-size:8pt;*/font-size:12px;
background:transparent;
color:#ffffff;
}

.ms-globallinks,.ms-globallinks a,.ms-globallinks a:link,.ms-globallinks a:visited{
/*color:#666666;*/
color:#ffffff;
font-size:12px;
text-decoration:none;
font-weight:normal;
padding:1px 3px 2px 3px;
}
.ms-globallinks a:hover{
color:#ffffff;
text-decoration:none;
background-color:#66CC66;
}

.globaltab-left
{
background-position:top;
background-image: url("../images/Partnernet/offtab_left.gif");
background-repeat:no-repeat; 
height:29px;
width:8px;
}

.globaltab-right
{
background-position:top;
background-image: url("../images/Partnernet/offtab_right.gif");
background-repeat:no-repeat; 
height:29px;
width:8px;
}

.globaltab-bk
{
	background-position:top;
	background-image: url("../images/Partnernet/offtab_bk.gif");
	background-repeat:repeat-x;
	height:29px;
	text-align:center;		
	font-family: Arial;	
	font-weight:bold;
	color:White;
	text-decoration:none;
	cursor:pointer;
	width:100px;
}

.kcglobaltab-bk
{
	background-position:top;
	background-image: url("../images/Partnernet/offtab_bk.gif");
	background-repeat:repeat-x;
	height:29px;
	text-align:center;		
	font-family: Arial;	
	font-weight:bold;
	color:White;
	text-decoration:none;
	cursor:pointer;
	width:160px;
}

.globalontab-left
{
background-position:top;
background-image: url("../images/Partnernet/ontab_left.gif");
background-repeat:no-repeat; 
height:29px;
width:8px;
}

.globalontab-right
{
background-position:top;
background-image: url("../images/Partnernet/ontab_right.gif");
background-repeat:no-repeat; 
height:29px;
width:8px;
}

.globalontab-bk 
{
	background-position:top;
	background-image: url("../images/PartnerNet/ontab_bk.gif");
	background-repeat:repeat-x;
	height:29px;
	text-align:center;		
	font-family: Arial;	
	font-weight:bold;
	color:White;
	text-decoration:none;
	cursor:pointer;
	vertical-align:middle;
	width:100px;
}

.ms-globalTitleArea{
text-align:right;
background-image:none;
/*background-image:url("../images/Partnernet/siteTitleBKGD.gif");*/
background-position:right top;
background-repeat:repeat-y;
padding-left:5px;
padding-right:0px;
padding-top:1px;
padding-bottom:1px;
/*padding-bottom:11px;*/
/*mdl - changed the bottom padding and background-image*/
}

td.ms-titleimagearea{
padding-left:2px;
width:100%;
}

.ms-sbtable{
color:#000000;
font-size:0.7em;
font-style:normal;font-weight:normal;
}

.ms-sbtable-ex{
width:100%;
border-collapse:collapse;
margin-top:2px;
margin-left:2px;
}

td.ms-sbscopes{
border:none !important;
}
select.ms-sbscopes{
/*
/*font-size:8pt;*/font-size:12px;


width:170px;
font-size:12px;
}

td.ms-sbcell{
padding:0px;
padding-left:2px;
white-space:nowrap;
/*border:solid 1px #7f9db9;*/
border:none;
/*mdl - changed the border to be none */
}

.pn-navheaderspacing
{
	text-align:center;
	padding-left:1px;
	padding-right:3px;
	padding-top:5px;
}

.pn-navheader,.pn-navheader a, .pn-navheader:link, .pn-navheader:visited {
font-size:12px;
font-weight:normal;	
color:#005596;
text-decoration:none;
}

.pn-navheader a, .pn-navheader:link, .pn-navheader:visited {
text-decoration:underline;
}

.pn-navheader:hover{
	color:#005596;
	text-decoration:none;
}

td.ms-sbgo{
/*background-color:#e9f2fd;*/
background-image:url('../images/Partnernet/btn_go.jpg');
background-repeat:no-repeat;
padding-left:3px;
padding-right:3px;
padding-bottom:1px;
padding-top:0px;
border:none;
}
td.ms-sbgo img{
width:36px;
height:22px;
visibility:hidden;
border:none;
}

.ms-globalright{
float:right;
/*padding-right:31px;*/
right:-7px;
position:relative;
}

.ms-sbplain{
/*
font-size:12px;
border:none;
background-image:url('images/search_txtbox.jpg');
height:20px;
color:#7C7C7C;
padding-top:3px;
padding-left:3px;
border-left:1px #DBE1E1 solid;
border-right:1px #DBE1E1 solid;*/
background-image:none;
font-size:12px;
border: 1px solid #cbcbcb; 
padding: 0.2em
}

a:hover.TabLink
{
	text-decoration:none;		
}

.HideGo{
	visibility:hidden;
	width:0px;
	height:0px;
	display:none;
}
