/*
File overrides
*/

#Common
{
}

#CommonLeftColumn
{
	margin: 0px;
	padding: 0px;
	border-style: solid;
	border-width: 1px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	border-top-width: 0px;
	border-color: #bbbbbb;
	background-color: #ffffff;
}

#CommonLeftColumn .CommonSidebar
{
	margin: 0px;
}

#CommonLeftColumn .CommonSidebarArea
{
	width: 250px;
	margin: 0px;
	padding: 0px;
}

#CommonLeftColumn .CommonSidebarHeader
{
	padding: 2px;
	border: #7C7C94 1px solid; 
	font-size: 11px;
	color: #000000;
	text-align: center;
	background-color: #bbbbbb;
	background-image: none;
	border-style: none;
	border-width: 0px;
	padding: 4px;
	width: auto;
	
	font-weight: normal;
	font-size: 90%;
	margin: 0px;
}

#CommonLeftColumn .CommonSidebarContent
{
	width: 250px;
	border-width: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #999999;
	padding: 0px;
	padding-bottom: 8px;
}

.CommonFloatArea
{
	width: 150px;
}

.CommonTabBar
{
	border-bottom-width: 0px;
}

/*
File styles
*/


/*
List Styles
*/

.FileListCellLeftMostImageOnly
{
	padding: 4px;
	border-style: solid;
	border-width: 1px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-color: #cccccc;
	color: #333333;
	width: 20px;
}

/*
File Display
*/

.FileFileName
{
	font-weight: bold;
	font-size: 110%;
}

.FileFileDescription
{
	margin-top: 2px;
	margin-bottom: 2px;
	padding-left: 20px;
}

.FileFileRating
{
	margin-top: 2px;
	padding-left: 20px;
}

.FileFileDetail
{
	color: #666666;
	margin-top: 2px;
	margin-bottom: 2px;
}

.FileCommentsArea
{
}

.FileCommentsTitle
{
	padding: 6px;
	padding-left: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	font-size: 90%;
	font-weight: bold;
	margin: 0px;
}


.FileCommentsContent
{
	padding: 0px;
	padding-top: 4px;
}

.FileCommentArea
{
	padding-bottom: 12px;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: #eeeeee;
	padding-top: 12px;
}

.FileCommentAvatar
{
	white-space: nowrap;
}

.FileCommentAvatar img
{
	margin-right: 8px;
}

.FileCommentContent
{
}

.FileCommentHeader
{
	font-size: 110%;
	margin: 0px;
	padding: 0px;
}

.FileCommentText
{
	padding-top: 2px;
	padding-bottom: 2px;
}

.FileCommentFooter
{
	font-size: 80%;
	color: #999999;
}

.FileFileArea
{
	margin-top: 8px;
	margin-bottom: 16px;
}

.FileFileTitle
{
	padding: 6px;
	padding-left: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	background-color: #d2e6bd; /* was #e2eecd */
	color: #698d73;
	font-size: 90%;
	font-weight: bold;
	margin: 0px;
}


.FileFilePropertiesArea
{
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	background-color: #f7f7f7;
}

.FilePropertyName
{
	width: 20%;
	font-size: 80%;
	font-weight: bold;
	color: #333333;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: #dddddd;
	height: 36px;
}

.FileProperty
{
	width: 30%;
	font-size: 80%;
	color: #333333;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: #dddddd;
	height: 36px;
}

.FileFileDescriptionArea
{
	font-size: 90%;
	padding: 8px;
	vertical-align: top;
}

/*
Columns
*/

.FileFolderNameAndImageHeader
{
}

.FileFolderFileCountHeader
{
	text-align: center;
}

.FileFolderCommentCountHeader
{
	text-align: center;
}

.FileFolderImageColumn
{
	width: 20px;
}

.FileFolderNameColumn
{
	width: 60%;
}

.FileFolderFileCountColumn
{
	text-align: center;
	width: 20%;
}

.FileFolderCommentCountColumn
{
	text-align: center;
	width: 20%;
}

.FileFileNameHeader
{
}

.FileFileDateHeader
{
	text-align: center;
}

.FileFileDownloadCountHeader
{
	text-align: center;
}

.FileFileActionHeader
{
	text-align: center;
}


.FileFileNameColumn
{
	width: 55%;
}

.FileFileDateColumn
{
	text-align: center;
	width: 15%;
}

.FileFileDownloadCountColumn
{
	text-align: center;
	width:10%;
}

.FileFileActionColumn
{
	text-align: center;
	width: 20%;
	padding-top: 8px;
}

.FilePortalListNameHeader
{
}

.FilePortalListDownloadCountHeader
{
	text-align: center;
}

.FilePortalListActionHeader
{
	text-align: center;
}


.FilePortalListNameColumn
{
	width: 50%;
}

.FilePortalListDownloadCountColumn
{
	text-align: center;
	width:25%;
}

.FilePortalListActionColumn
{
	text-align: center;
	width: 25%;
	padding-top: 8px;
}

/*
Folder Tree
*/

.FileFolderTree
{
	padding: 0px;
}

.FileFolderTreeNode
{
	font-size: 11px; 
	padding: 2px;
	padding-left: 3px;
	cursor: pointer;
}

.FileFolderTreeNodeSelected
{
	font-size: 11px; 
	padding: 1px;
	border: solid 1px #dddddd;
	cursor: pointer;
	background-color: #dbefc6;
}

.FileFolderTreeNodeHover
{
	font-size: 11px; 
	padding: 2px;
	padding-left: 3px;
	cursor: pointer;
	background-color: #dbefc6;
}