/* Style overrides */

html
{
	overflow: hidden;
}

body
{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#Common
{
	border-width: 0px;
	background-color: #ffffff;
	margin: 0px;
	width: auto;
}

#CommonBodyColumn
{
	background-color: #dddddd;
}

#CommonLeftColumn
{
	display: none;
}

#CommonRightColumn
{
	display: none;
}

#CommonHeader
{
	display: none;
}

/* Styles */

.ForumThreadPostButtons
{
	padding: 4px;
	margin: 0px;
	white-space: nowrap;
	background-color: #dddddd;
}

.ForumThreadPostContainer
{
	padding: 8px;
	vertical-align: top;
	overflow:hidden;
	background-color: #999999;
	text-align: left;	
}

.ForumThreadPostBody
{
	background-color: #ffffff;
	padding: 8px;
	border: black 1px solid;
}

.ForumThreadPostHeader
{
	padding: 0px;
	border-width: 0px;
	border-bottom: solid 1px #999999;	
	width: 100%;
	overflow: hidden;
	background-color: Transparent;
	color: #000000;
	font-weight: normal;
}

.ForumThreadPostUserAvatar
{
	padding-right: 6px;
}

.ForumThreadPostPubDate
{
	color: #000000;
	padding: 0px;
	margin: 0px;
	font-size: 80%;
}

.ForumThreadPostTitle
{
	color: #91723f;
	font-size: 12pt;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
}

.ForumThreadPostAuthor
{
	font-weight: bold;
	color: #666666;
	margin: 0px;
	padding: 0px;
	font-size: 115%;
	padding-top: 6px;
}

.ForumThreadPostAuthor A:LINK, .ForumThreadPostAuthor A:VISITED, .ForumThreadPostAuthor A:ACTIVE, .ForumThreadPostAuthor A:HOVER
{
	color: #666666;
}

.ForumThreadPostUserProperties
{
	padding-top: 8px;
	font-size: 80%;
	white-space: nowrap;
}

.ForumThreadPostRoleIcons
{
	white-space: nowrap;
	margin-top: 4px;
}

.ForumThreadPostRoleIcons img
{
	margin-right: 8px;
}

.ForumThreadPostAttachment
{
	padding: 0px;
	padding-bottom: 2px;
}

.ForumThreadPostContent
{
	padding-top: 8px;
	padding-bottom: 12px;
	overflow: auto;
}

UL.ForumThreadPostUserPropertyList
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;	
	padding-left: 4px;
}

UL.ForumThreadPostUserPropertyList LI
{
	display: inline;
	margin: 0px;
	margin-left: 0px;
	margin-right: 10px;
	font-size: 90%;
}

.ForumThreadPostFooterArea
{
	border-width: 0px;
}

UL.ForumThreadPostStatistics
{
	margin: 0px;
	padding: 0px;
	lsit-style-type: none;
	padding-left: 4px;
	text-align: right;
	font-size: 80%;
}

UL.ForumThreadPostStatistics LI
{
	display: inline;
	margin: 0px;
	margin-left: 10px;
	margin-right: 0px;
}