/*
Gallery Style Overrides
*/

.CommonTitle
{
	position: relative;
}

.CommonVerticalScroll
{
	overflow:-moz-scrollbars-vertical;
	overflow-x:hidden;
	overflow-y:scroll; 
}
.CommonHorizontalScroll
{
	overflow:-moz-scrollbars-horizontal;
	overflow-x:scroll; 
	overflow-y:hidden;
}


/*
Sidebar Styles
*/


/*
Content Styles
*/

UL.GalleryList
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.GalleryGalleryArea
{
	margin: 8px;
	margin-bottom: 8px;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: #eeeeee;
}

.GalleryGalleryHeader
{
	color: #738AC4;
	font-size: 150%;
	font-weight: normal;
	padding: 4px;
	padding-left: 0px;
	margin: 0px;
}

.GalleryGalleryContent
{
	color: #000000;
	font-size: 80%;
}

UL.GalleryImageList
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

UL.GalleryImageList LI
{
	float: left;
}

.GalleryGalleryImage
{
	margin: 4px;
	margin-left: 0px;
	padding: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: #C4D6AE;
	background-color: #eeeeee;
	width: 100px;
	height: 100px;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}

.GalleryGalleryFooter
{
	clear: both;
	margin: 10px 0px 10px 1px;
	color: #666666;
}

/*
Search Results
*/

.GallerySearchResult
{
	margin-bottom: 8px;
}

.GallerySearchResultName
{
	font-weight: bold;
	font-size: 100%;
}

.GallerySearchResultDetails
{
	font-size: 80%;
}

.GalleryGalleryArea
{
	position:relative;
}


/* Header */
/*.GalleryHeading
{
	padding: 20px 0 0 5px;
}*/
.SendGallery{
	float: right;
	width:auto;
}
.OwnerAvatar img{
	margin: 0px 10px 0px 0px;
}
.OwnerAvatar img
{
	border: solid 1px #CDDEEE;
	padding: 1px;
}
h5.CommonSubTitle
{
	position: relative;
	margin-left: 0px;
	/*font-family: Georgia, Arial, Helvetica;*/
	font-weight: normal;
	margin: 0px;
	padding: 2px 0 0 0;
	color: #0046A0;
	font-size: 110%;
}
/* END Header */

/* Float Helpers */
.ClearLeft{
	line-height: 0px;
	clear: left;
	height: 0px;
	width: 0px;
	padding:0;
	margin:0;
}
.MinWidth
{
	/*border:solid 1px red;*/
	width:520px;
	min-width:520px;
}
BODY
{
	min-width:520px;
}
/* END Float Helpers */

/* SideBar


.CommonSidebar
{
	width: 240px;
	padding: 0;
	margin: 0;
	font-size: 90%;
}
.CommonSidebarArea
{
	border-style: solid;
	border-width: 1px;
	border-color: #CDDEEE;
	margin: 0px 20px 30px 20px;
	background-color: white;
	width:200px;
}
.CommonSidebar h3
{
	text-align: left;
	font-size: 110%;
	background-color: Transparent;
	color: #0046A0;
	padding: 0px 0px 3px 0px;
	margin: 0px;

}
.CommonSidebar h5
{
	color: #0046A0;
	font-size: 1em;
	font-weight:bold;
}
.CommonSidebarArea UL
{
	margin: 0px;
	padding: 0px;
}
.CommonSidebarArea LI
{
	list-style-type:none;
} */
.CommonSideBarContent
{
	border: solid 1px red;
}
.SidebarPhotoBox
{
	margin:0px auto;
	text-align:center;
}
.SidebarPhotoBox a
{
	border:0;
}
.SidebarPhotoBox img
{
	border: solid 1px #cccccc;
	padding:2px;
}

.SidebarItemDescription
{
	font-style: italic;
}
.SidebarItemText
{
	color: #000000;
}

.SelectedTreeNode a:link, .SelectedTreeNode a:visited, .SelectedTreeNode a:hover, .SelectedTreeNode a:active 
{
	color: #698d73;
}
.SidebarPrevNext
{
	padding-top:5px;
	padding-bottom:5px;
	padding-left: 0px;
	padding-right: 0px;
}
.AlbumIcon
{
	height:16px;
	width:16px;
	background-image: url(../Images/file/folder.gif);
}
/* END SideBar */

/* Content Area */
/*.CommonContent
{
	position: relative;
	margin: 0px;
	padding: 0px;
	font-size: .7em;
}*/

.ContentHeader
{
	font-size: 130%;
	background-color: Transparent;
	color: #999999;
	padding: 0px 0px 3px 0px;
	margin: 0px;
	position:relative;
}

/*
.MainContent h3
{
	font-size: 160%;
	background-color: Transparent;
	color: #0046A0;
	padding: 0px 0px 3px 0px;
	margin: 0px;

}
*/

.CommonBodyContent
{
	padding-left:20px;
	padding-bottom:10px;
}
.BreadcrumbList
{
	padding-bottom:10px;
	position:relative;
	color: #999999;
}
.boldtext{
	font-weight: bold;
}
/* Contact Sheet */
.PictureList
{
	padding: 0px;
	margin: 0px;
	margin-left: 0px !important;
	margin-left: -20px;
	display:block;
	/*border: solid 1px green;*/
}

.PictureListPager {
	text-align: right;
	float:right;
	margin-right: 10px;
	font-size: 100%;
}
.PictureListPager a{
	font-weight: bold;
}

.PictureListControls{
	font-size: 80%;
	text-align: left;
	margin: 0px;
	clear: both;
}
div.pic{
	float: left;
	height: 81px;
	width: 81px;
	margin: 0px 10px 20px 10px;
	/*background-image: url(../Images/picturelist_background.png);
	background-repeat: no-repeat;
	background-position: left top;*/
	border: solid 1px #CDDEEE;
	overflow:hidden;
	padding: 0px;
	text-align: center;
}
div.pic span {
	margin: 3px;
	display: block;
	height: 75px;
	width: 75px;
	overflow:hidden;
}
div.pic a{
	padding: 0px;
}
div.pic img{
	
	border: none;
	
	
}
/* END Contact Sheet */

/* Picture Details */

div.PictureDetail
{
	text-align: left;
}
div.PictureDetail span {
}
div.PictureDetail img{
	border: solid 1px #CDDEEE;
	padding: 3px;
}

div.PictureDescription
{
	margin-top: 24px;
	margin-bottom: 16px;
}

/* END Picture Details */

/* Comment List */


/* Hide from IE5-mac. Only IE-win sees this. \*/
* html div.commenttext {
  height: 1%;
  }
/* End hide from IE5/mac */


.commenttext
{
	margin-left:100px;
}
#comments
{
	font-size: 100%;
	margin-top: 16px;
	margin: 0px 0px 0px 0px;}
	
#comments h3 
{
	color: #999999;
	font-size: 140%;
}

.Comment
{
	padding-bottom: 12px;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: #eeeeee;
	padding-top: 12px;
}

.CommentAvatar
{
	white-space: nowrap;
}

.CommentAvatar img
{
	margin-right: 8px;
}

.CommentContent
{
}

.CommentTitle
{
	font-size: 110%;
	margin: 0px;
	padding: 0px;
}

.CommentText
{
	padding-top: 2px;
	padding-bottom: 2px;
}

.CommentFooter
{
	font-size: 80%;
	color: #999999;
}

/* END Comment List */

/* Exif List */
#comments .CommonInlineMessageContent
{
	font-size:120%;
}
/* END Exif List */

/* END Content Area */

.photodetailoptions{
	margin-left: 8px;
	font-size: 80%;
	position: relative;
}
.viewexif{
	background-image: url(../Images/gallery/viewexificon.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 20px;
	height: 16px;
	font-size: 110%;
	text-decoration: none;
	padding-top: 0px;
	margin-top: 5px;
	padding-right: 5px;
	padding-bottom: 3px;
	border: solid 1px #CDDEEE;
	border-top-width: 0px;
	position:relative;
}
.viewsizes{
	background-image: url(../Images/gallery/viewsizesicon.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 20px;
	height: 16px;
	font-size: 110%;
	text-decoration: none;
	padding-top: 0px;
	margin-top: 10px;
	padding-right: 5px;
	padding-bottom: 3px;
	border: solid 1px #CDDEEE;
	border-top-width: 0px;
	position:relative;
}
.viewcomments{
	background-image: url(../Images/gallery/viewexificon.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 20px;
	height: 16px;
	font-size: 110%;
	text-decoration: none;
	padding-top: 0px;
	margin-top: 10px;
	padding-right: 5px;
	padding-bottom: 3px;
	border: solid 1px #CDDEEE;
	border-top-width: 0px;
	position:relative;
}
div#ViewSizes
{
	margin: 3px 0px 0px 20px;
	display: none;
	text-align: left;
	width: 135px;
	border-top-width: 4px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	padding: 5px;
	font-size: 11px;
	position: absolute;
	background-color: #FFFFFF;
	left: -20px;
}
#ViewSizes ul{
	margin: 0px;
	padding: 0px;
}
#ViewSizes li{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
div#ViewExif
{
	margin: 3px 0px 0px 100px;
	display: none;
	text-align: left;
	width: 210px;
	border-top-width: 4px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	padding: 5px;
	font-size: 11px;
	position: absolute;
	background-color: #FFFFFF;
	left: -13px;
}
#ViewExif ul{
	margin: 0px;
	padding: 0px;
}
#ViewExif li{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.emtext{
	font-style: italic;
}
#comments dl{
	margin-top: 10px;
	margin-right: 40px;
	margin-bottom: 0px;
	margin-left: 20px;
	padding-top: 0px;

}
.commentform {
	margin-right: 40px;
	margin-left: 20px;
	font-size:100%;
}
.commentform h3{	
    /*font-family: Georgia, Arial, Helvetica;*/
	color: #999999;
	font-size:150%;
	font-weight: bold;}
.commentform dt{
	color: #999999;
	font-size:100%;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}
.commentform dd{
	margin: 0px 0px 10px;
	padding: 0px;
}
.smallbox{
	/*width: 100%;*/
	width:350px;
	padding: 2px;
}
.largebox{
	/*width: 100%;*/
	width:350px;
	padding: 2px;
	height: 150px;
}