﻿html { height: 100%; }
body { margin: 0; padding: 0; background: #fff; color: #000; font: .75em/1.5 "Arial", "Helvetica", sans-serif; background: #fff url("../images/MyHabitat/background.png") repeat-y 50% 0;}
form { min-height: 100% !important; }
* { margin: 0; padding: 0; }


/**
* body-wrapper
**/

.body-wrapper { overflow: hidden; width: 977px; height: 100%; margin: 0 auto; padding: 0 13px; background: #fff url("../images/MyHabitat/background.png") repeat-y 50% 0; height: 100%; }

/**
* header
**/

.header { overflow: hidden; padding: 10px 0 21px 0; }
.header h1 { float: left; padding: 2px 0 0 15px; }
.header h1 a { float: left; width: 286px; height: 55px; background: transparent url("../images/MyHabitat/logo.gif") no-repeat 0 0; text-indent: -9000em; }
.header div { float: right; padding: 8px 0px; margin-right: 20px;}
.header div strong { font-size: 1.167em; }

/**
* menu
**/
.menu { z-index: 20; position: relative; width: 100%; height: 29px; border-bottom: 1px solid #034156;border-bottom:none; }
.menu ul {float: left; width: 560px; margin: 0; padding-left: 11px; height: 29px; list-style: none; }
.menu ul li {position: relative; float: left; overflow: hidden; height: 29px; margin: 0; padding: 0; font-size: 12px; cursor: pointer; }
.menu ul li:hover {overflow: visible;  z-index: 10; padding-right: 30px; margin-right: -30px;}
.menu ul li a, .menu ul li a:visited {display: block; float: left; height: 29px; padding-left: 10px; background: url("../images/MyHabitat/tab.png") left top no-repeat; line-height: 29px; text-decoration: none;}
.menu ul li a span, .menu ul li a:visited span {cursor: pointer; display: block; float: left; height: 29px; padding-right: 10px; background: url("../images/MyHabitat/tab.png") right top no-repeat; color: #fff; font-weight: 700; text-transform: uppercase;}
.menu ul li a:hover, .menu ul li a.selected, .menu ul li a.selected:visited, .menu ul li:hover a, .menu ul li:hover a:visited {background-position: left bottom;}
.menu ul li a:hover span, .menu ul li a.selected span, .menu ul li a.selected:visited span, .menu ul li:hover a span, .menu ul li:hover a:visited span {background-position: right bottom;}

.submenu {position: absolute; left: 0; top: 29px; z-index: 50; width: 671px; border: 2px solid #005596; background: #E7EFF4; overflow:hidden; }
.submenu p {margin: 0; padding: 0 5px 0 15px; background: #fff; color: #000; font-weight: 700; line-height: 27px;}
.submenu .menus {float: left; overflow: hidden; width: 430px; background: #eee;}
.submenu .menus div.border-line1 {width:0px; border-right: #cccccc 2px solid; height: 900px; position:absolute;left: 230px;}
.submenu .menus div.border-line2 {width:0px; border-right: #cccccc 2px solid; height: 900px; position:absolute;left: 430px;}
.submenu .menus div.first {float: left; width: 230px; padding: 0;  }
.submenu .menus div.second {float: left; width: 200px; padding: 0;  }
.submenu .menus div.second-lower {float: left; width: 200px; padding: 0; border-top: #cccccc 2px solid;}
.submenu .res {float: left; width: 241px; }

.submenu .res-item a, .submenu .res-item a:visited { padding: 0px 12px 15px 14px; display: inline; float: none; height: auto;  background: none; color: #005596; font-weight: 700; line-height: 1.5em; text-decoration: none;}
.submenu .res-item p {padding: 0px 12px 15px 14px; margin: 0px 0px 0px 1px; background: none; color: #000; font-weight: 500; line-height: 15px; font-size:10px;}
.submenu .res-item {padding-top:5px; border-bottom:#cccccc 2px solid; position: static; float: none; height: auto; line-height: 1.5em; color:#666666; font-weight: bold; }
.submenu ul {width: auto; height: auto; margin: 0; padding: 5px 12px 15px 12px; list-style: none;}
.submenu ul li {position: static; float: none; line-height: 15px !important; color:#666666; font-weight: bold; padding: 2px 0 3px 0; height: auto;}
.submenu ul li:hover {line-height: 15px !important; }
.submenu ul li a, .submenu ul li a:visited {display: inline; float: none; height: auto; padding: 0; background: none; color: #005596; font-weight: 700; text-decoration: none; line-height: 15px !important;}
.submenu ul li a:hover {background: none; color: #000000; line-height: 15px !important;}

.insitesubmenu {position: absolute; left: 0; top: 29px; z-index: 50; border: 2px solid #005596; background: #E7EFF4; width:590px;}
.insitesubmenu p {margin: 0; padding: 0 15px; background: #fff; color: #000; font-weight: 700; line-height: 27px;}
.insitesubmenu .menus {float: left; overflow: hidden; width: 430px; background: #eee;}
.insitesubmenu .menus div.first {float: left; width: 230px; padding: 0;}
.insitesubmenu .menus div.second {float: left; width: 200px; padding: 0;}
.insitesubmenu .res {float: left; width: 160px;}
.insitesubmenu ul {width: auto; height: auto; margin: 0; padding: 5px 15px 15px 15px; list-style: none;}
.insitesubmenu ul li {position: static; float: none; height: auto; line-height: 1.5em; color:#666666; font-weight: bold; }
.insitesubmenu  ul li a, .insitesubmenu  ul li a:visited {display: inline; float: none; height: auto; padding: 0; background: none; color: #005596; font-weight: 700; line-height: 1.5em; text-decoration: none;}
.insitesubmenu ul li a:hover {background: none; color: #000000;}
.insitesubmenu ul li.org-chart a {padding-bottom: 1px; display: block;}
.insitesubmenu ul li.org-chart a:hover {line-height: 12px !important; display: block;}
.insitesubmenu ul li.org-chart {line-height: 10px !important; padding-top: 3px; }
.insitesubmenu ul li.org-chart:hover {padding-bottom: 0px;}

.headline { overflow: hidden; border-top: 2px solid #005596; background-color: #d9e6ee; }
.headline h2 { float: left; padding: 15px 0 9px 103px; background: transparent url("../images/MyHabitat/header_home_icon.png") no-repeat 26px 100%; font-size: 1.5em; color: #000000;}
.headline a {text-decoration: none;}
.headline p { float: right; padding: 15px 11px 10px 0; }
.headline input.input { float: left; width: 170px; height: 18px; padding: 4px 0 0 7px; border: 1px solid #ccc; background: #fff; color: #666; }
.headline input.submit { float: left; width: 43px; margin-left: 3px; border: 1px solid #ccc; background: #fff; color: #005596; font-size: .917em; height: 24px; line-height: 24px; text-align: center; }
.headline-knowledge h2 { background-image: url("../images/MyHabitat/header_forum_icon.png") !important; }

.content { overflow: hidden; background: #fff url("../images/myhabitat/content_background.png") repeat-x 0 0; line-height: 1.2; height:100%; }


.search-form { float:right; margin:-5px 0 0; overflow:hidden; padding:0 10px; padding-left:5px; width:226px; }
.search-form p { margin:0; padding:0; }
.search-form input.input { background:#FFFFFF none repeat scroll 0 0; border:1px solid #CCCCCC; color:#666666; float:left; height:18px; margin:0 5px 0 0; padding:4px 0 0 7px; width:156px; }
.search-form input.submit { background:#FFFFFF none repeat scroll 0 0; border:1px solid #CCCCCC; color:#005596; float:left; font-size:0.917em;
font-weight:700; height:24px; line-height:24px; margin-left:3px; text-align:center; width:43px; }