/*body,form {margin:0;}*/

body{font: normal 80%/1.4 Arial, sans-serif; color: #000000;}

.ms-globalright, .ms-globalbreadcrumb, .ms-globallinks, .ms-sbtable, .pn-navheaderspacing, .pn-navheader, .ms-sbcell {visibility:hidden;}
.CommonFormArea, .ContentPrint, .ForumPostButtons, .ForumPostFooterArea, .CommonPagingArea, .ForumPostThreadStatus, .CommonInlineTagEditor, .ForumPostStatistics, .CommonPrintHidden {visibility:hidden;}
.ForumPostTitle, .ForumPostTitleArea, .ForumPostBodyArea, .ForumPostContentText, .ForumPostThreadStatus, .ForumPostFooterArea, .CommonInlineTagEditor, .ForumPostStatistics, .CommonPrintHidden {margin:0px;padding:0px;}

.ms-titleimagearea {position:absolute; top:0px; left:0px;}

/*.CommonContentArea {position:fixed; top:60px; left:0px;}*/

.ForumPostTitle {padding:5px; font-size:100%;}
.ForumPostContentText {padding:0px 5px 0px 6px;}
.ForumPostFooterArea {height:2px;}
.ForumPostHeader2 {padding-left:5px;}
.ForumPostFooterArea {height:0px;}