/* Luxinterior Blog Skin for CS 2.1 
   Version 0.60 - 11/07/2006
*/

/* Global White Space Reset 
   For more information about this technique, go to: 
	http://leftjustified.net/journal/2004/10/19/global-ws-reset/
*/
* { padding:0; margin:0;}
h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, fieldset, address { margin:1em 0; }
li, dd, blockquote, label, ul, ol { margin-left: 1em; }
fieldset { padding:1em; }
/* End Global White Space Reset*/
/* tags ------------------------------------------------------------------- */
html, body {
	color: #FFF;
	margin: 0px;
	padding: 0px;
	background-color: #555;
}
/* I have used Owen Brigg's font sizing technique in this blog skin. 
   You can read about this technique at:
	http://www.thenoodleincident.com/tutorials/typography/index.html
	
	To change the default font size throughout the site, simply change the
	font % tag in the body selector
*/
body {
	text-align: center;
	font: 76% Geneva, Verdana, Arial, Helvetica, sans-serif;
}

h1 {   
1.6em;
}

h2 {
1.4em;
}
h3 {
1.2em;
}

h4 {
1.1em;
}

h5 {
1em;
}

h6 {
0.9em;
}
a:link, a:visited, a:hover, a:active{color:#f4bf33;}
/* End tags ---------------------------------------------------------------- */
/* Layout ------------------------------------------------------------------ */
#container{
	text-align: left; 
	width: expression(document.body.clientWidth > 950 ? "950px" : "auto");
	max-width: 950px;
	margin: 20px auto auto;
   }
#header{
   text-align: center;
	}
#wrapper{  
   float:left;
   width:63%;
   margin:0 0 0 2%;
	display: inline;
	}
#content{
   line-height:1.4;
   width: 100%; 
   overflow:hidden;
	}
#subcontent-a{
   float:right;
   width:31%;
   margin:0 2% 0 0;
	display: inline;
	line-height: 1.2em;
	}
#footer{clear:both;text-align:center;margin:1em 2%;}
/* Header - These selectors style the header of the blog */
#header a{
   text-decoration: none;
   }
#header h2{
   font: 800 3.2em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	margin: 0;
   }
#header p{
	font: 500 1.6em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
   }
/* End Header */
/* End Layout --------------------------------------------------------------- */
/* Blog Content Styles ------------------------------------------------------ */
/*This is the header in the content section of pages*/
.contentheading{
   font: 400 1.6em "Trebuchet ms", serif;
	letter-spacing:1px;
	margin-top: 0px;
   }
/* This is the subheader on content pages*/
.contentsubheading{
   font: 800 1.3em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
   letter-spacing: 1px;
   margin: 0% 2% 2% 2%;
   }
.breadcrumb{
   font: 800 1.3em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	margin: 0.5em 0;
}
/* This is the container div for Category Headings*/
.categorydisplay
   {
   margin-bottom: 1em;
	}
/* Entry List Styles -  The Entry List shows the blog posts on the blog home page */
dl.entrylist{margin: 0px;}
dl.entrylist dt{
	font: 400 1.6em "trebuchet ms", serif;
	padding: 1% 2% 0 2%;
	background-color: #444;
}
dl.entrylist dt a{
	text-decoration:none;
}
dl.entrylist dd{
	background-color: #444;
	padding: 2%;
	margin: 0 0 4% 0;
	background: url(../images/gradient.jpg) repeat-x top left;
}
.entrylistfooter{
	font-size: 0.9em;
	margin-top: 1em;
}
/* EntryView Styles - The Entry List shows the blog post on the post page*/
.entryview{
	background: url(../images/gradient.jpg) repeat-x top left;
	padding: 1% 2% 2% 2%;
	margin-bottom: 1em;
}
.entryviewheading
{  
   font: 400 1.6em "trebuchet ms", serif;
   margin-top: 0;
}
.entryviewfooter{
	font-size: 0.9em;
	margin-top: 1em;
}
/* Detailedpostsubscription */
.subscriptions p{
	font-size: 0.9em;
	padding: 0.2em 2%;
}
/* Comment Styles*/
dl.comments{
	margin: 0px;
	font-size: 0.9em;
}
dl.comments dt{
   font: 800 1.3em "trebuchet ms", serif;
	margin: 0px 2% 0px 2%;
	padding: 2%;
	background-color:#4d4d4d;
}
dl.comments dd{
	margin: 0px 2% 4% 2%;
	padding: 0 2% 2% 2%;
	background-color:#4d4d4d;
	overflow: hidden;
	word-wrap: break-word;       /* Internet Explorer 5.5+ */	
}
.commentsfooter{
	display:block;
}
dl.comments dt.owner 
{
	background-color: #3c3c3c;
}
dl.comments dd.owner
{
	background-color: #3c3c3c;
}
/* This is the message that displays when someone has posted a new comment */
#commentmessage{
	padding: 1% 1% 1% 38px;
	color: #60c100;
	margin: 0 4% 4% 4%;
	background: #333 url(../images/yes.gif) no-repeat 5px center;
}
/* Comment and Contact Forms*/
dl.commentform{
	margin: 0 2% 4% 2%;
	
}
dl.commentform dt label{
	margin: 0px;
}
dl.commentform dt input{
	margin: 1% 2% 0 0;
}
dl.commentform dd{
   font-size: 0.9em;
	margin: 0.5em 0;

}
.textline{
	font: 1em Geneva, Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	padding: 3px;
	width: 20em;
	margin-right: 3%;
	background-color: #ddd;
	border: 1px inset #555;
}
.textmultiline{
   color: #000;
	width: 30em;
	height: 10em;
	font:1em Geneva, Verdana, Arial, Helvetica, sans-serif;
	padding: 3px;
	margin-right: 3%;
	background-color: #ddd;
	border: 1px inset #555;
}
/* End Blog Content Styles
/* Blog Sidebar Styles ---------------------------------------------------------- */
.sideheader{
font: 800 1.3em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
letter-spacing: 1px;
margin-bottom: 0.5em;
}
ul.sidelist{
	list-style-type: none;
	margin-left: 0;
}
ul.sidelist li{

	font-size: 0.9em;
	margin-right: 0em;
	margin-bottom:0.5em;
	margin-left: 0;
}
.sidebox{
}
ul.inlinelist{
	display: inline;
}
ul.inlinelist li{
	display: inline;
	margin-right: 3%;
}
/* Search Box */
.searchbox{
	font-size: 0.9em;
	color: #000;
	padding: 3px;
	width: 15em;
	margin-right: 3%;
	background-color: #DDD;
	border: 1px inset #555;
}
.searchbutton{
 font: 800 1.5em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
 letter-spacing: 1px;
 text-decoration:none;
}
/* End Blog Sidebar Styles ------------------------------------------------------ */
/* tags*/
/* tag Styles */

.tagcloud
{
	line-height: 200%;
	margin: 0px;
	padding: 0px;
	margin-bottom:1em;
	list-style-type: none;
}
.tagcloud a
{
	margin: 0 2px;
	text-decoration:none;
}
.tagcloud a:hover{
	background-color: #444;
}

.tag1, .tag2, .tag3, .tag4, .tag5, .tag6 
{
	margin: 0px;
	padding: 0px;
	display: inline;
}

.tag1 a:link, .tag1 a:visited, .tag1 a:active
{
	font-size: 1.4em;
	font-weight: 900;
}

.tag2 a:link, .tag2 a:visited, .tag2 a:active
{
font-size:1.3em;
font-weight: 800;
}

.tag3 a:link, .tag3 a:visited, .tag3 a:active
{
font-size:1.2em;
font-weight: 600;
}

.tag4 a:link, .tag4 a:visited, .tag4 a:active
{
font-size:1em;
font-weight: 400;
}

.tag5 a:link, .tag5 a:visited, .tag5 a:active
{
font-size:0.9em;
font-weight: 200;
}

.tag6 a:link, .tag6 a:visited, .tag6 a:active
{
font-size:0.8em;
font-weight: 100;
}

/* End tag Styles */
li.rss {
        line-height: 16px;
        background: url(../images/rss.gif) no-repeat left center;
}
li.rss a{
        padding-left: 20px;
}
.aboutauthor{
	margin: 0 2% 0% 2%;
}
.notop{
	margin-top:0;
}

/* Inline tag editor */
.InlineTagEditor
{
	padding: 4px;
	border: solid 1px #999999;
	background-color: #f3f3f3;
}

.TextButton
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	margin: 1px;
	padding: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	border-top-color: #cccccc;
	border-left-color: #cccccc;
	background-color: #eeeeee;
	color: #333333;
	font-family: Tahoma, Arial, Helvetica;
	font-size: 80%;
	font-weight: bold;
	white-space: nowrap;
}

.TextButton:LINK
{
	text-decoration: none;
	color: #333333;
	background-color: #eeeeee;
}

.TextButton:VISITED
{
	text-decoration: none;
	color: #333333;
	background-color: #eeeeee;
}

.TextButton:ACTIVE
{
	text-decoration: none;
	color: #333333;
}

.TextButton:HOVER
{
	text-decoration: underline;
	color: #333333;
	background-color: #dddddd;
}

/* Modal Styles */

.ModalMask
{
	opacity: .4;
	filter: alpha(opacity=40);
	background-color: #333333;
}

.Modal
{
	border-style: solid;
	border-width: 1px;
	border-color: #888888;
	border-right-width: 3px;
	border-right-color: #888888;
	border-bottom-width: 3px;
	border-bottom-color: #888888;
	background-color: #eeeeee;
}

.ModalTitle
{
	font-family: Tahoma, Arial, Helvetica;
	height: 18px;
	font-size: 16px;
	padding: 5px;
	padding-bottom: 7px;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: #cccccc;
	background-color: #dddddd;
	color: #000000;
	font-weight: bold;
	cursor: move;
	overflow: hidden;
	text-align: left;
}

.ModalClose
{
	width: 33px;
	height: 12px;
	background-image: url(../../../default/images/common/close.gif);
	background-repeat: no-repeat;
	overflow: hidden;
	cursor: pointer;
	float: right;
}

.ModalContent
{
	background-color: #ffffff;
}

.ModalFooter
{
	border-style: solid;
	border-width: 0px;
	border-top-width: 1px;
	border-color: #cccccc;
	background-color: #eeeeee;
	padding: 2px;
}

.ModalResize
{
	width: 14px;
	height: 14px;
	background-image: url(../../../default/images/common/resize.gif);
	background-repeat: no-repeat;
	overflow: hidden;
	float: right;
	cursor: se-resize;
}

/* Subscription Styles */
.BlogSubNotification
{
	color: #FF0000;
	font-size: 80%;
}

.SubscriptionButton
{
	margin-left: 0px;
}
