<%@ Page %>

<%-- 

This page is a placeholder for URL rewriting.

The content of this page is defined by the theme associated to this 
site and is located at web/themes/[THEME NAME]/files/deleteentry.aspx

--%>