/*
Generics
*/

body, html
{
	margin: 0px;
	padding: 0px;
	color: #000000;
	font-family: Arial, Helvetica;
	background-color: #eee; /* #606060; */
}

#CommonOuter
{
}

#Common
{
	background-color: #ffffff;
	border-top: solid 6px #3A477A;
	min-width: 1000px;
}

#CommonHeader
{
	width: 100%;
}

#CommonFooter
{
	background-color: #eee;
	padding: 8px;
	text-align:center;
}

#CommonLeftColumn
{
	background-color: #D3E0F8;
	padding-bottom: 22px;
}

#CommonRightColumn
{
	background-color: #fff;
	padding-bottom: 22px;
}

A:LINK
{
	color: #000;
	
}

A:ACTIVE
{
	color: #666;
}

A:VISITED
{
	color: #666;
}

A:HOVER
{
	text-decoration: underline;
}

SELECT
{
    font-family: Arial, Helvetica;
    font-size: 90%;
}

TEXTAREA
{
    font-family: Arial, Helvetica;
    font-size: 90%;
}

INPUT
{
    font-family: Arial, Helvetica;
    font-size: 90%;
}

BUTTON
{
    font-family: Arial, Helvetica;
    font-size: 90%;
}

/*
Common Styles
*/

.CommonJumpArea
{
	font-family: Arial, Helvetica;
	font-size: 90%;
	padding: 4px;
	padding-left: 0px;
	padding-right: 0px;
	font-weight: bold;
}

.CommonFeedArea
{
	font-family: Arial, Helvetica;
	font-size: 90%;
	padding: 4px;
	padding-left: 0px;
	padding-right: 0px;
	font-weight: bold;
}

.CommonPagingArea
{
	font-family: Arial, Helvetica;
	font-size: 90%;
	padding: 4px;
	margin-left: 3px;
	margin-right: 3px;
	font-weight: bold;
}

.CommonSortArea
{
	font-family: Arial, Helvetica;
	font-size: 90%;
	padding: 4px;
	margin-left: 3px;
	margin-right: 3px;
	font-weight: bold;
	margin-right: 40px;
}

.CommonBreadCrumbArea
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	font-size: 80%;
	margin: -5px -15px 10px -15px;
	padding: 5px 5px 5px 20px;
	background-color: #f4f4f4;
	color: #666666;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-color: #cccccc;
}

.CommonBreadCrumbArea A:LINK
{
	color: #666666;
}

.CommonBreadCrumbArea A:VISITED
{
	color: #666666;
}

.CommonFilterArea
{
	font-family: Arial, Helvetica;
	font-size: 90%;
	padding: 4px;
	margin-left: 3px;
	margin-right: 3px;
	font-weight: bold;
	margin-right: 40px;
}

.CommonPagingArea A:LINK
{
	
	color: #666666;
}

.CommonPagingArea A:VISITED
{
	
	color: #666666;
}

.CommonSearchResults
{
	font-family: Arial, Helvetica;
	font-size: 80%;
	color: #000000;
	font-weight: bold;
	padding: 8px;
}

.CommonSearchResultsArea
{
	border-style: solid;
	border-width: 0px;
	border-top-width: 2px;
	border-color: #cccccc;
	margin-top: 16px;
	padding-top: 4px;
}

/* 
Tree Form Element
*/

.CommonTreeFormArea
{
	border-style: solid;
	border-color: #999999;
	border-width: 1px;
	padding: 2px;
	width: 350px;
	height: 175px;
	overflow: auto;
	margin: 4px;
	margin-left: 2px;
}

.CommonTreeFormTree
{
	padding: 0px;
}

.CommonTreeFormNode
{
	font-family: Arial, Helvetica;
	cursor: pointer;
	font-size: 90%;
}

.CommonTreeFormNodeSelected
{
	font-family: Arial, Helvetica;
	padding: 1px;
	font-weight: bold;
	background-color: #dddddd;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	cursor: pointer;
	font-size: 90%;
}

.CommonTreeFormNodeHover
{
	font-family: Arial, Helvetica;
	cursor: pointer;
	font-size: 90%;
}

/* 
Title Bar Styles
*/

.CommonTitleBar
{
	position: relative;
	background-image: url('../images/common/header-gradient.png');
	background-position: left top;
	background-repeat: repeat-x;
}

.CommonTitleBarTitleArea
{
}

.CommonTitleBarSearchArea
{
	text-align: right;
	font-family: Arial, Helvetica;
	color: #666666;
	padding: 10px;
	padding-right: 20px;
	margin-top: 5px;
}

.CommonSearchButtonOuter
{
	background-image: url(../images/common/search-button.gif);
	background-position: top left;
	background-repeat: no-repeat;
	
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	color: #cccccc;
	font-size: 12px;
	font-variant: small-caps;
	text-align: left;
	padding-left: 4px;
	font-weight: bold;
	color: #999999;
	
	margin-left: 4px;
}

.CommonSearchButton
{
	background-image: url(../images/common/search-button-right.gif);
	background-position: top right;
	background-repeat: no-repeat;
	
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	color: #cccccc;
	font-size: 12px;
	font-variant: small-caps;
	text-align: left;
	padding-left: 5px;
	padding-right: 9px;
	padding-top: 3px;
	padding-bottom: 4px;
	font-weight: bold;
	color: #999999;
}

.CommonSearchButton:link, .CommonSearchButton:visited, .CommonSearchButton:active
{
	color: #999999;
	text-decoration: none;
}

.CommonSearchButton:hover
{
	text-decoration: underline;
}

.CommonTitleBarImage
{
}

.CommonTitleBarTitle
{
	height: 50px;
	padding: 0px 0px 0px 4px;
	font-family: Arial, Helvetica;
	padding-top: 0px;
	font-size: 250%;
	color: #A0AE5A;
	margin: 0px;
	margin-bottom: -5px;
	font-weight: bolder;
}

.CommonTitleBarTitle A:LINK
{
	color: #A0AE5A;
	text-decoration: none;
}

.CommonTitleBarTitle A:VISITED
{
	color: #A0AE5A;
	text-decoration: none;
}

.CommonTitleBarTitle A:ACTIVE
{
	color: #A0AE5A;
	text-decoration: none;
}

.CommonTitleBarDescription
{
	position: relative;
	font-family: Arial, Helvetica;
	top: -4px;
	padding: 0px 0px 0px 6px;
	color: #999999;
	margin: 0px;	
	margin-bottom: -14px;
	font-size: 120%;
	font-weight: bold;
}


/*
User Area
*/

.CommonUserArea
{
	padding-top: 4px;
	color: #000000;
	font-family: Arial, Helvetica;
	font-size: 80%;
	font-weight: normal;
}

.CommonUserArea A:LINK, .CommonUserArea A:VISITED, .CommonUserArea A:ACTIVE, .CommonUserArea A:HOVER
{
	font-weight: bold;
}


/*
Form Styles
*/

.CommonFormArea
{
}

.CommonFormTitle
{
	color: #333;
	font-size: 140%;
	font-weight: bold;
	font-family: Arial, Helvetica;
	padding: 4px;
	padding-left: 0px;
	margin: 0px;
}

.CommonFormDescription
{
	font-family: Arial, Helvetica;
	padding: 2px;
	padding-left: 0px;
	padding-bottom: 8px;
	padding-top: 8px;
}

TD.CommonFormFieldName
{
	font-family: Arial, Helvetica;
	color: #666666;
	padding: 2px;
	padding-right: 8px;
	font-weight: bold;
}

DIV.CommonFormFieldName
{
	font-family: Arial, Helvetica;
	color: #666666;
	padding: 2px;
	padding-top: 8px;
	font-weight: bold;
}

TD.CommonFormFieldDescription
{
	font-family: Arial, Helvetica;
	color: #000000;
	padding: 2px;
	font-size: 90%;
	font-weight: normal;
}

DIV.CommonFormFieldDescription
{
	font-family: Arial, Helvetica;
	color: #000000;
	padding: 2px;
	font-size: 90%;
	font-weight: normal;
}

TD.CommonFormField
{
	font-family: Arial, Helvetica;
	color: #000000;
	padding: 2px;
}

DIV.CommonFormField
{
	font-family: Arial, Helvetica;
	color: #000000;
	padding: 2px;
}

.CommonFormActionButtons
{
	font-family: Arial, Helvetica;
	color: #000000;
	padding: 2px;
	text-align: right;
}

/*
Join Form Styles
*/

.JoinTitle
{
	width:650px;
	text-align: left;
	font-family: Arial, Helvetica;
	font-size: 140%;
	font-weight: bold;
	background-color: #e2eecd;
	color: #698d73;
	padding: 8px;
	padding-left: 8px;
	margin: 0px;
	margin-top: 20px;
}

.JoinArea
{
	width:650px;
	font-family: Arial, Helvetica;
	font-size: 100%;
	color: #000000;
	background-color: #e2eecd;
	padding: 8px;
	padding-bottom: 16px;
	text-align: left;
}


/*
Message Styles
*/

.CommonMessageArea
{
	width: 50%;
	margin-top: 64px;
	margin-bottom: 64px;
	background-color: #ffffff;
}

.CommonMessageTitle
{
	text-align: left;
	font-family: Arial, Helvetica;
	font-size: 140%;
	font-weight: bold;
	background-color: #e2eecd;
	color: #698d73;
	padding: 2px;
	padding-left: 8px;
	margin: 0px;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
}

.CommonMessageContent
{
	font-family: Arial, Helvetica;
	font-size: 100%;
	color: #000000;
	padding: 8px;
	padding-bottom: 16px;
	text-align: left;
	border-style: solid;
	border-width: 1px;
	border-top-width: 0px;
	border-color: #cccccc;
}

.CommonInlineMessageArea
{
	margin-top: 4px;
	margin-bottom: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	background-color: #ffffff;
	background-position: left top;
	background-repeat: repeat-x;
}

.CommonInlineMessageTitle
{
	text-align: left;
	font-family: Arial, Helvetica;
	font-size: 100%;
	font-weight: bold;
	background-color: #f4f4f4;
	color: #666666;
	padding: 6px;
	padding-left: 8px;
	margin: 0px;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: #cccccc;
}

.CommonInlineMessageArea A:LINK, .CommonInlineMessageArea A:VISITED, .CommonInlineMessageArea A:ACTIVE, .CommonInlineMessageArea A:HOVER
{
	color: #666666;
}

.CommonInlineMessageContent
{
	font-family: Arial, Helvetica;
	font-size: 80%;
	color: #333333;
	padding: 8px;
	text-align: left;
}

.CommonInlineTidbit
{
	background-image: url('/cs/themes/default/images/tidbit_arrow.gif');
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	padding: 4px;
	margin: 1px;
	background-repeat: no-repeat;
	background-position: 1px 1px;
	padding-left: 22px;
	margin-left: 40px;
}

.CommonInlineTidbit, .CommonInlineTidbit A
{
	text-align: left;
	font-family: Arial, Helvetica;
	font-size: 80%;
	font-weight: bold;
	color: #66bb66;
}

.CommonInlineTidbit A
{
	color: #449944;
}

.CommonMessageSuccess
{
	padding: 8px;
	font-size: 100%;
	color: #fff;
	font-weight: bold;
	border: solid;
	border-width: 2px;
	border-color: #030;
	background-color: #6a5;
	margin-top: 8px;
	margin-bottom: 8px;
}

.CommonLicenseMessageSuccess
{
	padding: 8px;
	font-size: 100%;
	color: #fff;
	font-weight: bold;
	border: solid;
	border-width: 2px;
	border-color: #030;
	background-color: #6a5;
	margin-top: 8px;
	margin-bottom: 8px;
}

.CommonSmallMessageSuccess
{
	padding: 2px;
	font-family: Arial, Helvetica;
	font-size: 80%;
	font-weight: bold;
	color: #334433;
}

.CommonMessageError
{
	margin-top: 8px;
	margin-bottom: 12px;
	padding: 8px;
	font-size: 100%;
	color: #fff;
	font-weight: bold;
	border: solid;
	border-width: 2px;
	border-color: #300;
	background-color: #a00;
}

.CommonLicenseMessageError
{
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 8px;
	font-size: 100%;
	color: #330;
	font-weight: bold;
	border: solid;
	border-width: 2px;
	border-color: #330;
	background-color: #fff499;
}

.CommonSmallMessageError
{
	padding: 2px;
	font-family: Arial, Helvetica;
	font-size: 80%;
	font-weight: bold;
	color: #990000;
}

/*
Content
*/

.CommonTextBig
{
	margin: 1px;
	padding: 5px;
	font-family: Arial, Helvetica;
	font-weight: bold;
	font-size: 120%;
}

.CommonInputSearch
{
	font-size: 150%;
}

.CommonInputBig
{
	width: 90%;
	font-size: 130%;
}


.CommonContentArea
{
	background-color: #ffffff;
	margin: 4px;
	padding: 0px 10px 32px 10px;
	border: solid;
	border-width: 1px;
	border-color: #ffffff;
	text-align: left;
}

.CommonFreeTextContent
{
	line-height: 20px;
	padding-left: 15px;
}

.CommonTitle, .CommonProfileTitle
{
	color: #aaa;
	font-size: 180%;
	font-family: Arial, Helvetica;
	font-weight: bold;
	padding: 15px 0px 15px 8px;
	margin: 0px;
}

.CommonTitle A:LINK, .CommonTitle A:ACTIVE, .CommonTitle A:VISITED, .CommonTitle A:HOVER
{
    color: #aaa;
}

.CommonSubTitle
{
	color: #999999;
	font-size: 140%;
	font-weight: bold;
	font-family: Arial, Helvetica;
	padding: 4px;
	padding-left: 0px;
	margin: 0px;
}

.CommonHeader
{
	color: #666666;
	font-size: 130%;
	font-weight: bold;
	font-family: Arial, Helvetica;
	padding: 0px;
	margin: 0px;
	margin-top: 8px;
}

.CommonContent
{
	padding: 0px 8px 8px 8px;
	font-family: Arial, Helvetica;
	font-size: 100%;
}

.CommonGroupedContentArea
{
	padding-bottom: 8px;
	margin-bottom: 16px;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: #eeeeee;
}

.CommonFloatArea
{
	float: left;
	width: 126px;
	margin: 8px;
	margin-left: 0px;
	padding: 8px;
	padding-top: 0px;
}

UL.CommonFloatList
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

UL.CommonFloatList LI
{
	margin-bottom: 8px;
	clear: both;
}

.CommonNonFloatArea
{
	margin-left: 150px;
}


.CommonSidebar
{
	padding: 0px;
	margin-left: 18px;
	margin-right: 18px;
}

.CommonSidebarContentItem
{
	margin-bottom: 5px;
	display: list-item;
	list-style-type: square;	
	margin-left: 16px;
	color: #698d73;
}

.CommonSidebarArea
{
	width: 192px;
	margin: 22px 0px 0px 0px;
	overflow: hidden;
	background-color: #eee;
	border: solid 1px #999;
}

.CommonSidebarHeader
{
	text-align: left;
	font-family: Arial, Helvetica;
	font-size: 140%;
	color: #000;
	margin: 2px;
	margin-left: 8px;
	margin-right: 8px;
	padding: 0px;
	padding-bottom: 8px;
	padding-top: 8px;
}

.CommonSidebarContent
{
	font-family: Arial, Helvetica;
	font-size: 80%;
	color: #000000;
	padding: 8px;
	padding-bottom: 5px;
	width: 174px;
	overflow: hidden;
}

.CommonSidebarFooter
{
	font-family: Arial, Helvetica;
	font-size: 80%;
	color: #000000;
	margin-top: 4px;
	margin-bottom: 6px;
	margin-left: 8px;
	margin-right: 8px;
	border-top: solid 1px #fff;
	width: 174px;
	overflow: hidden;
	padding-top: 4px;
}

UL.CommonSidebarList
{
	margin: 0px;
	padding: 0px;
}

UL.CommonSidebarList LI
{
	margin-bottom: 5px;
	list-style-type: square;	
	margin-left: 16px;
	color: #698d73;
}

OL.CommonSidebarList
{
	margin: 0px;
	padding: 0px;
}

OL.CommonSidebarList LI
{
	margin-bottom: 5px;
	margin-left: 20px;
	color: #698d73;
}


UL.CommonSidebarRssList
{
	margin: 0px;
	padding: 0px;
}

UL.CommonSidebarRssList LI
{
	margin-bottom: 5px;
	padding-bottom: 1px;
	margin-left: 16px;
	list-style-image: url(../images/common/feed-icon-12x12.png);	
	color: #698d73;
}

LI.CommonSidebarRssListItem
{
	margin-bottom: 5px;
	padding-bottom: 1px;
	margin-left: 16px;
	list-style-image: url(../images/common/feed-icon-12x12.png);	
	color: #698d73;
}

.CommonDescription
{
	font-family: Arial, Helvetica;
	font-size: 90%;
	color: #333333;
	padding: 0px 0px 8px 0px;
	margin-top: -5px;
	margin-bottom: 15px;
}

.CommonSidebarImage
{
	margin-top: 4px;
	margin-bottom: 4px;
	padding: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: #C4D6AE;
	background-color: #fafafa;
	text-align: center;
}
UL.CommonSidebarImageList
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#welcome
{
	color: #000000;
	font-size: 10px;
	margin-right: 5px;
	margin-top: -5px;
	padding-bottom: 10px;
}

#welcome A, #welcome A:VISITED, #welcome A:ACTIVE, #welcome A:HOVER
{
	font-size: 10px;
}


/*
Text Button
*/

.CommonTextButton
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	margin: 1px;
	padding: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	border-top-color: #cccccc;
	border-left-color: #cccccc;
	background-color: #eeeeee;
	color: #333333;
	font-family: Arial, Helvetica;
	font-size: 80%;
	font-weight: bold;
	white-space: nowrap;
}

.CommonTextButton:LINK
{
	text-decoration: none;
	color: #333333;
	background-color: #eeeeee;
}

.CommonTextButton:VISITED
{
	text-decoration: none;
	color: #333333;
	background-color: #eeeeee;
}

.CommonTextButton:ACTIVE
{
	text-decoration: none;
	color: #333333;
}

.CommonTextButton:HOVER
{
	text-decoration: underline;
	color: #333333;
	background-color: #dddddd;
}

.CommonTextButtonBig
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	margin: 1px;
	padding: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	border-top-color: #cccccc;
	border-left-color: #cccccc;
	background-color: #eeeeee;
	color: #333333;
	font-family: Arial, Helvetica;
	font-size: 120%;
	white-space: nowrap;
}

.CommonTextButtonBig:LINK
{
	text-decoration: none;
	color: #333333;
	background-color: #eeeeee;
}

.CommonTextButtonBig:VISITED
{
	text-decoration: none;
	color: #333333;
	background-color: #eeeeee;
}

.CommonTextButtonBig:ACTIVE
{
	text-decoration: none;
	color: #333333;
}

.CommonTextButtonBig:HOVER
{
	text-decoration: underline;
	color: #333333;
	background-color: #dddddd;
}

.CommonTextButtonHighlight
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	margin: 1px;
	padding: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	border-top-color: #cccccc;
	border-left-color: #cccccc;
	background-color: #bbbbbb;
	color: #333333;
	font-family: Arial, Helvetica;
	font-size: 80%;
	font-weight: bold;
	white-space: nowrap;
}

.CommonTextButtonHighlight:LINK, .CommonTextButtonHighlight:VISITED, .CommonTextButtonHighlight:ACTIVE, .CommonTextButtonHighlight:HOVER
{
	text-decoration: none;
	background-color: #bbbbbb;
	color: #333333;
}

.CommonImageTextButton
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	padding: 4px;
	margin: 1px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	border-top-color: #cccccc;
	border-left-color: #cccccc;
	background-color: #eeeeee;
	color: #333333;
	font-family: Arial, Helvetica;
	font-size: 80%;
	font-weight: bold;
	background-repeat: no-repeat;
	background-position: 1px 1px;
	padding-left: 22px;
	line-height: normal;
	white-space: nowrap;
}

.CommonImageTextButton:LINK
{
	text-decoration: none;
	color: #333333;
	margin: 1px;
}

.CommonImageTextButton:VISITED
{
	text-decoration: none;
	color: #333333;
}

.CommonImageTextButton:ACTIVE
{
	text-decoration: none;
	color: #333333;
}

.CommonImageTextButton:HOVER
{
	text-decoration: underline;
	color: #333333;
	background-color: #dddddd;
}

.CommonImageTextButtonBig
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	padding: 4px;
	margin: 1px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	border-top-color: #cccccc;
	border-left-color: #cccccc;
	background-color: #eeeeee;
	color: #333333;
	font-family: Arial, Helvetica;
	font-size: 130%;
	background-repeat: no-repeat;
	background-position: 4px 5px;
	padding-left: 30px;
	padding-right: 10px;
	line-height: normal;
	white-space: nowrap;
}

.CommonImageTextButtonBig:LINK
{
	text-decoration: none;
	color: #333333;
	margin: 1px;
}

.CommonImageTextButtonBig:VISITED
{
	text-decoration: none;
	color: #333333;
}

.CommonImageTextButtonBig:ACTIVE
{
	text-decoration: none;
	color: #333333;
}

.CommonImageTextButtonBig:HOVER
{
	text-decoration: underline;
	color: #333333;
	background-color: #dddddd;
}

.CommonImageTextButtonHighlight
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	margin: 1px;
	padding: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	border-top-color: #cccccc;
	border-left-color: #cccccc;
	background-color: #bbbbbb;
	color: #333333;
	font-family: Arial, Helvetica;
	font-size: 80%;
	font-weight: bold;
	background-repeat: no-repeat;
	background-position: 1px 1px;
	padding-left: 22px;
	line-height: normal;
	white-space: nowrap;
}

.CommonImageTextButtonHighlight:LINK, .CommonImageTextButtonHighlight:VISITED, .CommonImageTextButtonHighlight:ACTIVE, .CommonImageTextButtonHighlight:HOVER
{
	text-decoration: none;
	background-color: #bbbbbb;
	color: #333333;
}

.CommonButtonInnerContentDown
{
	background-image: url(../images/common/button-down-arrow.gif);
	padding-right: 9px;
	background-repeat: no-repeat;
	background-position: right center;
}

.CommonButtonInnerContentRight
{
	background-image: url(../images/common/button-right-arrow.gif);
	padding-right: 7px;
	background-repeat: no-repeat;
	background-position: right center;
}

.CommonBigButton
{
	font-size: 18px;
}

/*
Options Styles
*/

.CommonOptionsListArea
{
	background-color: #f4f4f4;
	padding: 4px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin: 0px;
	margin-bottom: 6px;
	border-style: solid;
	border-color: #cccccc;
	border-width: 0px;
	border-top-width: 1px;
	border-bottom-width: 1px;
}

.CommonOptionsListTitle
{
	font-family: Arial, Helvetica;
	font-size: 8pt;
	font-weight: normal;
	color: #666666;
	margin: 0px;
	margin-bottom: 4px;
	padding: 0px;
}

.CommonOptionsListItem
{
	font-family: Arial, Helvetica;
	font-size: 8pt;
}

/*
Advertisements
*/

.CommonStandardTopAdArea
{
	text-align: center;
	padding: 4px;
	margin: 0px;
	margin-bottom: 4px;
	border: solid;
	border-width: 0px;
	border-top-width: 1px;
	border-color: #999999;
}

.CommonStandardTopAdArea IFRAME
{
	margin-left: auto;
	margin-right: auto;
}

.CommonStandardBottomAdArea
{
	text-align: center;
	padding: 4px;
	border: solid;
	border-width: 0px;
	border-top-width: 1px;
	border-color: #999999;
	margin: 0px;
	margin-top: 4px;
}

.CommonStandardBottomAdArea IFRAME
{
	border: solid;
	border-width: 1px;
	border-color: #999999;
	margin-left: auto;
	margin-right: auto;
}

/*
List 
*/

.CommonListArea
{
	padding-bottom: 8px;
	padding-top: 8px;
}

.CommonListTitle
{
	padding: 6px 6px 6px 0;
	color: #000;
	font-size: 180%;
	font-weight: bold;
	margin: 0;
}

.CommonListTitle A, .CommonListTitle A:VISITED, .CommonListTitle A:ACTIVE
{
	color: #000;
	text-decoration: none;
}

.CommonListTitle A:HOVER
{
    text-decoration: underline;
}

.CommonListHeaderLeftMost
{
	text-align: left;
	padding: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: #eeeeee;
	background-color: #eeeeee;
	color: #666666;
	font-family: Arial, Helvetica;
	font-size: 80%;
	font-weight: bold;
}

.CommonListHeader
{
	text-align: left;
	padding: 4px;
	border-style: solid;
	border-width: 1px;
	border-left-width: 0px;
	border-color: #eeeeee;
	background-color: #eeeeee;
	color: #666666;
	font-family: Arial, Helvetica;
	font-size: 80%;
	font-weight: bold;
}

.CommonListCellLeftMost
{
	padding: 4px;
	border-style: solid;
	border-width: 1px;
	border-top-width: 0px;
	border-color: #eeeeee;
	color: #333333;
	font-family: Arial, Helvetica;
	font-size: 80%;
}

.CommonListCell
{
	padding: 4px;
	border-style: solid;
	border-width: 1px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-color: #eeeeee;
	color: #333333;
	font-family: Arial, Helvetica;
	font-size: 80%;
	text-align: left;
}

/* 
Tab Strip Styles 
*/

.CommonTabBar
{
	padding-left: 24px;
	margin: 0px;
  	background-color:#9CB8EF; 
  	background-image: url('../images/common/navigation-background.png');
  	background-repeat: repeat-x;
  	background-position: left top;
  	border-bottom: solid 1px #414F82;
}

.CommonTabBarInner
{
}

.CommonTopGroup ul
{
	margin: 0px;
	padding: 0px;
}

.CommonTopGroup li
{
	float: left;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.CommonTopLevelTab, .CommonTopGroup li
{
    color: #000000;
	font-family: Arial, Helvetica; 
	font-size:16px; 
	cursor:pointer;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 12px;
	padding-bottom: 10px;
	white-space: nowrap;
	font-weight: bold;
}

.CommonTopLevelTab A:LINK, .CommonTopLevelTab A:VISITED, .CommonTopLevelTab A:ACTIVE
{
	color: #000000;
	display:block;
	text-decoration: none;
}

.CommonTopLevelTab A:HOVER
{
	color: #000000;
	display: block;
	text-decoration: none;
}

.CommonTopLevelTabHover 
{
	font-family: Arial, Helvetica; 
	font-size:16px; 
	color: #fff;
	cursor:default;
	cursor:pointer;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 12px;
	padding-bottom: 10px;
	white-space: nowrap;
	font-weight: bold;
}

.CommonTopLevelTabHover A:LINK, .CommonTopLevelTabHover A:VISITED, .CommonTopLevelTabHover A:ACTIVE
{
	color: #fff;
	display:block;
	text-decoration: none;
}

.CommonTopLevelTabHover A:HOVER
{
	color: #fff;
	display: block;
	text-decoration: none;
}

.CommonSelectedTopLevelTab
{
	font-family: Arial, Helvetica; 
	font-size:16px; 
	font-weight: bold;
	color: #fff;
	cursor:default;
	cursor:pointer;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 12px;
	padding-bottom: 10px;
	white-space: nowrap;
}

.CommonSelectedTopLevelTab A:LINK, .CommonSelectedTopLevelTab A:VISITED, .CommonSelectedTopLevelTab A:ACTIVE
{
	color: #fff;
	display:block;
	text-decoration: none;
}

.CommonSelectedTopLevelTab A:HOVER
{
	color: #fff;
	display:block;
	text-decoration: none;
}

/*
Search Results
*/

.CommonSearchResultArea
{
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: #eeeeee;
	margin: 8px;
	margin-bottom: 8px;
	margin-left: 0px;
}

.CommonSearchResult
{
	color: #000000;
	font-family: Arial, Helvetica;
	font-size: 100%;
	line-height: 20px;
}

.CommonSearchResultName
{
	color: #738AC4;
	font-size: 150%;
	font-weight: normal;
	font-family: Arial, Helvetica;
	padding: 4px;
	padding-left: 0px;
	margin: 0px;
}

.CommonSearchResultDetails
{
	margin-top: 10px;
	margin-bottom: 10px;
	color: #999999;
	font-family: Arial, Helvetica;
	font-size: 80%;
}

.CommonSearchStatistics
{
	font-size: 80%;
	margin-top: 8px;
	margin-bottom: 16px;
}

UL.CommonSearchResultList
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

/*
Validation Styles
*/

.CommonValidationWarning
{
	font-family: Arial, Helvetica;
	font-size: 100%;
	color: #ff0000;
	font-weight: bold;
	padding: 2px;
}

/*
Popup Area
*/

.CommonPopupArea
{
	padding: 8px;
	background-color: #eeeeee;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
}

/***** CA ************/

.CATopGroup
{
  z-index:99;
  position:relative;
}

.CADefaultTab 
{
  color:black; 
  background-image: url(../../../utility/caimages/tabs/tab_bg.gif);
  font-family: Arial, Helvetica; 
  font-size:11px; 
  cursor:default;
}

.CADefaultTabHover 
{
  color:black; 
  background-image: url(../../../utility/caimages/tabs/hover_tab_bg.gif);
  font-family: Arial, Helvetica; 
  font-size:11px; 
  cursor:default;
}

.CASelectedTab 
{
  color:black; 
  background-image: url(../../../utility/caimages/tabs/selected_tab_bg.gif);
  font-family: Arial, Helvetica; 
  font-size:11px; 
  cursor:default;
}

.CADisabledTab 
{
  color:#AAAAAA; 
  background-image: url(../../../utility/caimages/tabs/tab_bg.gif);
  font-family: Arial, Helvetica; 
  font-size:px; 
  font-weight: bold;
  cursor:default;
}

.CAMultiPage
{
  background-color:White;
  border: 1px solid #919B9C;
  width:100%;
  position:relative;
  padding:10px;
  top:-3px;
  left:1px;
  z-index:98;
}

.CAMultiPageModal
{
  background-color:White;
  border: 1px solid #919B9C;
  height:350px;
  position:relative;
  padding:20px;
  top:-3px;
  left:1px;
  z-index:98;
}
.PageViewModalPanel
{
	height:290px;
	overflow-y:scroll;
	padding-right:2px;
}

.CAPageContent
{
  font-family: Arial, Helvetica; 
}

/*
ContentParts
*/

.CommonContentPartBorderOff
{
	padding: 1px;
}

.CommonContentPartBorderOn
{
	border-style: dashed;
	border-width: 1px;
	border-color: #999999;
	background-color: #efefef;
}

.CommonInlineEditOn
{
	background-color: #efefef;
}

.CommonInlineEditOff
{
	padding: 0px;
}

/*
Copyright
*/
.Copyright
{
	margin-top: 10px;
	font-family: Arial, Helvetica;
	margin-left: 13px;
	margin-right: 13px;
	font-size: 11px;
	text-align: right;
}

/*
Context Menu Styles
*/

.CommonContextMenuGroup
{
	background-color:#ffffff;
	border:solid 1px gray; 
}

.CommonContextMenuItem
{
	background-color:white; 
	font-family: Arial, Helvetica; 
	font-size:90%; 
	border:solid 1px white; 
	cursor:pointer;
	padding: 3px;
}

.CommonContextMenuItemHover
{
	background-color:#e2eecd; 
	color:black; 
	font-family: Arial, Helvetica; 
	font-size:90%; 
	border:solid 1px #dddddd; 
	cursor:pointer;
	padding: 3px;
}

.CommonContextMenuItemExpanded
{
	background-color:silver; 
	color:black; 
	font-family: Arial, Helvetica; 
	font-size:90%; 
	border:solid 1px white; 
	cursor:pointer;	
	padding: 3px;
}

.CommonContextMenuSeperatorItem
{
	background-color:#cccccc; 
	height: 1px;
	border-style: solid;
	border-color: white;
	border-width: 4px;
	cursor:pointer;
}

/* Modal Styles */

.CommonModalMask
{
	opacity: .4;
	filter: alpha(opacity=40);
	background-color: #333333;
}

.CommonModal
{
	border-style: solid;
	border-width: 1px;
	border-color: #BCD8FF;
	border-right-width: 3px;
	border-right-color: #414F82;
	border-bottom-width: 3px;
	border-bottom-color: #414F82;
	background-color: #eeeeee;
}

.CommonModalTitle
{
	font-family: Arial, Helvetica;
	height: 18px;
	font-size: 16px;
	padding: 5px;
	padding-bottom: 7px;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: #414F82;
	background-color: #89A2D8;
	color: #000;
	font-weight: bold;
	cursor: move;
	overflow: hidden;
}

.CommonModalClose
{
	width: 33px;
	height: 12px;
	background-image: url(../images/common/close.gif);
	background-repeat: no-repeat;
	overflow: hidden;
	cursor: pointer;
	float: right;
}

.CommonModalContent
{
	background-color: #ffffff;
}

.CommonModalFooter
{
	border-style: solid;
	border-width: 0px;
	border-top-width: 1px;
	border-color: #BCD8FF;
	background-color: #eeeeee;
	padding: 2px;
}

.CommonModalResize
{
	width: 14px;
	height: 14px;
	background-image: url(../images/common/resize.gif);
	background-repeat: no-repeat;
	overflow: hidden;
	float: right;
	cursor: se-resize;
}

/*
Rating Styles
*/

.CommonRateControlReadOnly
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	background-color: #ffffff;
	border-style: solid;
	border-color: #999999;
	border-width: 1px;
	padding: 1px;
	white-space: nowrap;
}

.CommonRateControl
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	background-color: #eeeeee;
	border-style: solid;
	border-color: #999999;
	border-width: 1px;
	cursor: pointer;
	padding: 1px;
	white-space: nowrap;
}

.CommonRateControlActive
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	background-color: #ffcc66;
	border-style: solid;
	border-width: 1px;
	border-color: #cc9933;
	cursor: pointer;
	padding: 1px;
	white-space: nowrap;
}

/*
Content Selector Styles 
*/

.CommonContentSelectorTreeArea
{
	background-color: #ffffff;
	height: 330px;
	margin: 5px;
	margin-left: 0px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	overflow: auto;
}

.CommonContentSelectorItemsArea
{
	margin: 5px;
	margin-right: 0px;
	margin-left: 0px;
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	overflow: auto;
	padding: 4px;
	height: 322px;
}

.CommonContentSelectorOptionsArea
{
	margin: 0px;
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	padding: 4px;
}

.CommonContentSelectorTree
{
	padding: 0px;
	height: 330px;
	width: 215px;
	overflow: visible;
}

.CommonContentSelectorTreeNode
{
	cursor: pointer;
}

.CommonContentSelectorTreeNodeSelected
{
	font-weight: bold;
	cursor: pointer;
}

.CommonContentSelectorTreeNodeHover
{
	cursor: pointer;
}

.CommonContentSelectorItemArea
{
    float: left;
}

.CommonContentSelectorItem
{
	font-size: 90%;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	cursor: pointer;
	padding: 3px;
	width: 79px;
	height: 79px;
	overflow: hidden;
	margin: 6px;
	margin-bottom: 0px;
	text-align: center;
	vertical-align: middle;
}

.CommonContentSelectorItemSelected
{
	font-size: 90%;
	border-style: solid;
	border-width: 3px;
	border-color: #999999;
	cursor: pointer;
	padding: 1px;
	width: 79px;
	height: 79px;
	overflow: hidden;
	margin: 6px;
	margin-bottom: 0px;
	text-align: center;
	vertical-align: middle;
}

.CommonContentSelectorItem img, .CommonContentSelectorItemSelected img
{
	margin-top: auto;
	margin-bottom: auto;
}

.CommonContentSelectorItemName
{
	font-size: 90%;
	font-weight: normal;
	text-align: center;
	cursor: pointer;
	padding: 2px;
	width: 83px;
	height: 12px;
	overflow: hidden;
	margin: 6px;
	margin-top: 1px;
	margin-bottom: 16px;
}

.CommonContentSelectorItemNameSelected
{
	font-size: 90%;
	font-weight: normal;
	text-align: center;
	background-color: #999999;
	cursor: pointer;
	padding: 2px;
	width: 83px;
	height: 12px;
	overflow: hidden;
	margin: 6px;
	margin-top: 1px;
	margin-bottom: 16px;
}

.CommonContentSelectorButtonArea
{
	text-align: right;
	margin: 5px;
}

/*
ThreePanelResizeableControl Styles
*/

.CommonResizeArea
{
	width: 8px;
	background-color: #7fa2bd /*#eeeeee*/;
	border-style: solid;
	border-width: 0px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-color: #333333;
	position: relative;
	cursor: move;
	cursor: col-resize;
}

.CommonCollapseButton
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #cccccc;
	color: #000000;
	
	font-size: 10px;
	font-weight: bold;
	font-family: Arial, Helvetica;
	vertical-align: middle;
	border-style: solid;
	border-width: 1px;
	border-color: #666666;
}

.CommonCollapseButton:LINK, .CommonCollapseButton:VISITED, .CommonCollapseButton:ACTIVE
{
	color: #000000;
	
}

.CommonCollapseButton:HOVER
{
	background-color: #eeeeee;
	color: #000000;
	
}

p.MsoNormal, li.MsoNormal, div.MsoNormal
{
	margin:0in;margin-bottom:.0001pt;
}

/* Comment Form */

#CommonCommentForm, #CommonContactForm {

	padding: 0;

	font-size: 0.95em;}

#CommonCommentForm h2, #CommonContactForm h2
{
	margin-bottom:0;
}

#CommonCommentForm h3, #CommonContactForm h3{	
font-size: 1.3em;
	margin: 0px 10px 0px 0px;
	padding: 10px 0px 5px;
	font-family: Arial, Helvetica;
	font-weight: 600;
	letter-spacing: 0px;}

#CommonCommentForm p, #CommonContactForm p{
	padding: 0em;
	font-size: 0.95em;
}

#CommonCommentForm dl, #CommonContactForm dl {
	margin: 0;
	padding: 0;
}

#CommonCommentForm dt, #CommonContactForm dt {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 0px;
	padding-left: 0px;
	font-size: 1.0em;
	margin: 0px;}
	
#CommonCommentForm dd, #CommonContactForm dd {
	color: #777777;
	margin-left:0;
}

#CommonCommentForm dt em, #CommonContactForm dt em {
	font-size: 0.95em;
}
 
#CommonCommentForm .smallbox, #CommonContactForm .smallbox {
	width: 350px;
	padding: 2px;
	border-top: 1px solid #7F8D3E;
	border-right: 1px solid #E2E3D1;
	border-bottom: 1px solid #E2E3D1;
	border-left: 1px solid #E2E3D1;
}

#CommonCommentForm textarea, #CommonContactForm textarea {
	width: 500px;
	height: 150px;
	padding: 2px;
	border-top: 1px solid #7F8D3E;
	border-right: 1px solid #E2E3D1;
	border-bottom: 1px solid #E2E3D1;
	border-left: 1px solid #E2E3D1;
	font-size: 1em;
	}

/* Comments */

#comments{
	margin: 0px;
	padding: 0;
}

#comments dl
{
    margin:0;
    padding:0;

}
	
#comments h3{	
font-size: 1.3em;
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 5px;
	font-family: Arial, Helvetica;
	font-weight: 600;
	letter-spacing: 0px;
}

#comments dt{
	font-size: 1.1em;
	letter-spacing: 0px;
	font-weight: 600;
    margin-left:0;
	    padding-left:0;

}
#comments dd{
	padding: 0.5em 1em;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 1em;
	margin-left: 0px;
	padding-left:0;
	font-size: 0.9em;
}

#comments dd span{
	font-weight: 600;
	padding-top: 0.5em;
	font-size: 0.9em;
	color: #777777;
}
.comment h4{
	font-size: 1.1em;
	margin: 0px;
	padding: 0px;
	font-weight: 600;
}

/* Help Icon */
.helpicon
{
	border-style:none;
	line-height: normal;
}

.helpicon img
{
	height: 20px;
	width: 16px;
	vertical-align: middle;
}

a.helpicon
{
	border-style:none;
	height: 20px;
	background-image: url(../images/common/help_out_lt.gif);
	background-position: left top;
	background-repeat: no-repeat;
}
a.helpicon:hover, a.helpicon:active 
{
	background-image:url(../images/common/help_hover.gif);
	background-position: left top;
	background-repeat: no-repeat;
	cursor:help;
}

/* BEGIN ComponentArt Date Picker & Popup Calendar */
.calendar_button { border:none; cursor:pointer; }

.picker
{
  background-color: #FFFFFF;
  border: 1px gray solid;
  font-size: 12px;
  font-weight: bold;
  font-family: Arial, Helvetica;
  padding: 2px;
  cursor: pointer;
}

.calendar td { font-size:11px; }

.title { font-weight:bold; background-color:#D7D7E5; }

.day
{
	width:25px;
	cursor:pointer;
	text-align:center;
	border-width:1px;
	border-color:#F6F6F6;
	border-style:solid;
}

.dayhover
{
	width:25px;
	cursor:pointer;
	text-align:center;
	text-decoration:underline;
	border-width:1px;
	border-color:#F6F6F6;
	border-style:solid;
}

.dayheader
{
	width:25px;
	text-align:center;
	border-width:1px;
	border-color:white;
	border-style:solid;
	font-weight:bold;
	background-color:#FFFFFF;
}

.othermonthday { color:#999999; }

.outofrangeday { visibility:hidden; }

.selectedday
{
	width:25px;
	background-color:#FBE694;
	color:#000000;
	border-width:1px;
	border-color:#BB5503 !important;
	border-style:solid;
	font-weight:bold;
}

.calendar
{
	border-style:solid;
	border-width:1px;
	border-color:Black;
	border-collapse:collapse;
	background-color:#FFFFFF;
	cursor:default;
}

.month
{
	background-color:#F6F6F6;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
	margin-top:0px;
}

.nextprev
{
	cursor:pointer;
	height:25px;
	vertical-align:center;
	padding:0px 5px 0px 5px;
}

.selector
{
	width:14px;
	cursor:pointer;
	text-align:left;
	vertical-align:center;
	background-color:#FFFFFF;
}
/* END ComponentArt Date Picker & Popup Calendar */

/* Poll Styles */

.CommonPollMoveUpButton
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	margin: 1px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	border-top-color: #cccccc;
	border-left-color: #cccccc;
	background-color: #eeeeee;
	color: #333333;
	font-family: Arial, Helvetica;
	font-size: 80%;
	font-weight: bold;
	background-repeat: no-repeat;
	background-position: left top;
	width: 20px;
	height: 20px;
	line-height: normal;
	background-image: url(../images/common/up.gif);
}

.CommonPollMoveUpButton:LINK, .CommonPollMoveUpButton:VISTED, .CommonPollMoveUpButton:ACTIVE
{
	text-decoration: none;
	color: #333333;
}

.CommonPollMoveUpButton:HOVER
{
	text-decoration: none;
	color: #333333;
	background-color: #dddddd;
}

.CommonPollMoveDownButton
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	margin: 1px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	border-top-color: #cccccc;
	border-left-color: #cccccc;
	background-color: #eeeeee;
	color: #333333;
	font-family: Arial, Helvetica;
	font-size: 80%;
	font-weight: bold;
	background-repeat: no-repeat;
	background-position: left top;
	width: 20px;
	height: 20px;
	line-height: normal;
	background-image: url(../images/common/down.gif);
}

.CommonPollMoveDownButton:LINK, .CommonPollMoveDownButton:VISTED, .CommonPollMoveDownButton:ACTIVE
{
	text-decoration: none;
	color: #333333;
}

.CommonPollMoveDownButton:HOVER
{
	text-decoration: none;
	color: #333333;
	background-color: #dddddd;
}

.CommonPollDeleteButton
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	margin: 1px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	border-top-color: #cccccc;
	border-left-color: #cccccc;
	background-color: #eeeeee;
	color: #333333;
	font-family: Arial, Helvetica;
	font-size: 80%;
	font-weight: bold;
	background-repeat: no-repeat;
	background-position: left top;
	width: 20px;
	height: 20px;
	line-height: normal;
	background-image: url(../images/common/delete.gif);
}

.CommonPollDeleteButton:LINK, .CommonPollDeleteButton:VISTED, .CommonPollDeleteButton:ACTIVE
{
	text-decoration: none;
	color: #333333;
}

.CommonPollDeleteButton:HOVER
{
	text-decoration: none;
	color: #333333;
	background-color: #dddddd;
}

ol.CommonPollAnswerList
{
	margin: 0px;
	padding: 0px;
}

ol.CommonPollAnswerList li
{
	margin-left: 24px;
}

/* rendered poll styles */

.CommonPollArea
{
	width: 375px;
	background-color: #f4f4f4;
	border-style: solid;
	border-width: 1px;
	border-color: #bbbbbb;
	margin-left: auto;
	margin-right: auto;
}

.CommonPollQuestion
{
	background-color: #e2eecd;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: #bbbbbb;
	padding: 4px;
	color: #698d73;
	margin: 0px;
	font-size: 105%;
}

.CommonPollContent
{
	padding: 4px;
}

.CommonPollDescription
{
}

.CommonPollSwitchedContent
{
	width: 275px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6px;
	margin-bottom: 6px;
}

ul.CommonPollAnswerList
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

ul.CommonPollAnswerList li
{
	padding: 0px;
	margin: 6px;
	margin-left: 0px;
	margin-right: 0px;
}

.CommonPollAnswer
{
	padding: 2px;
}

.CommonPollUserVote
{
	color: #777777;
}

.CommonPollFooter
{
	padding: 2px;
	background-color: #cccccc;
	border-style: solid;
	border-width: 0px;
	border-top-width: 1px;
	border-color: #999999;
	font-size: 80%;
}

ul.CommonPollFooterList
{
	list-style-type: none;
	margin: 0px;
	text-align: center;
}

ul.CommonPollFooterList li
{
	display: inline;
	margin-left: 6px;
	margin-right: 6px;
}

/* End Poll Styles */

/* Tag Styles */

.CommonTagCloud
{
	background-color: #f7f7f7;
	padding: 8px;
	padding-top: 16px;
	padding-bottom: 16px;
	margin: 0px;
	margin-bottom: 16px;
	margin-top: 16px;
	color: #999999;
	line-height: 250%;
	list-style-type: none;
}

.CommonSidebarTagCloud
{
	line-height: 225%;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.CommonTag1, .CommonTag2, .CommonTag3, .CommonTag3, .CommonTag4, .CommonTag5, .CommonTag6
{
	margin: 0px;
	padding: 0px;
	display: inline;
}

.CommonTag1 a:link, .CommonTag1 a:visited, .CommonTag1 a:active
{
	margin-right: 6px;
	text-decoration: none;
	color: #334433;
	font-size: 225%;
	font-weight: 900;
}

.CommonTag2 a:link, .CommonTag2 a:visited, .CommonTag2 a:active
{
	margin-right: 6px;
	text-decoration: none;
	color: #445544;
	font-size: 175%;
	font-weight: 800;
}

.CommonTag3 a:link, .CommonTag3 a:visited, .CommonTag3 a:active
{
	margin-right: 6px;
	text-decoration: none;
	color: #556655;
	font-size: 150%;
	font-weight: 600;
}

.CommonTag4 a:link, .CommonTag4 a:visited, .CommonTag4 a:active
{
	margin-right: 6px;
	text-decoration: none;
	color: #667766;
	font-size: 120%;
	font-weight: 500;
}

.CommonTag5 a:link, .CommonTag5 a:visited, .CommonTag5 a:active
{
	margin-right: 6px;
	text-decoration: none;
	color: #778877;
	font-size: 100%;
	font-weight: 300;
}

.CommonTag6 a:link, .CommonTag6 a:visited, .CommonTag6 a:active
{
	margin-right: 6px;
	text-decoration: none;
	color: #889988;
	font-size: 80%;
	font-weight: 200;
}

.CommonTag1 a:hover, .CommonTag2 a:hover, .CommonTag3 a:hover, .CommonTag4 a:hover, .CommonTag5 a:hover, .CommonTag6 a:hover
{
	background-color: #dddddd;
	text-decoration: none;
}

/* End Tag Styles */

.CommonSearchArea
{
	margin-bottom: 8px;
	margin-top: 16px;
	padding: 6px;
	background-color: #f3f3f3;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
}

.CommonSearchArea table
{
	margin-left: auto;
	margin-right: auto;
}

/*
TabPane Styles
*/

.CommonPane
{
	padding: 0px;
	font-family: Arial, Helvetica;
	font-size: 10pt;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	border-top-width: 0px;
	background-color: #ffffff;
	padding: 8px;
}

.CommonPaneTabSet
{
	font-family: Arial, Helvetica;
	font-size: 11px;
	padding: 0px;
	padding-bottom: 0px;
	background-image: url(../images/common/tabset.gif);
	background-position: bottom left;
	background-repeat: repeat-x;
	white-space: nowrap;
}

.CommonPaneTab
{
	padding-right: 4px;
	background-image: url(../images/common/tab-right.gif);
	background-repeat: no-repeat;
	background-position: top right;	
	height: 21px;
	margin-top: 1px;
}

.CommonPaneTab1
{
	padding-left: 3px;
	background-image: url(../images/common/tab-left.gif);
	background-repeat: no-repeat;
	background-position: top left;
}

.CommonPaneTab2
{
	padding: 4px;
	height: 13px;
	cursor: pointer;
	white-space: nowrap;
	background-image: url(../images/common/tab.gif);
	background-repeat: repeat-x;
	background-position: top left;
	text-align: center;
	overflow: hidden;
}

.CommonPaneTabSelected
{
	padding-right: 4px;
	background-image: url(../images/common/tab-selected-right.gif);
	background-repeat: no-repeat;
	background-position: top right;	
	height: 21px;
	margin-top: 1px;
}

.CommonPaneTabSelected1
{
	padding-left: 3px;
	background-image: url(../images/common/tab-selected-left.gif);
	background-repeat: no-repeat;
	background-position: top left;
}

.CommonPaneTabSelected2
{
	padding: 4px;
	padding-top: 3px;
	padding-bottom: 5px;
	height: 13px;
	cursor: pointer;
	white-space: nowrap;
	background-image: url(../images/common/tab-selected.gif);
	background-repeat: repeat-x;
	background-position: top left;
	text-align: center;
	font-weight: bold;
	overflow: hidden;
}

.CommonPaneTabHover
{
	padding-right: 4px;
	background-image: url(../images/common/tab-hover-right.gif);
	background-repeat: no-repeat;
	background-position: top right;	
	height: 21px;
	margin-top: 1px;
}

.CommonPaneTabHover1
{
	padding-left: 3px;
	background-image: url(../images/common/tab-hover-left.gif);
	background-repeat: no-repeat;
	background-position: top left;
}

.CommonPaneTabHover2
{
	padding: 4px;
	cursor: pointer;
	white-space: nowrap;
	height: 13px;
	background-image: url(../images/common/tab-hover.gif);
	background-repeat: repeat-x;
	background-position: top left;
	text-align: center;
	overflow: hidden;
}

/* Inline tag editor */
.CommonInlineTagEditor
{
	padding: 4px;
	border: solid 1px #999999;
	background-color: #f3f3f3;
}

/* Common Tree List */
ul.CommonTreeList
{
	margin: 0px;
	padding: 0px;
}

ul.CommonTreeList li
{
    margin: 0px;
    padding-top: 5px;
	list-style-type: none;
	background-image: url(../images/file/folder.gif);
	background-repeat: no-repeat;
	background-position: left 3px;
	padding-left: 18px;
	color: #698d73;
}

.CommonTreeListItemSelected
{
    font-weight: bold;
}

.CommonTreeListItem
{
    font-weight: normal;
}

/* Control Panel Overrides */

#CommonOuter
{
	width: auto;
}

.CommonTitleBarImage
{
}

.CommonTitleBarTitleArea
{
	background-image: url(../images/common/title.gif);
	background-position: top left;
	background-repeat: no-repeat;
	padding-left: 100px;
	height: 121px;
}

.CommonTitleBarTitle
{
	height: 50px;
	padding: 0px 0px 0px 10px;
	font-family: Arial, Helvetica;
	padding-top: 0px;
	font-size: 250%;
	color: #A0AE5A;
	margin: 0px;
	margin-bottom: -5px;
	font-weight: bolder;
}

.CommonTitleBarTitle A:LINK
{
	color: #333333;
	text-decoration: none;
}

.CommonTitleBarTitle A:VISITED
{
	color: #333333;
	text-decoration: none;
}

.CommonTitleBarTitle A:ACTIVE
{
	color: #333333;
	text-decoration: none;
}

.CommonTitleBarDescription
{
	position: relative;
	font-family: Arial, Helvetica;
	top: -10px;
	padding: 0px 0px 0px 16px;
	color: #636364;
	margin: 0px;	
	margin-bottom: -14px;
	display: block;
}

#ControlPanelFooter
{
	background-color: #eee;
	border-top: solid 1px #ccc;
	padding: 18px 8px 24px 8px;
	text-align:center;
}

#ControlPanelFooter a
{
	color: #333333;
}

#ControlPanelFooter TD
{
	font-family: Arial, Helvetica;
	font-size: 10pt;
	padding-left: 10px;
	padding-right: 10px;
}

.CommonContentArea
{
	padding: 0px;
	padding-bottom: 32px;
	margin: 0px;
}

.CommonTitleBar
{
	position: relative;
}

.CommonTitleBarTitle
{
	padding-left: 1px;
}

.CommonTitleBarDescription
{
	padding-left: 2px;
	color: #636364;
	margin-bottom: 0px;
	position: static;
	margin-top: -10px;
}

.CommonTitleBarSiteLink
{
	font-size: 90%;
	padding-left: 1px;
	margin-top: 0px;
	margin-bottom: -2px;
	font-weight: bold;
}

.CommonMessageSuccess
{
	position: relative;
}

.CommonMessageError
{
	position: relative;
}

.CommonSidebarArea
{
	width: 232px;
}

.CommonSidebarContent
{
	width: 214px;
}

.CommonSidebarHeader
{
	border-bottom: solid 1px #fff;
}

/* Control Panel (CP) Styles */

/* NavBar Styles */

.ControlPanelTextInput
{
	width: 80%;
}

.ControlPanelTextInputBig
{
	width: 90%;
	font-size: 130%;
}

.CPNavBar
{
  background-color: #89A2D8;
  cursor: default; 
  background-position: top right;
  background-repeat: repeat-y;
} 

.CPNavBarTopItem
{
  color:Black;
  font-family: Arial, Helvetica; 
  font-size: 11px; 
  font-weight: bold;
  border: 1px solid #BCD8FF;
  border-right-color:#414F82;
  border-bottom-color:#414F82;
  padding-top: 4px; 
  padding-bottom: 2px; 
  cursor:hand;
}

.CPNavBarTopItemHover
{
  color:black;
  background-color:#D5D5D5;
  font-family: Arial, Helvetica; 
  font-size: 11px; 
  font-weight: bold;
  border: 1px solid #ffffff;
  border-right-color:#8C8C8C;
  border-bottom-color:#8C8C8C;
  padding-top: 4px; 
  padding-bottom: 2px; 
  cursor:hand;
}

.CPNavBarTopItemActive
{
  color:black;
  background-color:#D5D5D5;
  font-family: Arial, Helvetica; 
  font-size: 11px; 
  font-weight: bold;
  border: 1px solid #8C8C8C;
  border-right-color:#dbfe99;
  border-bottom-color:#dbfe99;
  padding-top: 4px; 
  padding-bottom: 2px; 
  cursor:hand;
}

.CPNavBarLevel2Item
{
  font-family: Arial, Helvetica; 
  font-size: 11px; 
  border: 1px solid white;
  border-right-color:#CCCCCC;
  border-bottom-color:#CCCCCC;
  padding:3px;
  padding-left: 10px; 
  cursor:hand;
  background-color: #eeeeee;
}

.CPNavBarLevel2Item A:LINK, .CPNavBarLevel2Item A:ACTIVE, .CPNavBarLevel2Item A:VISITED
{
	color: #000000;
	display:block;
	text-decoration: none;
}

.CPNavBarLevel2Item A:HOVER
{
	color: #000000;
	display: block;
	text-decoration: underline;
}

.CPNavBarLevel2ItemHover
{
  background-color:#dddddd;
  font-family: Arial, Helvetica; 
  font-size: 11px; 
  border: 1px solid #eeeeee;
  border-right-color:#CCCCCC;
  border-bottom-color:#CCCCCC;
  padding:3px;
  padding-left: 10px; 
  cursor:hand;
}

.CPNavBarLevel2ItemHover A:LINK, .CPNavBarLevel2ItemHover A:ACTIVE, .CPNavBarLevel2ItemHover A:VISITED
{
	color: #000000;
	display:block;
	text-decoration: none;
}

.CPNavBarLevel2ItemHover A:HOVER
{
	color: #000000;
	display: block;
	text-decoration: underline;
}

.CPNavBarLevel2ItemSelected
{
  background-color: #aaa;
  font-family: Arial, Helvetica; 
  font-size: 11px; 
  border: 1px solid #999999;
  border-right-color:#eee;
  border-bottom-color:#eee;
  padding:3px;
  padding-left: 10px; 
  cursor:hand;
  font-weight: bold;
}

.CPNavBarLevel2ItemSelected A:LINK, .CPNavBarLevel2ItemSelected A:ACTIVE, .CPNavBarLevel2ItemSelected A:VISITED
{
	color: #000000;
	display:block;
	text-decoration: none;
}

.CPNavBarLevel2ItemSelected A:HOVER
{
	color: #000000;
	display: block;
	text-decoration: underline;
}

.CPNavBarLevel2Group
{
  background-color:white;
}

.CPNavBarEmpty
{
}

/* GrayGrid CA Grid Formatting */

#GrayGrid
{
}

#GrayGrid .HeadingRow th
{
  background-color: #E9E9EB; 
  padding: 3px; 
  padding-top: 4px; 
  padding-bottom: 4px;
}

#GrayGrid .Grid 
{ 
  border: 1px solid #57566F; 
  border-bottom: 2px solid #57566F; 
  background-color: #FFFFFF;
  cursor:default;
  width: 100%;
  overflow: auto;
}

#GrayGrid .GridHeader
{
  background-color: #dddddd; 
  border-bottom: 1px solid #999999; 
  height: 28px;
  padding-left: 3px;
  padding-right:3px;
  cursor:default;
}

#GrayGrid .GridHeaderText
{
  color: #000000;  
  font-family: Arial, Helvetica; 
  font-size: 10px;
}

#GrayGrid .GridFooter
{
  cursor: default; 
  padding: 5px;
  vertical-align: bottom;
}

#GrayGrid .GridFooterText
{
  color: #000000;  
  font-family: Arial, Helvetica; 
  font-size: 11px;
}

#GrayGrid .HeadingRow 
{ 
  background-color: #E9E9EB; 
  background-image: url(../../../ControlPanel/images/caimages/header_rowBg.gif);   
}

#GrayGrid .HeadingCell 
{ 
  background-image: url(../../../ControlPanel/images/caimages/header_bg.gif);   
  background-color: #E9E9EB; 
  padding: 3px; 
  padding-top: 2px; 
  padding-bottom: 2px; 
}

#GrayGrid .HeadingCellHover
{ 
  background-image: url(../../../ControlPanel/images/caimages/header_hoverBg.gif);   
  background-color: #F6F6F7; 
}

#GrayGrid .HeadingCellActive
{ 
  background-image: url(../../../ControlPanel/images/caimages/header_activeBg.gif);   
  background-color: #F6F6F7; 
  
}

#GrayGrid .HeadingRow td.FirstHeadingCell
{ 
  background-image: url(../../../ControlPanel/images/caimages/header_bg.gif); 
}

#GrayGrid .HeadingCellText
{
  font-family: Arial, Helvetica; 
  font-size: 12px; 
  font-weight: bold; 
  text-align: left;
  padding-top: 3px;
  padding-bottom: 5px;
}

#GrayGrid .Row 
{ 
  background-color: #FFFFFF; 
  cursor: default;
}

#GrayGrid .Row td.DataCell 
{ 
  padding: 3px; 
  padding-top:4px;
  border-bottom: 1px solid #EAE9E1; 
  font-family: Arial, Helvetica; 
  font-size: 11px; 
} 

#GrayGrid .SortedDataCell 
{ 

} 

/* use for command cols */
#GrayGrid .Row td.LastDataCell
{
} 

#GrayGrid .SelectedRow 
{ 
}

#GrayGrid .SelectedRow td.DataCell 
{ 
  background-color: #EFEFEF; 
  padding: 3px; 
  padding-top: 3px; 
  padding-bottom: 3px; 
  font-family: Arial, Helvetica; 
  font-size: 11px; 
  border-bottom: 1px solid #4B4B4B; 
  border-top: 1px solid #4B4B4B; 
  border-right: 0px; 
}

#GrayGrid .SelectedRow td.FirstDataCell 
{ 
  background-color: #EFEFEF; 
  border-left: 1px solid #4B4B4B; 
  border-right: 0px; 
  padding-left: 2px; 
  padding-right: 3px; 
}
#GrayGrid .AlternatingRow td.FirstDataCell 
{ 
}
#GrayGrid .Row td.FirstDataCell 
{ 
}

#GrayGrid .SelectedRow td.LastDataCell 
{ 
  background-color: #EFEFF4; 
  border-right: 1px solid #4B4B6F; 
  border-left: 0px; 
  padding-left: 3px; 
  padding-right: 2px; 
}

#GrayGrid .Row td
{  
  padding: 3px; 
  border-bottom: 1px solid #EAE9E1;
  font-family: Arial, Helvetica; 
  font-size: 11px;
}

#GrayGrid .AlternatingRow td
{ 
  background-color: #F5F5F5; 
  padding: 3px; 
  border-bottom: 1px solid #EAE9E1;
  font-family: Arial, Helvetica; 
  font-size: 11px;
}

#GrayGrid .AlternatingRow td.DataCell 
{ 
  background-color: #F5F5F5; 
  padding: 3px; 
  padding-top: 4px; 
  border-bottom: 1px solid #EAE9E1; 
  font-family: Arial, Helvetica; 
  font-size: 11px; 
}
#GrayGrid .AlternatingRow td.LastDataCell 
{ 
}



#GrayGrid .GroupHeading
{
  color: #706F91; 
  background-color: #FFFFFF; 
  font-family: Arial, Helvetica; 
  font-weight: bold;
  font-size: 11px; 
  border-bottom: 2px solid #A5A4BD; 
  padding-top: 10px;
  padding-bottom: 3px;
}

#GrayGrid .GroupByCell
{
  cursor: pointer;
}

#GrayGrid .GroupByText
{
  color: #FFFFFF; 
  font-size: 11px;   
  font-weight: bold; 
  padding-right: 5px;
}

#GrayGrid .SelectedRow
{
    background-color: #EFEFEF;
}

#GrayGrid .PagerText
{ 
  font-family: verdana; 
  font-size: 11px; 
} 

#GrayGrid .EditDataCell
{ 
  background-color: #E2E2E2; 
}

#GrayGrid .EditDataCell INPUT
{ 
  font-size: 10px;
  height: 17px;
} 

#GrayGrid .EditDataField
{ 
  padding: 0px; 
  padding-left: 1px; 
  font-family: Arial, Helvetica; 
  font-size: 10px; 
  height: 13px;
  width: 98%!important; 
} 

.ScrollBar
{
  background-image: url(../../../ControlPanel/images/caimages/scroller/scroller_bg.gif); 
}

.ScrollGrip
{
  background-image: url(../../../ControlPanel/images/caimages/scroller/scroll_gripBg.gif); 
}

.ScrollPopup
{
  background-color: #FFFFFF; 
  border: 1px solid #666666;
  border-right-width: 2px;
  border-bottom-width: 2px;
  height: 23px;
}

.GraySliderPopup
{
  background-color: #EFEFEF; 
  border: 1px solid #4B4B4B; 
  border-top-color: #949595; 
  border-left-color: #949595; 
  width: 288px;
  height: 60px;
}

.disabled
{
  display:none;
}
/* end CA Sample Formatting */
    
#Actions
{3
	padding-top:10px;
	padding-bottom:10px;
}
#Filters
{
	padding-top:10px;
	padding-bottom:10px;
	text-align:right;
}

/* BEGIN TreeView for CP Photos Manage Categories */
.TreeView
{
	padding: 0px;
}
.TreeNode
{
	font-family: Arial, Helvetica; 
	font-size: 11px; 
	padding: 2px;
	padding-left: 3px;
	cursor: pointer;
}
.SelectedTreeNode
{
	font-family: Arial, Helvetica; 
	font-size: 11px; 
	background-color: #e2eecd; 
	padding: 1px;
	border: solid 1px #dddddd;
	cursor: pointer;
}
.HoverTreeNode
{
	font-family: Arial, Helvetica; 
	font-size: 11px; 
	padding: 2px;
	padding-left: 3px;
	background-color: #e2eecd;
	cursor: pointer;
}
.NodeEdit
{
	border-right: gray 1px solid;
	border-top: gray 1px solid;
	font-size: 11px;
	border-left: gray 1px solid;
	border-bottom: gray 1px solid;
	font-family: Arial, Helvetica;
	background-color: white;
}
.MenuItem
{
	font-size: 10px;
	cursor: default;
	color: black;
	font-family: Arial, Helvetica;
	background-color: silver;
}
.MenuBreak
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}
/* END TreeView for CP Photos Manage Categories */

/* BEGIN TreeView for CP Photos Manage Categories */
.DetailsTreeView
{
	padding: 0px;
}
.DetailsTreeNode
{
	padding-right: 0px;
	padding-left: 0px;
	font-size: 11px;
	padding-bottom: 1px;
	cursor: default;
	color: gray;
	padding: 2px;
	font-family: Arial, Helvetica;
	text-decoration: underline;
}
.DetailsSelectedTreeNode
{
	font-family: Arial, Helvetica; 
	font-size: 11px; 
	background-color: #e2eecd; 
	padding: 1px;
	border: solid 1px #dddddd;
	cursor: pointer;
}
.DetailsHoverTreeNode
{
	font-family: Arial, Helvetica; 
	font-size: 11px; 
	padding: 2px;
	background-color: #e2eecd;
	cursor: pointer;
}
.DetailsNodeEdit
{
	border-right: gray 1px solid;
	border-top: gray 1px solid;
	font-size: 11px;
	border-left: gray 1px solid;
	border-bottom: gray 1px solid;
	font-family: Arial, Helvetica;
	background-color: white;
}
.DetailsMenuItem
{
	font-size: 10px;
	cursor: default;
	color: black;
	font-family: Arial, Helvetica;
	background-color: silver;
}
.DetailsMenuBreak
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}
/* END TreeView for CP Photos Manage Categories */


/* BEGIN ComponentArt Date Picker & Popup Calendar */
.calendar_button { border:none; cursor:pointer; }

.picker
{
  background-color: #FFFFFF;
  border: 1px gray solid;
  font-size: 12px;
  font-weight: bold;
  font-family: Arial, Helvetica;
  padding: 2px;
  cursor: pointer;
}

.calendar td { font-size:11px; }

.title { font-weight:bold; background-color:#D7D7E5; }

.day
{
	width:25px;
	cursor:pointer;
	text-align:center;
	border-width:1px;
	border-color:#F6F6F6;
	border-style:solid;
}

.dayhover
{
	width:25px;
	cursor:pointer;
	text-align:center;
	text-decoration:underline;
	border-width:1px;
	border-color:#F6F6F6;
	border-style:solid;
}

.dayheader
{
	width:25px;
	text-align:center;
	border-width:1px;
	border-color:white;
	border-style:solid;
	font-weight:bold;
	background-color:#FFFFFF;
}

.othermonthday { color:#999999; }

.outofrangeday { visibility:hidden; }

.selectedday
{
	width:25px;
	background-color:#FBE694;
	color:#000000;
	border-width:1px;
	border-color:#BB5503 !important;
	border-style:solid;
	font-weight:bold;
}

.calendar
{
	border-style:solid;
	border-width:1px;
	border-color:Black;
	border-collapse:collapse;
	background-color:#FFFFFF;
	cursor:default;
}

.month
{
	background-color:#F6F6F6;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
	margin-top:0px;
}

.nextprev
{
	cursor:pointer;
	height:25px;
	vertical-align:center;
	padding:0px 5px 0px 5px;
}

.selector
{
	width:14px;
	cursor:pointer;
	text-align:left;
	vertical-align:center;
	background-color:#FFFFFF;
}
/* END ComponentArt Date Picker & Popup Calendar */


/* START CSS PopUp Menu */
#GridWithMenu ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#GridWithMenu li {
	float: left;
	position: relative;
	width: 9em;
	cursor: pointer;
	color: #006;
}

#GridWithMenu li ul {
	background-color: #E9E9EB;
	display: none;
	position: absolute;
	top: 0em;
	left: 5em;
	list-style: none;
	padding: 0.5em 0 1em 0;
	border: 1px solid #000000;
	}

#GridWithMenu li>ul { /* to override top and left in browsers other than IE, which will position to the top right of the containing li, rather than bottom left */
	top: auto;
	left: auto;
}

#GridWithMenu li.PopupMenu_Over ul {
	display: block;
}

#GridWithMenu li li a {
	display: block;
	font-weight: normal;
	color: #006;
	padding: 0.2em 2px;
}

#GridWithMenu li li a:hover 
{
	padding: 0.2em 2px;
	color: #600;
}
/* END CSS PopUp Menu */

/* Help Icon */
.helpicon
{
	border-style:none;
	height:16px;
	width:16px
}
a.helpicon
{
	border-style:none;
	height: 20px;
	background-image: url(../images/common/help_out_lt.gif);
	background-position: left top;
	background-repeat: no-repeat;
}
a.helpicon:hover, a.helpicon:active 
{
	background-image:url(../images/common/help_hover.gif);
	background-position: left top;
	background-repeat: no-repeat;
	cursor:help;
}

/* Splitter Styles */
.SplitterBar
{ 
	border: 1px solid #bbbbbb;
	border-top-width: 0px;
	border-bottom-width: 0px;
	background-color: #f4f4f4;
}

.SplitterBarCollapsed
{
	border: 0px solid #bbbbbb;
	border-right-width: 1px;
	background-color: #f4f4f4;
}

.ActiveSplitterBar
{
  background-color: #000000;  
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60); 
  opacity: 0.6;
}

.SplitterPane
{
}

.SplitterListHeading
{
	padding: 2px;
	font-family: Arial, Helvetica;
	font-size: 11px;
	color: #000000;
	text-align: center;
	background-color: #bbbbbb;
	background-image: none;
	border-style: none;
	border-width: 0px;
	
	font-weight: normal;
	margin: 0px;
	
}
/* Control Panel overrides */

FORM 
{
	margin: 0px;
	padding: 0px;
}

#PanelNavigationColumn
{
	background-color: #ddd;
}

#PanelWorkingObjectContainer
{
	background-color: #eeeeee;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-color: #cccccc;
	padding: 4px;
	padding-left: 10px;
	font-family: Arial, Helvetica;
	font-size: 10pt;
	font-weight: bold;
}

.CommonTabBar
{
	margin-bottom: 0px;
	padding-left: 21px;
}


.PanelSaveButton
{
	text-align:right;
}

.DetailsFixedWidth
{
	width:90%;
}

.FixedWidthContainer
{
	border: solid 1px #cccccc;
	padding:10px;
	padding-bottom:20px;
	width:90%;
}

/* Manager styles */

.CommonManagerArea
{
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
}

.CommonManagerContent
{
}

.CommonManagerButtonsArea
{
	background-color: #dddddd;
	border-style: solid;
	border-width: 0px;
	border-top-width: 1px;
	border-color: #999999;
	padding: 8px;
	white-space: nowrap;
}

/* Control Panel (BCP) styles */

.CommonDashboardTitle
{
	padding-left: 12px;
}

.CommonDashboardArea
{
	margin-left: 12px;
	padding-bottom: 8px;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: #eeeeee;
	margin-bottom: 8px;
}

.CommonDashboardHeader
{
	color: #999999;
	font-size: 110%;
	margin: 0px;
	padding: 0px;
	margin-bottom: 4px;
}

.CommonDashboardContent
{
	padding: 5px 0px 5px 5px;
}

ul.CommonDashboardActionList
{
	margin: 0px;
	margin-top: 2px;
	padding: 0px;
}

ul.CommonDashboardActionList li
{
	margin: 0px;
	padding: 0px;
	list-style-type: square;	
	margin-left: 16px;
	color: #698d73;
}

/* Membership Control Panel overrides */


.smalltext {font-size: 0.8em; }

/* START Settings style Table Formatting */
table.settings { background-color: #CCCCCC; margin-top: 4px; margin-bottom: 8px; }
	/* Settings Label */
td.sl { COLOR: #333; vertical-align:top; background-color: #FFFFFF;  font-size: small; }
td.sl_small { COLOR: #333; vertical-align:top; background-color: #FFFFFF;  font-size: x-small; }
	/* Settings Data */
td.sd { COLOR: #333; vertical-align:top; background-color: #F0F0F0; font-weight: normal; font-size: small; }
td.sd label, .lbl {font-weight:normal; font-size: small;}
/* END Settings style Table Formatting */


.ExpanderHeader
{
    font-weight: bold;
    background-color: #78ABDE; 
    background-image: url(../images/forumColumnBackground.gif); 
    background-repeat: repeat-x; 
    COLOR: white;
    padding:2px;
	font-family: Arial, Helvetica;
}

.ExpanderPanel
{
    padding:2px;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 2px;
	border-right-width: 2px;
	border-left-width: 2px;
	border-color: #4C7A9E;
}

.SearchPanel
{
    padding:1px;
	border-style: solid;
	border-width: 2px;
	border-color: #4C7A9E;
}

.RolesListBox
{
	width:200px;
	height:250px;
	border: solid 1px #000000;
}

legend
{
	color: #999999;
	font-weight: bold;
}

.AltListRow
{
    background-color: #F5F5F5;
}

.CommonThemePreviewTextColumn
{
    width: 186px;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    border-bottom-color: #ccc;
}

.CommonThemePreviewTextColumn h4
{
    width: 174px;
    overflow: hidden;
    font-size: 110%;
    font-weight: bold;
    margin: 0px;
    margin-top: 6px;
    padding: 0 6px 0 6px;
}

.CommonThemePreviewTextColumn div
{
    width: 174px;
    overflow: hidden;
    padding: 6px;
    font-size: 80%;
}

.CommonThemePreviewImageColumn
{
    width: 218px;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    border-bottom-color: #ccc;
}

.CommonThemePreviewImageColumn div
{
    width: 200px;
    height: 90px;
    margin: 6px;
    background-color: #ccc;
    padding-top: 60px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
}

.CommonThemePreviewImageColumn img
{
    width: 200px;
    height: 150px;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    margin: 6px;
 }
 
.CommonFileSelectionArea
{
    background-color: #ccc;
    margin-bottom: 8px;
    margin-top: 4px;
    border: solid 1px #999;
}

.CommonFileSelectionArea input
{
    margin: 2px;
}
 
.CommonFileSelectionPreviewArea
{
    text-align: center;
    background-color: #fff;
    border: solid 0px #999;
    border-bottom-width: 1px;
    padding: 4px;
    font-size: 80%;
    color: #999;
    overflow: hidden;
}

.CommonFileSelectionPreviewArea img
{
    max-width: 250px;
    max-height: 100px;
}