/*
Overrides
*/

#CommonFooter
{
	margin: 0px;
	padding: 0px;
	border-style: none;
	border-width: 0px;
	display: none;
}

#CommonHeader
{
	padding: 0px;
	margin: 0px;
	height: 0px;
	border-style: none;
	border-width: 0px;
	display: none;
}

#CommonOuter
{
	margin: 0px;
	width: auto;
}

#Common
{
	padding: 0;
	margin: 0px;
	border-style: none;
	border-width: 0px;
	background-color: #eeeeee;
	width: auto;
	min-width: 0;
}

body, html
{
	background-image: none;
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
	border-style: none;
}

.CommonContentArea
{
	padding: 0px;
	font-family: Arial, Helvetica;
	border-style: none;
	margin: 0px;
	padding-top: 4px;
	background-color: #ffffff;
}

.CommonContent
{
	border-style: none;
	background-color: #ffffff;
}

/*
Modal Styles
*/

