/* Setup Control Panel overrides */


/* Forums Folder Tree */
.ForumFolderTree
{
	padding: 0px;
}
.ForumFolderTreeNode
{
	font-family: Arial, Helvetica; 
	font-size: 11px; 
	padding: 2px;
	padding-left: 3px;
	cursor: pointer;
}
.ForumFolderTreeNodeSelected
{
	font-family: Arial, Helvetica; 
	font-size: 11px; 
	background-color: #e2eecd; 
	padding: 1px;
	border: solid 1px #dddddd;
	cursor: pointer;
}
.ForumFolderTreeNodeHover
{
	font-family: Arial, Helvetica; 
	font-size: 11px; 
	padding: 2px;
	padding-left: 3px;
	background-color: #e2eecd;
	cursor: pointer;
}

.ForumSectionEdit
{
	margin-left: 0px;
	padding-left: 5px;
	border-style: dotted;
	border-width: 0px;
	border-left-width: 1px;
	border-color: #cccccc;
}


/* Manage IP Styles */
table.Listing {
	margin: 0px 0px 8px 0px;
	width:400px;
}

table.Listing td {
	border-bottom: 1px solid #E6E6E6;
}

table.Listing td, 
table.Listing th {
	padding: 4px 12px 4px 12px;
	text-align: left;
}

table.Listing tr {
	color: inherit;
	background: #F5F5F5;
}

table.Listing th,
table.Listing td.Header,
table.Listing tr.Header td {
	font-weight: bold;
	color: inherit;
	background: #FFFFFF;
}

table.Listing tr.Alt {
	color: inherit;
	background: #FFFFFF;
}
