/* Tabs based on Silver Organge Labs Sample: http://labs.silverorange.com/archives/2004/may/updatedsimple */

/* CORE */
html { min-width: 600px; }

body, div, h2, h3, h4 { /* redundant rules for bad browsers  */  
    font-family: verdana, sans-serif;
	font-size:    x-small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: small;
	color: #333;
}  
.clearhack { display: inline; } /*Clears Box Model Hack in IE5*/

body {
	font-family: verdana, sans-serif;
	background: #EDEBE3;
	color: #333;
	padding: 6em 20px 3em 20px;
	margin: 0;
}

body.modal
{
    background:#FFF;
    padding:0;
    margin:0;    
}

form.modal
{
    margin:10px;
}

a { color: #002C99; }
a:hover
{
	color: #cc0033;
	text-decoration: underline;
}


h1,h2 {
	font-family: trebuchet ms;
	font-weight: bold;
	color: #333;
}

h1 {
	font-size: 180%;
	padding-bottom: 1.6em;
	margin: -10px;
	position: absolute;
	bottom: 0px;
	left: 25px;
}

h1 a { text-decoration: none; color: #333; }
h1 a:hover { border-bottom: 1px dotted #666; color: #000; }

form {margin:0; padding:0;}

h2 {
	font-size: 140%;
	padding-bottom: 2px;
	border-bottom: 1px solid #CCC;
	margin: 0;
	padding:0;
}

h3 {
	background: #EEE;
	padding: 4px;
	font-family: tahoma;
	font-size: 85%;
	line-height: 130%;
	margin-top: 0;
}
/* END CORE */

/* TABS */
#main {
	border: 1px solid #666;
	clear: both;
	/* width: 50em;  optional width to set a size to main body text area */
}

#contents {
	padding: 1.5em;
	background: #FFF;
	min-height: 300px;
	border-top: 2em solid #B6C9E7;
}

#header {
	position: absolute;
	top: 0px;
	left: 20px;
	width: 100%;
	height: 6em;
}

#header ul#primary {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: -1px;
	left: 0px;
	width: 55em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#header ul#primary li  {
	display: inline;
	list-style: none;
}

#header ul#primary a,#header ul#primary span,#header ul#primary a.current {
	width: 8em;
	display: block;
	float: left;
	padding: 4px 0;
	margin-top: 1px;
	margin-right: 2px;
	text-align: center;
	font-family: tahoma;
	font-size: 85%;
	text-decoration: none;
	color: #333;
}

#header ul#primary span,#header ul#primary a.current,#header ul#primary a.current:hover {
	border: 1px solid #666;
	border-bottom: none;
	background: #B6C9E7;
	padding-bottom: 6px;
	margin-top: 0;
}

#header ul#primary a {
	background: #CFE0F8;
	border: 1px solid #666;
	border-bottom: none;
	color:#000;
}

#header ul#primary a:hover, #header ul#primary a.selectedtab{
	margin-top: 0;
	border-color: #666;
	background: #B6C9E7;
	padding-bottom: 5px;
}


#header ul#secondary {
	position: absolute;
	margin: 0;
	padding: 0;
	bottom: -1.4em;
	left: 1px;
	width: 55em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#header div#topleft {
    padding-right: 5px;
    padding-left: 2px;
    font-size: 1em;
    left: 1px;
    padding-bottom: 0px;
    /*width: 50%;*/
    padding-top: 0px;
}

#header ul#secondary li a,#header ul#secondary li span {
	width: auto;
	display: block;
	float: left;
	padding: 0 10px;
	margin: 0;
	text-align: center;
	border: none;
	border-left: 1px dotted #AAA;
	background: none;

}

#header ul#secondary li a {
	color: #001E6A;
	text-decoration: underline;
}

#header ul#secondary li a:hover {
	color: #333;
	background: transparent;
	padding: 0 10px;
	border: none;
	border-left: 1px dotted #AAA;
}

#header ul#secondary li a:active {
	color: #000;
	background: transparent;
}

#header ul#secondary li:first-child a,#header ul#secondary li:first-child span { border: none; }
/* END TABS */

/* CS STUFF */
table.tableBorder /* This is the outline round the main forum tables */
{
/*    border: 1px #B2B2B2 solid;  */
    border: 1px outset;
    background-color: #FFFFFF;
    margin-bottom: 8px;
    
}

.tableBorder th, .column, tr.column td /* td.column is the main heading row of the table, shows either the table title, or the column headings, such as 'Posts', 'Last Post' etc. Top row of all tables. */
{
    font-weight: bold; 
    font-size: 0.9em; 
    background-color: #6798C7; 
    COLOR: white;
    vertical-align:top;
}

div.indent
{
    margin:0px 0px 0px 10px;
}

div.column 
{
	font-weight: bold;
	font-size: 0.8em;
    background-color: #CFE0F8; 
    background-image: url(forumColumnBackground.gif); 
    background-repeat: repeat-x; 
    COLOR: white;
    padding:3px;
    margin-top:8px;
}

table#Footer {
	color: #333333;
	border: 1px solid #666666;
	margin-top: 8px;
	background: #FFF;
}

table#Footer td {
	border-bottom: 1px solid #6B86B3;
	padding: 4px 8px;
	text-align:right;
}



#header div#topright
{
 text-align:right;

  position: absolute;
  right: 0px;
  padding: 0px 2px 0px 0px;
  top: 0px;
  font-size: 1.0em;
  /*width:50%; */
}

#header div#topright ul
{
	margin: 0px 10px 0px 0px;
}

#header div#topright ul li
{
	display: inline;
	list-style: none;
}

.ErrorPanel h3
{
    background: #FFF;
    color: Red;
	padding: 4px;
	font-family: tahoma;
	font-size: 100%;
	line-height: 130%;
	margin-top: 0;
}

div.countertext { font-size: 0.9em; } 
.countertitle { font-size: 0.9em; font-weight: bold; } 

a.counterlink { color: #06C; font-size: 0.9em; }
a.counterlink:hover { color: #333; font-size: 0.9em; }
a.counterlink:active { color: #000; font-size: 0.9em; }

#BlogFeedbackAdmin h4 { margin:0px; }
#BlogFeedbackAdmin .FeedbackDetails { font-size: 0.9em; color: #000080; }
#BlogFeedbackAdmin .pager { background-color: #EEEEEE; padding: 2px; margin:10px 0px; border: 1px solid #C0C0C0;}
#BlogFeedbackAdmin .FeedbackPageSize { float: right; }
#BlogFeedbackAdmin .FeedbackToolbar {
    background-color: #FFFFFF;
	padding: 2px;
	border: 1px solid #C0C0C0;
	font-size: 0.8em;
	font-weight: normal;
	text-decoration: none;
}

.smalltext {font-size: 0.8em; }

/***** CA ************/

.CATopGroup
{
  z-index:99;
  position:relative;
}

.CADefaultTab 
{
  color:black; 
  background-image: url(../../utility/caimages/tabs/tab_bg.gif);
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  cursor:default;
}

.CADefaultTabHover 
{
  color:black; 
  background-image: url(../../utility/caimages/tabs/hover_tab_bg.gif);
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  cursor:default;
}

.CASelectedTab 
{
  color:black; 
  background-image: url(../../utility/caimages/tabs/selected_tab_bg.gif);
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  cursor:default;
}
.CADisabledTab 
{
  color:#AAAAAA; 
  background-image: url(../../utility/caimages/tabs/tab_bg.gif);
  font-family:Verdana; 
  font-size:10px; 
  font-weight: bold;
  cursor:default;
}


.CAMultiPage
{
  background-color:White;
  border: 1px solid #919B9C;
  width:90%;
  height:520px;
  position:relative;
  padding:10px;
  top:-3px;
  left:1px;
  z-index:98;
}

.CAMultiPageModal
{
  background-color:White;
  border: 1px solid #919B9C;
  height:350px;
  position:relative;
  padding:20px;
  top:-3px;
  left:1px;
  z-index:98;
}
.PageViewModalPanel
{
	height:290px;
	overflow-y:scroll;
	padding-right:2px;
}

.CAPageContent
{
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
}



/********** END CA *************/

/****** FORMS **************/

label, .lbl
{
	font-weight:bold;
}

input.txt, textarea.txt
{
	width:600px;
}

textarea.txt
{
    height:120px;
}

input.shorttxt
{
	width:300px;
	font-size: x-small;
}

textarea.shorttxt
{
    width:300px;
    height:100px;
	font-size: x-small;
}

select.shorttxt
{
    width:300px;
	font-size: x-small;
}

td.desc
{
	width:200px;
}


/**** LIST STYLE ****/

table.Listing {
	border-bottom: 3px solid #6B86B3;
	margin: 0px 0px 8px 0px;
	width: 100%;
}


table.Listing td
{
	border-bottom: 1px solid #E6E6E6;
	
	
}

table.Listing td, 
table.Listing th,
table.Listing caption
{
	
	padding:  4px 12px 4px 12px;
	
}

table.Listing th,
table.Listing caption
{
	text-align:left;
	padding:  4px 12px 4px 12px;
	
}


table.Listing tr {
	color: inherit;
	background: #F5F5F5;
}

table.Listing th,
table.Listing td.Header,
table.Listing tr.Header td {
	font-weight: bold;
	color: inherit;
	border-bottom: 1px solid #6B86B3;
	background: #FFFFFF;
}

table.Listing tr.Alt {
	color: inherit;
	background: #FFFFFF;
}

/* Grid Style */

.Grid 
{ 
  background-color: #FFFFFF; 
}

.HeadingCell 
{ 

  border-bottom: 1px solid #6B86B3; 
  border-left-color: 1px solid #E6E6E6; 
  padding:5px;
  font-weight: bold; 
}

.HeadingCellText
{
  font-family: verdana; 
  font-size: 1px; 
  font-weight: bold; 
}

.Row 
{ 
  background-color: #FFFFFF; 
  cursor: default;
}

.Row td.DataCell 
{ 
  border-bottom: 1px solid #E6E6E6; 
  font-family: verdana; 
  font-size: 10px; 
  cursor: default;
} 

.AlternatingRow 
{ 
  cursor: default;
}

.SelectedRow
{
    background-color: #FFEEC2;
}

.AlternatingRow td.DataCell 
{ 
  background-color: #F5F5F5; 

  border-bottom: 1px solid #E6E6E6; 
  font-family: verdana; 
  font-size: 10px; 
  cursor: default;
} 

.GridFooter
{
  cursor: default; 
  height: 70px;
  border-top: 3px solid #6B86B3;  

}

.CellText
{
  font-family: verdana; 
  font-size: 10px; 
}


.SliderPopup
{
  background-color: #FFF4D7; 
  border: 1px solid #4B4B6F; 
  border-top-color: #9495A2; 
  border-left-color: #9495A2; 
  width: 288px;
  height: 68px;
}
/* CA Grid Grouping */

.GroupHeading
{
  color: #706F91; 
  background-color: #FFFFFF; 
  font-family: verdana; 
  font-weight: bold;
  font-size: 11px; 
  border-bottom: 2px solid #A5A4BD; 
  padding-top: 10px;
  padding-bottom: 3px;
}

.GroupByCell
{
  cursor:default;
}

.GroupByText
{
  color: #FFFFFF; 
  font-size: 11px;   
  font-weight: bold; 
  padding-right: 5px;
}

/* end CA Grid Grouping */

/* End Grid Style */

/* Single List */

dl.DetailedList
{
    border-top: 1px solid #6B86B3;
    border-bottom: 3px solid #6B86B3;  
}

dl.DetailedList dt
{
    font-weight:bold;
    padding-bottom:2px;
}

dl.DetailedList dd
{
    margin-left:0;
}

dl.DetailedList dd.Alt, dl.DetailedList dt.Alt
{
    background: #F5F5F5;
    padding-bottom:2px;
}


/** END Single List **/

/** MODAL **/
#popupTitleBar {
	background-color: #B6C9E7 ! important;
}

/** END MODAL **/

.SiteMap
{
  padding-left:15px;
}

.RootNode
{ 

  padding:7px;
  padding-top:7px;
  padding-bottom:1px;
} 

.small
{
    font-size:.7em;
    
}

.moveableItem
{
    cursor: move;
    width:100%;
    border-top:1px solid black;
    border-bottom:1px solid black;
    margin-bottom:3px;
    margin-top:3px;
}

.moveableItem tr
{
	border:collapse;
}

.moveableTitleItem
{
	font-weight:bold;
	background-color:#B6C9E7;
}
img
{
	border:none 0px white;
}
.helpicon
{
	border-style:none;
	height:16px;
	width:16px
}
a.helpicon
{
	border-style:none;
	background-image: url(../images/help_out_lt.gif);
}
a.helpicon:hover, a.helpicon:active 
{
	background-image:url(../images/help_hover.gif);
	cursor:help;
}
.tableBorder /* This is the outline round the main forum tables */
{
/*    border: 1px #B2B2B2 solid;  */
    border: 1px outset;
    background-color: #FFFFFF;
}
#checkmarktrue
{
	height:15px;
	width:16px;
	border:solid 1px red;
	background-image:url(../../themes/default/images/checkmark.gif);
}

/* GrayGrid CA Grid Formatting */
#GrayGrid .Grid 
{ 
  border: 1px solid #57566F; 
  border-bottom: 2px solid #57566F; 
  background-color: #FFFFFF;
  cursor:default;
}

#GrayGrid .GridHeader
{
  background-image: url(../images/caimages/grid_headerBgBlue.gif); 
  background-color: #AABBDD; 
  border-bottom: 1px solid #57566F; 
  height: 28px;
  padding-left: 3px;
  padding-right:3px;
  cursor:default;
}

#GrayGrid .GridHeaderText
{
  color: #FFFFFF;  
  font-family: verdana; 
  font-size: 10px;
}

#GrayGrid .GridFooter
{
  cursor: default; 
  padding: 5px;
  vertical-align: bottom;
}

#GrayGrid .GridFooterText
{
  color: #000000;  
  font-family: verdana; 
  font-size: 11px;
}

#GrayGrid .HeadingRow 
{ 
  background-color: #E9E9EB; 
  background-image: url(../images/caimages/header_rowBg.gif);   
}

#GrayGrid .HeadingCell 
{ 
  background-image: url(../images/caimages/header_bg.gif);   
  background-color: #E9E9EB; 
  padding: 3px; 
  padding-top: 2px; 
  padding-bottom: 2px; 
}

#GrayGrid .HeadingCellHover
{ 
  background-image: url(../images/caimages/header_hoverBg.gif);   
  background-color: #F6F6F7; 
}

#GrayGrid .HeadingCellActive
{ 
  background-image: url(../images/caimages/header_activeBg.gif);   
  background-color: #F6F6F7; 
  
}

#GrayGrid .HeadingRow td.FirstHeadingCell
{ 
  background-image: url(../images/caimages/header_bg.gif); 
}

#GrayGrid .HeadingCellText
{
  font-family: verdana; 
  font-size: 10px; 
  font-weight: bold; 
  text-align: left;
  padding-top: 3px;
  padding-bottom: 5px;
}

#GrayGrid .Row 
{ 
  background-color: #FFFFFF; 
  cursor: default;
}

#GrayGrid .Row td.DataCell 
{ 
  padding: 3px; 
  padding-top:4px;
  border-bottom: 1px solid #EAE9E1; 
  font-family: verdana; 
  font-size: 10px; 
} 

#GrayGrid .SortedDataCell 
{ 

} 

/* use for command cols */
#GrayGrid .Row td.LastDataCell
{
} 

#GrayGrid .SelectedRow 
{ 
}

#GrayGrid .SelectedRow td.DataCell 
{ 
  background-color: #EFEFF4; 
  padding: 3px; 
  padding-top: 3px; 
  padding-bottom: 3px; 
  font-family: verdana; 
  font-size: 10px; 
  border-bottom: 1px solid #4B4B6F; 
  border-top: 1px solid #4B4B6F; 
  border-right: 0px; 
}

#GrayGrid .SelectedRow td.FirstDataCell 
{ 
  background-color: #EFEFF4; 
  border-left: 1px solid #4B4B6F; 
  border-right: 0px; 
  padding-left: 2px; 
  padding-right: 3px; 
}
#GrayGrid .AlternatingRow td.FirstDataCell 
{ 
}
#GrayGrid .Row td.FirstDataCell 
{ 
}

#GrayGrid .SelectedRow td.LastDataCell 
{ 
  background-color: #EFEFF4; 
  border-right: 1px solid #4B4B6F; 
  border-left: 0px; 
  padding-left: 3px; 
  padding-right: 2px; 
}



#GrayGrid .AlternatingRow td.DataCell 
{ 
  background-color: #F5F5F5; 
  padding: 3px; 
  padding-top: 4px; 
  border-bottom: 1px solid #EAE9E1; 
  font-family: verdana; 
  font-size: 10px; 
}
#GrayGrid .AlternatingRow td.LastDataCell 
{ 
}



#GrayGrid .GroupHeading
{
  color: #706F91; 
  background-color: #FFFFFF; 
  font-family: verdana; 
  font-weight: bold;
  font-size: 11px; 
  border-bottom: 2px solid #A5A4BD; 
  padding-top: 10px;
  padding-bottom: 3px;
}

#GrayGrid .GroupByCell
{
  cursor: pointer;
}

#GrayGrid .GroupByText
{
  color: #FFFFFF; 
  font-size: 11px;   
  font-weight: bold; 
  padding-right: 5px;
}

#GrayGrid .SelectedRow
{
    background-color: #EFEFF4;
}

.ScrollBar
{
  background-image: url(../images/caimages/scroller/scroller_bg.gif); 
}

.ScrollGrip
{
  background-image: url(../images/caimages/scroller/scroll_gripBg.gif); 
}

.ScrollPopup
{
  background-color: #FFFFFF; 
  border: 1px solid #666666;
  border-right-width: 2px;
  border-bottom-width: 2px;
  height: 23px;
}

.GraySliderPopup
{
  background-color: #EFEFF4; 
  border: 1px solid #4B4B6F; 
  border-top-color: #9495A2; 
  border-left-color: #9495A2; 
  width: 288px;
  height: 60px;
}

.disabled
{
  display:none;
}

/* end CA Sample Formatting */
    
#Actions
{
	padding-top:10px;
	padding-bottom:10px;
}
#Filters
{
	padding-top:10px;
	padding-bottom:10px;
	text-align:right;
}

/* BEGIN TreeView for CP Photos Manage Categories */
.TreeView {  PADDING-LEFT: 1px; CURSOR: default; PADDING-TOP: 4px; }
.TreeNode { PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; PADDING-TOP: 2px; FONT-FAMILY: tahoma }
.GrayedTreeNode { PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; CURSOR: default; COLOR: gray; PADDING-TOP: 2px; FONT-FAMILY: tahoma }
.HoverTreeNode { PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; CURSOR: default; PADDING-TOP: 2px; FONT-FAMILY: tahoma; TEXT-DECORATION: underline }
.SelectedTreeNode { PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; CURSOR: default; COLOR: white; PADDING-TOP: 2px; FONT-FAMILY: tahoma; BACKGROUND-COLOR: gray }
.NodeEdit { BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; FONT-SIZE: 11px; BORDER-LEFT: gray 1px solid; BORDER-BOTTOM: gray 1px solid; FONT-FAMILY: tahoma }
.FloatRight { FLOAT: right }
.MenuGroup { BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; BORDER-LEFT: gray 1px solid; BORDER-BOTTOM: gray 1px solid; BACKGROUND-COLOR: white }
.MenuItem { FONT-SIZE: 10px; CURSOR: default; COLOR: black; FONT-FAMILY: MS Sans Serif, Verdana }
.MenuItemHover { FONT-SIZE: 10px; CURSOR: default; COLOR: black; FONT-FAMILY: MS Sans Serif, Verdana; BACKGROUND-COLOR: silver }
.MenuBreak { PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px }
/* END TreeView for CP Photos Manage Categories */



/* BEGIN ComponentArt Date Picker & Popup Calendar */
.calendar_button { border:none; cursor:pointer; }

.picker
{
  background-color: #FFFFFF;
  border: 1px gray solid;
  font-size: 12px;
  font-weight: bold;
  font-family: "Verdana",monospace;
  padding: 2px;
  cursor: pointer;
}

.calendar td { font-size:11px; }

.title { font-weight:bold; background-color:#D7D7E5; }

.day
{
	width:25px;
	cursor:pointer;
	text-align:center;
	border-width:1px;
	border-color:#F6F6F6;
	border-style:solid;
}

.dayhover
{
	width:25px;
	cursor:pointer;
	text-align:center;
	text-decoration:underline;
	border-width:1px;
	border-color:#F6F6F6;
	border-style:solid;
}

.dayheader
{
	width:25px;
	text-align:center;
	border-width:1px;
	border-color:white;
	border-style:solid;
	font-weight:bold;
	background-color:#FFFFFF;
}

.othermonthday { color:#999999; }

.outofrangeday { visibility:hidden; }

.selectedday
{
	width:25px;
	background-color:#FBE694;
	color:#000000;
	border-width:1px;
	border-color:#BB5503 !important;
	border-style:solid;
	font-weight:bold;
}

.calendar
{
	border-style:solid;
	border-width:1px;
	border-color:Black;
	border-collapse:collapse;
	background-color:#FFFFFF;
	cursor:default;
}

.month
{
	background-color:#F6F6F6;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
	margin-top:0px;
}

.nextprev
{
	cursor:pointer;
	height:25px;
	vertical-align:center;
	padding:0px 5px 0px 5px;
}

.selector
{
	width:14px;
	cursor:pointer;
	text-align:left;
	vertical-align:center;
	background-color:#FFFFFF;
}
/* END ComponentArt Date Picker & Popup Calendar */


/* START CSS PopUp Menu */
#GridWithMenu ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#GridWithMenu li {
	float: left;
	position: relative;
	width: 9em;
	cursor: Hand;
	color: #006;
}

#GridWithMenu li ul {
	background-color: #E9E9EB;
	display: none;
	position: absolute;
	top: 0em;
	left: 5em;
	list-style: none;
	padding: 0.5em 0 1em 0;
	border: 1px solid #000000;
	}

#GridWithMenu li>ul { /* to override top and left in browsers other than IE, which will position to the top right of the containing li, rather than bottom left */
	top: auto;
	left: auto;
}

#GridWithMenu li.PopupMenu_Over ul {
	display: block;
}

#GridWithMenu li li a {
	display: block;
	font-weight: normal;
	color: #006;
	padding: 0.2em 2px;
}

#GridWithMenu li li a:hover 
{
	padding: 0.2em 2px;
	color: #600;
}
/* END CSS PopUp Menu */

/* START Settings style Table Formatting */
table.settings { background-color: #CCCCCC; margin-top: 4px; margin-bottom: 8px; }
	/* Settings Label */
td.sl { COLOR: #333; vertical-align:top; background-color: #FFFFFF;  font-size: small; }
td.sl_small { COLOR: #333; vertical-align:top; background-color: #FFFFFF;  font-size: x-small; }
	/* Settings Data */
td.sd { COLOR: #333; vertical-align:top; background-color: #F0F0F0; font-weight: normal; font-size: small; }
td.sd label, .lbl {font-weight:normal; font-size: small;}
/* END Settings style Table Formatting */
