.CommonSidebarInnerArea 
{ 
    background-image: none; 
}

.CommonSidebarRoundBottom .r1, .CommonSidebarRoundBottom .r2, .CommonSidebarRoundBottom .r3, .CommonSidebarRoundBottom .r4 
{ 
    background-image: none; 
}

#CommonNavigation 
{ 
    background-image: none; 
}

#CommonNavigationShadow 
{ 
    background-image: none; 
    border-bottom: solid 1px #000; 
}

.ForumPostHeader 
{ 
    background-image: none; 
}

.CommonModal1, .CommonModal2, .CommonModal3, .CommonModal4, .CommonModal5 
{
    background-image: none;
}

.CommonBreadCrumbArea
{
    background-image: none; 
    border-top: solid 1px #000; 
}