/*
File overrides
*/


/*
File styles
*/


/*
List Styles
*/

.FileListCellLeftMostImageOnly
{
	padding: 4px;
	border: solid 1px #000;
	border-top-width: 0px;
	border-right-width: 0px;
	color: #000;
	width: 20px;
}

/*
File Display
*/

.FileFileName
{
	font-weight: bold;
	font-size: 110%;
}

.FileFileDescription
{
	margin: 2px 0;
	padding-left: 20px;
}

.FileFileRating
{
	margin-top: 2px;
	padding-left: 20px;
}

.FileFileDetail
{
	color: #000;
	margin: 2px 0;
}

.FileFileArea
{
	margin: 16px 0 32px 0;
}

.FileFilePropertiesArea
{
	padding: 0 8px 8px 8px;
	border-top: solid 1px #000;
}

.FilePropertyName
{
	width: 20%;
	font-size: 80%;
	font-weight: bold;
	border-bottom: solid 1px #000;
	height: 36px;
}

.FileProperty
{
	width: 30%;
	font-size: 80%;
	border-bottom: solid 1px #000;
	height: 36px;
}

.FileFileDescriptionArea
{
	font-size: 90%;
	padding: 8px;
	vertical-align: top;
}

/*
Columns
*/

.FileFolderNameAndImageHeader
{
}

.FileFolderFileCountHeader
{
	text-align: center;
}

.FileFolderCommentCountHeader
{
	text-align: center;
}

.FileFolderImageColumn
{
	width: 20px;
}

.FileFolderNameColumn
{
	width: 60%;
}

.FileFolderFileCountColumn
{
	text-align: center;
	width: 20%;
}

.FileFolderCommentCountColumn
{
	text-align: center;
	width: 20%;
}

.FileFileNameHeader
{
}

.FileFileDateHeader
{
	text-align: center;
}

.FileFileDownloadCountHeader
{
	text-align: center;
}

.FileFileActionHeader
{
	text-align: center;
}


.FileFileNameColumn
{
	width: 55%;
}

.FileFileDateColumn
{
	text-align: center;
	width: 15%;
}

.FileFileDownloadCountColumn
{
	text-align: center;
	width:10%;
}

.FileFileActionColumn
{
	text-align: center;
	width: 20%;
	padding-top: 8px;
}

.FilePortalListNameHeader
{
}

.FilePortalListDownloadCountHeader
{
	text-align: center;
}

.FilePortalListActionHeader
{
	text-align: center;
}


.FilePortalListNameColumn
{
	width: 50%;
}

.FilePortalListDownloadCountColumn
{
	text-align: center;
	width:25%;
}

.FilePortalListActionColumn
{
	text-align: center;
	width: 25%;
	padding-top: 8px;
}