/*
Gallery Style Overrides
*/

.CommonVerticalScroll
{
	overflow:-moz-scrollbars-vertical;
	overflow-x:hidden;
	overflow-y:scroll; 
}
.CommonHorizontalScroll
{
	overflow:-moz-scrollbars-horizontal;
	overflow-x:scroll; 
	overflow-y:hidden;
}

/*
Sidebar Styles
*/


/*
Content Styles
*/

UL.GalleryList
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.GalleryGalleryArea
{
	margin: 8px;
	border: solid 0 #000;
	border-bottom-width: 1px;
}

.GalleryGalleryHeader
{
	color: #000;
	font-size: 150%;
	font-weight: normal;
	padding: 4px 4px 4px 0;
	margin: 0;
}

.GalleryGalleryContent
{
	color: #000;
	font-size: 80%;
}

UL.GalleryImageList
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

UL.GalleryImageList LI
{
	float: left;
}

.GalleryGalleryImage
{
	margin: 4px 4px 4px 0;
	padding: 3px;
	border: solid 1px #000;
	width: 100px;
	height: 100px;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}

.GalleryGalleryFooter
{
	clear: both;
	margin: 10px 0 10px 1px;
	color: #000;
}

/* Header */

.SendGallery
{
	float: right;
	width:auto;
}

.OwnerAvatar img
{
	margin: 0 10px 0 0;
}

.OwnerAvatar img
{
	border: solid 1px #000;
	padding: 1px;
}

h5.CommonSubTitle
{
	font-weight: normal;
	margin: 0;
	padding: 2px 0 0 0;
	color: #000;
	font-size: 110%;
}
/* END Header */

/* Float Helpers */

.ClearLeft
{
	line-height: 0px;
	clear: left;
	height: 0px;
	width: 0px;
	padding:0;
	margin:0;
}

.MinWidth
{
	width:520px;
	min-width:520px;
}

BODY
{
	min-width:520px;
}

/* END Float Helpers */

.SidebarPhotoBox
{
	margin: 0 auto;
	text-align:center;
}

.SidebarPhotoBox a
{
	border-width: 0;
}

.SidebarPhotoBox img
{
	border: solid 1px #000;
	padding: 2px;
}

.SidebarItemDescription
{
	font-style: italic;
}

.SidebarItemText
{
	color: #000;
}

.SelectedTreeNode a:link, .SelectedTreeNode a:visited, .SelectedTreeNode a:hover, .SelectedTreeNode a:active 
{
	color: #000;
}

.SidebarPrevNext
{
	padding-top: 5px 0;
}

.AlbumIcon
{
	height:16px;
	width:16px;
	background-image: url(../Images/file/folder.gif);
}

/* END SideBar */

/* Content Area */

.ContentHeader
{
	font-size: 130%;
	color: #000;
	padding: 0 0 3px 0;
	margin: 0;
}

.CommonBodyContent
{
	padding-left:20px;
	padding-bottom:10px;
}

.BreadcrumbList
{
	padding-bottom:10px;
	color: #000;
}

.boldtext
{
	font-weight: bold;
}

/* Contact Sheet */

.PictureList
{
	padding: 0;
	margin: 0;
	margin-left: 0px !important;
	margin-left: -20px;
	display:block;
}

.PictureListPager 
{
	text-align: right;
	float:right;
	margin-right: 10px;
	font-size: 100%;
}

.PictureListPager a
{
	font-weight: bold;
}

.PictureListControls
{
	font-size: 80%;
	text-align: left;
	margin: 0;
	clear: both;
}

div.pic
{
	float: left;
	height: 81px;
	width: 81px;
	margin: 0px 10px 20px 10px;
	border: solid 1px #000;
	overflow:hidden;
	padding: 0px;
	text-align: center;
}

div.pic span 
{
	margin: 3px;
	display: block;
	height: 75px;
	width: 75px;
	overflow:hidden;
}

div.pic a
{
	padding: 0;
}

div.pic img
{
	border: none;
}

/* END Contact Sheet */

/* Picture Details */

div.PictureDetail
{
	text-align: left;
}

div.PictureDetail span 
{
}

div.PictureDetail img{
	border: solid 1px #000;
	padding: 3px;
}

div.PictureDescription
{
	margin: 24px 0 16px 0;
}

/* END Picture Details */

/* END Content Area */

.photodetailoptions
{
	margin-left: 8px;
	font-size: 80%;
}

.viewexif
{
	display: none;
}

.viewsizes
{
	display: none;
}
.viewcomments
{
	display: none;
}

div#ViewSizes
{
	display: none;
}

#ViewExif ul
{
	display: none;
}

.emtext
{
	font-style: italic;
}

#comments dl
{
	margin-top: 10px;
	margin-right: 40px;
	margin-bottom: 0px;
	margin-left: 20px;
	padding-top: 0px;

}
