.MenuGroup
{
  background-color:white;
  border-width:1px; 
  border-color:#7E7E81; 
  border-style:solid;
  cursor:default; 
}

.MenuItem
{
  color:black; 
  font-family: Arial, Helvetica; 
  font-size:11px; 
  margin:1px; 
  cursor:default; 
  background-color: Transparent;
}

.MenuItemHover 
{
  background-color:#e2eecd; 
  color:black; 
  font-family: Arial, Helvetica; 
  font-size:11px; 
  border-width:1px; 
  border-color:#dddddd; 
  border-style:solid;
  cursor:default; 
}

.MenuBreak
{
  background-image:url(../../images/readerimages/menu_images/break_bg.gif);
  width:100%;
  height:1px;
}