/* override to ensure panels can be resized to window appropriately */
#PanelContentContainer
{
	table-layout: fixed;
}

/* Folder Listing Styles */
.FolderListPane
{
	margin-left: 2px;
	margin-right: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.PostListPane
{
	margin-right: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.PostDisplayPane
{
	margin-right: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
}


.FeedStatusContainer
{
	border: dashed 1px #656565;
	background-color: #ffff70;
	text-align: left;
	padding: 4px;
	float: none;
}

.FeedStatusContainerHidden
{
	display: none;
}

.FolderListHeading
{
	padding: 2px;
	border: #7C7C94 1px solid; 
	font-family: Arial, Helvetica;
	font-size: 11px;
	color: #000000;
	text-align: center;
	background-color: #bbbbbb;
	background-image: none;
	border-style: none;
	border-width: 0px;
	padding: 4px;
	
	font-weight: normal;
	font-size: 90%;
	margin: 0px;
}

.FolderListingContainer
{
	overflow: hidden;
	width: 100%;
	
}

.collapsed
{
	display:none;
}

/* Post Listing Styles */
.PostListHeading
{
	padding: 2px;
	border: #7C7C94 1px solid; 
	font-family: Arial, Helvetica;
	font-size: 11px;
	color: #000000;
	text-align: center;
	background-color: #bbbbbb;
	background-image: none;
	border-style: none;
	border-width: 0px;
	padding: 4px;
	
	font-weight: normal;
	font-size: 90%;
	margin: 0px;
}

.PostListingContainer
{
	font-family: Arial, Helvetica;
	font-size: 8pt;
	vertical-align: top;
	text-align: left;
	white-space: nowrap;
	overflow: auto;
	width: 100%;
	
}

.PostListingItemHover
{

	vertical-align: middle;
	padding: 6px;
	background-color: #e2eecd;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 4px 8px;
}

.AlternatePostListingItemHover
{
	vertical-align: middle;
	padding: 6px;
	background-color: #e2eecd;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 4px 8px;
}

.AlternatePostListingItemHoverUnread
{
	font-weight: bold;
	vertical-align: middle;
	padding: 6px;
	background-color: #e2eecd;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 4px 8px;
}

.PostListingItemHoverUnread
{
	font-weight: bold;
	vertical-align: middle;
	padding: 6px;
	background-color: #e2eecd;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 4px 8px;
}

.PostListingItemSelected
{
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	vertical-align: middle;
	padding-top: 5px;
	background-color: #e2eecd;
	cursor: pointer;
	border: solid 1px #dddddd;
	background-repeat: no-repeat;
	background-position: 4px 8px;
}

.PostListingItem
{
	padding: 6px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: 4px 8px;
}

.PostListingItemUnread
{
	font-weight: bold;
	padding: 6px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: 4px 8px;
}

.AlternatePostListingItem
{
	padding: 6px;
	vertical-align: middle;
	background-color: #f4f4f4;
	background-repeat: no-repeat;
	background-position: 4px 8px;
}

.AlternatePostListingItemUnread
{
	font-weight: bold;
	padding: 6px;
	vertical-align: middle;
	background-color: #f4f4f4;
	background-repeat: no-repeat;
	background-position: 4px 8px;
}

/* Post Display Styles */

.PostDisplayHeader
{
	padding-bottom: 8px;
	border-bottom: solid 1px #999999;	
	width: 100%;
	overflow: hidden;
}

.PostDisplayContainer
{
	padding: 8px;
	border: #7C7C94 1px solid; 
	font-family: Arial, Helvetica;
	font-size: 8pt;
	vertical-align: top;
	overflow:hidden;
	background-color: #999999;
	text-align: left;	
}

.PostDisplayBody
{
	background-color: #ffffff;
	padding: 8px;
	border: black 1px solid;
}

.PostDisplayTitle
{
	color: #aaa;
	font-size: 12pt;
	font-family: Arial, Helvetica;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
}

.PostDisplayTitle a:link, .PostDisplayTitle a:visited, .PostDisplayTitle a:active, .PostDisplayTitle a:hover
{
	color: #aaa;
	font-size: 12pt;
	font-family: Arial, Helvetica;
	font-weight: bold;
}

.PostDisplayDescription
{
	padding-top: 8px;
	padding-bottom: 12px;
	overflow: auto;
	line-height: 15px;
}

.PostDisplayDescription p
{
	margin-bottom: 18px;
}

.PostDisplayPubDate
{
	margin-top: 6px;
	margin-bottom: 6px;
	color: #666666;
	font-family: Arial, Helvetica;
	white-space: nowrap;
}

.PostDisplayCommentsUrl
{
}

/* View Post Styles */
.ViewPostDisplayHeader
{
	padding-bottom: 8px;
	border-bottom: solid 1px #7C7C94;	
}

.ViewPostDisplayContainer
{
	padding: 8px;
	border: #7C7C94 1px solid; 
	font-family: Arial, Helvetica;
	font-size: 8pt;
	vertical-align: top;
	overflow:auto;
	background-color: #656565;
	text-align: left;	
}

.ViewPostDisplayBody
{
	background-color: #ffffff;
	padding: 8px;
	border: black 1px solid;
}

.ViewPostDisplayTitle
{
	color: #ef6522;
	font-size: 12pt;
	font-family: Arial, Helvetica;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
}

.ViewPostDisplayTitle a
{
	color: #ef6522;
	font-size: 12pt;
	font-family: Arial, Helvetica;
	font-weight: bold;
}

.ViewPostDisplayDescription
{
	padding-top: 8px;
	padding-bottom: 12px;
	overflow: auto;
}

.ViewPostDisplayPubDate
{
	padding-top: 8px;
	font-style: italic;
	white-space: nowrap;
}

.ViewPostDisplayCommentsUrl
{
}

/* Roller Styles */
.RollerPostHeader
{
	color: #738AC4;
	font-size: 150%;
	font-weight: normal;
	font-family: Arial, Helvetica;
	padding: 0px;
	padding-top: 0px;
	padding-left: 0px;
	margin: 0px;
}

.RollerPostListingContainer
{
	margin-left: 12px;
	padding: 8px;
}

.RollerPostFooter
{
	margin: 10px 0px 10px 1px;
	color: #666666;
	font-family: Arial, Helvetica;
	font-size: 80%;
	font-style: italic;
}

UL.BlogPostList
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.BlogPostArea
{
	padding-bottom: 8px;
	margin-bottom: 8px;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: #cccccc;
}

.BlogRating
{
	width: 80px;
	height: 80px;
	margin: 5px 10px 0px 0px;
	background-color: #FFF799;
	vertical-align: top;
	text-align: center;
	padding: 8px 2px 2px 2px; 
	font-family: Arial, Helvetica;
	background-image: url(../../images/Common/blog_comment_background.gif);
	line-height: 20px;
}

.BlogCommentCount
{
	font-size: 22px;
	font-weight: bold;
	font-family: Arial, Helvetica;
}

.BlogPostContent
{
	color: #000000;
	font-family: Arial, Helvetica;
	margin-left: 1px;
	font-size: 100%;
	line-height: 20px;
	text-align: justify;
}

.BlogPostFooter
{
	margin: 10px 0px 10px 1px;
	color: #666666;
	font-family: Arial, Helvetica;
	font-size: 80%;
}

p
{
	padding: 0px;
	margin: 4px 0px 0px 0px;
}

/* Feed Summary Styles */
.FolderSummaryContainer
{
	overflow: auto;
}

/* Most Active Styles */
.MostActiveArticlesContainer
{
	border: 1px solid #d3d3d3;
	background-color: #eeeeee; 
	padding: 8px;
}

.MostActiveArticlesHeader
{
	font-weight: bold;
	font-size: 10pt;
	margin-bottom: 10px;
}

.MostActiveArticlesTitle
{
	font-weight: bold;
	margin-bottom: 12px;
}

/* Feed Property Styles */
.FeedPropertiesContainer
{
	overflow: auto;
	width: 100%;
}

/* Most Recent Styles */
.MostRecentArticlesContainer
{
	border: 1px solid #d3d3d3;
	background-color: #eeeeee; 
	padding: 8px;
}

.MostRecentArticlesHeader
{
	font-weight: bold;
	font-size: 10pt;
	margin-bottom: 10px;
}

.MostRecentArticlesTitle
{
	font-weight: bold;
	margin-bottom: 12px;
}

/* Post Summary Styles */
.PostSummaryHeader
{
	font-weight: bold;
	font-size: 10pt;
	margin-bottom: 15px;
}

.PostSummaryItem
{
	border-bottom: solid 1px #eeeeee;
	padding: 12px 4px 4px 4px;
}

.AlternatePostSummaryItem
{
	border-bottom: solid 1px #eeeeee;
	padding: 12px 4px 4px 4px;
}

.PostSummaryTitle
{
	font-weight: bold;
	margin-bottom: 12px;
}

.PostSummaryBody
{
}

.PostSummaryPubDate
{
	color: #666666;
	font-family: Arial, Helvetica;
	font-size: 80%;
}


.FeedSummaryTitle
{
	font-weight: bold;
	margin-bottom: 12px;
}

.FeedSummaryContainer
{
	overflow: auto;
}

.FeedSummaryBody
{
}

.FeedSummaryPubDate
{
	color: #666666;
	font-family: Arial, Helvetica;
	font-size: 80%;
}

.FeedSummaryItem
{
	padding-bottom: 12px;
	border-bottom: solid 1px #eeeeee;
	margin-bottom: 12px;
}


/* Splitter Styles */
.SplitterBar
{ 
	border: 1px solid #bbbbbb;
	border-top-width: 0px;
	border-bottom-width: 0px;
	background-color: #f4f4f4;
}

.SplitterBarCollapsed
{
	border: 0px solid #bbbbbb;
	border-right-width: 1px;
	background-color: #f4f4f4;
}

.ActiveSplitterBar
{
  background-color: #000000;  
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60); 
  opacity: 0.6;
}

.SplitterPane
{
}
