.TreeView 
{ 
  background-color:White;
  cursor:default; 
}

.TreeNode 
{ 
  font-family: Arial, Helvetica; 
  font-size: 11px; 
  padding: 2px; 
  padding-left: 3px;
}

.UnreadTreeNode
{
  font-family: Arial, Helvetica; 
  font-size: 11px; 
  font-weight: bold;
  padding: 2px;
  padding-left: 3px;
}

.CategoryTreeNode 
{ 
  font-family: Arial, Helvetica; 
  font-size: 11px; 
  padding: 2px; 
  padding-left: 3px;
  font-weight:bold;
}

.GrayedTreeNode 
{ 
  font-family: Arial, Helvetica; 
  font-size: 11px; 
  padding: 2px; 
  padding-left: 3px;
  color:gray; 
  cursor:default;
}

.HoverTreeNode 
{ 
  font-family: Arial, Helvetica; 
  font-size: 11px; 
  padding: 2px;
  padding-left: 3px;
  cursor: default; 
  background-color: #e2eecd;
}

.UnreadHoverTreeNode 
{ 
  font-family: Arial, Helvetica; 
  font-size: 11px; 
  font-weight: bold;
  padding: 2px;
  padding-left: 3px;
  cursor: default; 
  background-color: #e2eecd;
}

.SelectedTreeNode 
{ 
  font-family: Arial, Helvetica; 
  font-size: 11px; 
  background-color: #e2eecd; 
  padding: 1px; 
  cursor: default; 
  border: solid 1px #dddddd;
  
}

.NodeEdit 
{
  border:1px gray solid;
  font-family: Arial, Helvetica; 
  font-size: 11px;
}
