<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="master.Master" %>

<asp:Content ContentPlaceHolderID="HeaderRegion" runat="server" >
    <CSControl:SelectedNavigation Selected="home" runat="Server" />
    <head runat="server">
    <CSControl:Head runat="Server">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <CSControl:Style runat="server" visible = "true" />
        <CSControl:Style runat="server" Href="../style/common.css" />
        <CSControl:Style runat="server" Href="../style/forum.css" />
		<CSControl:Style runat="server" Href="../style/gallery.css" />
		<CSControl:Style runat="server" Href="../style/common_print.css" media="print" />
        <CSControl:Style runat="server" Href="../style/forum_print.css" media="print" />
		<CSControl:Style runat="server" Href="../style/DynamicStyle.aspx" EnsureNotCachedOnPreview="true" />
    </CSControl:Head>
    </head>
</asp:Content>

<asp:Content ContentPlaceHolderID="bcr" runat="server">
    <asp:ContentPlaceHolder id="bcr" runat="server" />
</asp:Content>

<asp:Content ContentPlaceHolderID="rcr" runat="server" >
	<asp:ContentPlaceHolder ID="rcr" runat="server" />
</asp:Content>
