/*
Overrides
*/

#CommonFooter
{
	margin: 0px;
	padding: 0px;
	
	
	display: none;
}

#CommonHeader
{
	padding: 0px;
	margin: 0px;
	height: 0px;
	
	
	display: none;
}

#Common
{
	padding:0px;
	margin: 0px;
	
	
	
}

BODY
{
	
	margin: 0px;
	padding: 0px;
	
	
}

.CommonContentArea
{
	padding: 0px;
	
	margin: 0px;
	padding-top: 4px;
	
}

.CommonContent
{
	
	
}

/*
Modal Styles
*/

